{% extends "layout.html" %}

{% block page_title %}
  The documents you'll need
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="content-inner slides">
      <div class="grid-row">
        <div class="column-one-third">

          <p>&nbsp;</p>
          
        </div>
        <div class="column-two-thirds">
          
          <h1 class="heading-large">The documents you'll need</h1>
          
          <ul class="list list-bullet">
            <li>site plan</li>
            <li>site condition report</li>
            <li>fire prevention plan</li>
            <li>certificate or assessment to prove your technical ability</li>
            <li>written management system</li>
          </ul>
          
          <div class="actions">
            <p>
              <a class="button" href="site-plan" role="button">Next</a>
            <span class="after-button">site plan</span>
          </p>
          </div>
          
        </div>
        
      </div>
  </div>

</main>

{% endblock %}
