

<p>The fire prevention plan shall as a minimum specify the:</p>
<ul class="list list-bullet">
  <li>total amount of waste (tonnes and cubic metres) that will be stored on-site at any one time and, if more than one type of waste is to be stored on site, the total amount of each type of waste</li>
  <li>maximum time each type of waste will be stored on site</li>
  <li>method of storage of each type of waste</li>
  <li>maximum volume of each waste pile in cubic metres and the number of piles</li>
  <li>location within the site where each type of waste will be stored</li>
  <li>maximum size of any waste pile stack, stipulating the maximum height, width and depth in metres;
  <li>minimum separation (fire break) distance between waste piles or storage areas</li>
  <li>full details of the design and construction of fire walls, if fire walls are used in place of fire breaks</li>
  <li>steps put in place to prevent and minimise the risk of a fire or of its spreading within the site or from the site</li>
  <li>steps put in place to extinguish a fire if one starts</li>
  <li>steps and procedures to be followed if a fire occurs on site, including how the impact or emissions from a fire that may affect people or the environment will be minimised</li>
  <li>provisions made to enable safe access to the site for emergency responders, and how the impact on people and the environment from fighting the fire will be minimised</li>
</ul>

<p>There will be other aspects you will have to cover in your fire prevention plan for example the type of operation, the scale of it and the location.</p>
    
<p>Read the <a href="https://www.gov.uk/government/publications/permitted-sites-fire-prevention-plans">fire prevention plan guidance (opens new window)</a> for further details.</p>
