{% extends "layout.html" %}

{% set title = "Check your answers before sending your application" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
<h1 class="heading-large">{{title}}</h1>


  <h2 class="heading-medium">
    Before you apply
  </h2>

  <dl class="govuk-check-your-answers cya-questions-short">  
    <div>
      <dt class="cya-question">
     Read rules
      </dt>
      <dd class="cya-answer">
      {{permit.readRules}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/read-rules/index"> 
        Change <span class="visuallyhidden">read rules</span>
        </a>
      </dd>
    </div> 

    <div>
      <dt class="cya-question">
      Pre-application discussion
      </dt>
      <dd class="cya-answer">
      {{permit.preAppDiscussion}} <!-- {{permit.preAppDiscussionRefName}} --> 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/preapp/preapp-discussion"> 
        Change <span class="visuallyhidden">pre-application discussion</span>
        </a>
      </dd>
    </div>

  </dl>


  <h2 class="heading-medium">
    Complete application
  </h2> 

<dl class="govuk-check-your-answers cya-questions-short">

    <div>
      <dt class="cya-question">
      Contact details
      </dt>
      <dd class="cya-answer">
      {{permit.contactFirstName}} {{permit.contactLastName}}<br>
             {% if permit.isContactAnAgent == "yes" %}
              This person is an agent or consultant<br>
             {% endif %}
             Telephone {{permit.contactTelephone}}<br>
             {{permit.contactEmail}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/preapp/preapp-discussion"> 
        Change <span class="visuallyhidden">Contact details</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Permit holder type
      </dt>
      <dd class="cya-answer">
      {{permit.operatorType}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/site-operator"> 
        Change <span class="visuallyhidden">permit holder type</span>
        </a>
      </dd>
    </div>

{% if permit.operatorType=="Limited company" %}
    <div>
      <dt class="cya-question">
      Company name
      </dt>
      <dd class="cya-answer">
      {{permit.companyName}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/company/company-name"> 
        Change <span class="visuallyhidden">company name</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Company address
      </dt>
      <dd class="cya-answer">
      {{permit.companyAddress}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/company/company-name"> 
        Change <span class="visuallyhidden">company address</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Company directors' dates of birth
      </dt>
      <dd class="cya-answer">
            {% for d in permit.director %}
            {{ d }}
            {{ permit.directorDobDay[d]}}{{ permit.directorDobRest[d]}}
            <br>
          {% endfor %}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/company/company-name"> 
        Change <span class="visuallyhidden"> dates of birth</span>
        </a>
      </dd>
    </div>

{% endif %}

{% if permit.operatorType=="Individual" %}

    <div>
      <dt class="cya-question">
      Individual's name
      </dt>
      <dd class="cya-answer">
      {{permit.individualName}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/individual/individual-details"> 
        Change <span class="visuallyhidden"> individual's name</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Individual's address
      </dt>
      <dd class="cya-answer">
      {{permit.individualAddress}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/operator/individual/postcode"> 
        Change <span class="visuallyhidden"> Individual's address</span>
        </a>
      </dd>
    </div>

{% endif %}

    <div>
      <dt class="cya-question">
      Relevant offences
      </dt>
      <dd class="cya-answer">
      {{permit.offences}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/declare-offences"> 
        Change <span class="visuallyhidden"> relevant offences</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Bankruptcy or insolvency
      </dt>
      <dd class="cya-answer">
      {{permit.bankruptcyInsolvency}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/bankruptcy-insolvency"> 
        Change <span class="visuallyhidden"> bankruptcy or insolvency</span>
        </a>
      </dd>
    </div>

     <div>
      <dt class="cya-question">
      Site name
      </dt>
      <dd class="cya-answer">
      {{permit.siteName}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/site/site-name"> 
        Change <span class="visuallyhidden">site name</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Grid reference for the site
      </dt>
      <dd class="cya-answer">
      {{permit.siteGridRef}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/site/grid-reference"> 
        Change <span class="visuallyhidden">grid reference</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Site address
      </dt>
      <dd class="cya-answer">
      {{permit.siteAddress}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/address/address"> 
        Change <span class="visuallyhidden">site address</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Site plan
      </dt>
      <dd class="cya-answer">
      {{permit.sitePlanFilename}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/upload-site-plan"> 
        Change <span class="visuallyhidden">site plan</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
        Scheme
      </dt>
      <dd class="cya-answer">
      {{permit.industryScheme}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/industry-scheme"> 
        Change <span class="visuallyhidden">scheme</span>
        </a>
      </dd>
    </div>

        <div>
      <dt class="cya-question">
        Certificate
      </dt>
      <dd class="cya-answer">
      {{permit.technicalCertificateFile}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/upload-scheme-certificate"> 
        Change <span class="visuallyhidden">certificate</span>
        </a>
      </dd>
    </div>

    <div>
      <dt class="cya-question">
      Management system
      </dt>
      <dd class="cya-answer">
      {{permit.manSys}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/management-system"> 
        Change <span class="visuallyhidden">management system</span>
        </a>
      </dd>
    </div>

    {% if permit.firePlanNeeded=="Yes" %}
    <div>
      <dt class="cya-question">
      Fire prevention plan filename
      </dt>
      <dd class="cya-answer">
      {{permit.firePlanFilename}}
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/evidence/upload-fire-plan"> 
        Change <span class="visuallyhidden">name</span>
        </a>
      </dd>
    </div>
    {% endif %}

    <div>
      <dt class="cya-question">
     Claim confidentiality
      </dt>
      <dd class="cya-answer">
      {{permit.confidential}} 
      </dd>
      <dd class="cya-change">
        <a href="/{{folder}}/check/claim-confidentiality"> 
        Change <span class="visuallyhidden">claim confidentiality</span>
        </a>
      </dd>
    </div>

  </dl>


<h2 class="heading-medium">
  Declaration
</h2>

<div class="form-group notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small text">
    You can be prosecuted and fined if you give false or misleading information.
  </strong>
</div>

<p class="text">
  I confirm that:
</p>
<ul class="list list-bullet">
  <li>the information I have given is true</li>
  <li>I am authorised to apply for this permit by the organisation or individual responsible</li>
</ul>

<div class="form-group">
  <p>
    <a target="_blank" rel="noopener noreferrer" href="/{{folder}}/pages/privacy">Privacy: how we use your personal information (opens new tab)</a>
  </p>
</div>


    <form method="post" action="{{formAction}}">

      <div class="form-group">
        <button type="submit" class="button" name="Submit and continue to payment ({{permit.permitCost}})">Submit and continue to payment ({{permit.permitCost}})
        </button> 
        <span class="pay-text">on the GOV.UK Pay site</span>
      </div>

    </form>



</main>

{% endblock %}
