{% extends "layout.html" %}

{% set title = "Operator details" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<form method="get" action="{{formAction}}">
    
<p class="lede">(Reason we ask for this; intro to the section)</p>

    <div class="form-group">
        <input type="submit" class="button" value="Continue">
    </div>
  </form>

    </div>
  </div>
</main>

{% endblock %}
