{% extends "layout.html" %}

{% set title = "What's their postcode?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  {{backlink|safe}}
  
  <div class="grid-row">
      <div class="column-two-thirds">


      <h1 class="heading-large" id="radio_label">{{title}}</h1>
      

      <form method="post" action="{{formAction}}">
        
        <fieldset>
          <legend class="visuallyhidden">Postcode</legend>

          <!-- Postcode look-up -->
          <div class="form-group">
            <label class="form-label" for="postcode">UK postcode
              <span class="form-hint">For example, BS1 5AH</span>
            </label>
            <input type="text" class="form-control form-postcode form-control-char-10" id="postcode" name="individualPostCode" value="{{permit.individualPostCode}}" />
          </div>

        </fieldset>


        <div class="form-group">
            {{submitButton|safe}}{{completeLink|safe}}
        </div>

      </form>

  <div class="form-group">
    <hr>
    <p class="text font-xsmall" id="os-notice">
    &copy; Crown copyright and database rights 2017 Ordnance Survey 100024198. Use of this addressing data is subject to the <a target="_blank" rel="noopener noreferrer" href="/{{folder}}/address/os_place_terms">terms and conditions (opens new window)</a>.
    </p>
  </div>
      
    </div>
  </div>

</main>

{% endblock %}
