{% extends "layout.html" %}

{% set title = "Give details about the waste operation" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form method="post" action="{{formAction}}">

      <div class="form-group">
          <label class="form-label" for="waste_operation_name">
          Name of the waste operation
          </label>
          <input type="text" class="form-control form-control-char-50" id="waste_operation_name" name="waste_operation_name" value="{{permit.waste_operation_name}}">
      </div>

      <div class="form-group">
          <label class="form-label" for="waste_operation_description">
          Description of the waste operation
          <span class="form-hint">Use the description from the guidance. Include any extra detail that you think would help to accurately describe what you want to do.</span>
          </label>
          <textarea class="form-control form-control-full" name="waste_operation_description" id="waste_operation_description">{{permit.waste_operation_description}}</textarea>
      </div>

      <div class="form-group">
          <input type="submit" class="button" value="Continue">
      </div>
      
      </form>

    </div>
  </div>
</main>

{% endblock %}
