{% set categories = 
  [
   {
     "category": "Anaerobic digestion",
     "digitalMVP": "yes",
     "hint": "including storing digestate"
   },
   {
     "category": "Car and vehicle dismantling",
     "digitalMVP": "yes",
     "hint": ""
   },
   {
     "category": "Composting, sewage or sludge treatment, biogas",
     "digitalMVP": "yes",
     "hint": ""
   },
   {
     "category": "Electrical insulating oil storage",
     "digitalMVP": "yes",
     "hint": ""
   },
   {
     "category": "Metal recycling, scrap metal and WEEE",
     "digitalMVP": "yes",
     "hint": "not cars or vehicles"
   },
   {
     "category": "Mining, oil and gas",
     "digitalMVP": "yes",
     "hint": ""
   },
   {
     "category": "Mobile plant or land-spreading",
     "digitalMVP": "yes",
     "hint": ""
   },
   {
     "category": "Recycling or treatment of waste",
     "digitalMVP": "yes",
     "hint": "recycling facility, dredgings, deposit for recovery, clinical waste, soil and wood treatment"
   },
   {
     "category": "Waste transfer or amenity site",
     "digitalMVP": "yes",
     "hint": ""
   }
  ]
 -%}
