{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/email/" %}

{% block page_title %}
  Gmail | Environmental permit application
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

  <div class="grid-row">

    <div class="column-one-quarter">
      <img src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="column-three-quarter">

      <p class="subject">
        Standard rules waste permit application return link <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>

      <p class="from">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" />
      </p>

      <div id="email_text">

        <div id="banner" class="email-banner"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>


        <h1 class="heading-medium">
          Use this link to get back to your environmental permit application
        </h1>

        <h2 class="heading-small">Permit application IB1234CD</h2>
        <p>Household, commercial and industrial waste transfer station</br>
          <a href="/{{folder}}/check/task-list?return=y" target="_blank">
            https://apply-environmental-permit.service.gov.uk/r/Ab2C34De6F45GhP
          </a>
        </p>

        <p class="text">
          You will not need a password.
        </p>

        <h2 class="heading-small">
          Contact the Environment Agency
        </h2>
        <p class="text">
          Permitting and Support Centre
          <a href="mailto:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a><br />
          Telephone: 02030 253 898<br />
          Monday to Friday, 8am to 6pm
        </p>




      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
