{% extends "layout.html" %}

{% set title = "What's the site address?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


      <h1 class="heading-large" id="radio_label">{{title}}</h1>

      <form method="post" action="/{{folder}}/xxxxxxxx">
        
        <p>
          <span class="postcode-prefix">Postcode</span>
          <span class="visuallyhidden">:</span>
          <span class="postcode">BS1 5AH</span>
          <a href="/{{folder}}/address/postcode" class="change-postcode-button">
              Change<span class="visuallyhidden"> postcode</span>
          </a>
        </p>

        <fieldset>
          <legend class="visuallyhidden">Address</legend>

          <!-- Address -->
          <div class="form-group">
            <label class="form-label" for="the_address">Address</label>
            <select class="address-select form-control form-control-char-auto" id="the_address" aria-describedby="manual_hint">
              <option value="business_address">15 addresses found</option>
              <option value="business_address">3, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">5, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">7, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">9a, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">9b, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">10, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">11, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">12, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">13, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">15, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">17, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">Flat 1, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">Flat 2, 19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">21, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">22, GRANGE ROAD, BRISTOL, BS1 5AH</option>
              <option value="business_address">19, GRANGE ROAD, BRISTOL, BS1 5AH</option>
            </select>
          </div>

          <p class="label_link" id="manual_hint"><a href="/{{folder}}/address/address-manual">
            <span class="visuallyhidden">
              Enter address manually
            </span>
            I can’t find the address in the list
          </p>

        </fieldset>


        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>

      </form>

      
    </div>
  </div>

</main>

{% endblock %}
