{% extends "layout.html" %}

{% set title = "Find standard rules waste permits" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main" class="linkalert">
    {% include "includes/phase_banner_beta.html" %}
    

    
    <div class="grid-row">
        <div class="column-two-thirds">


      <h1 class="heading-xlarge" id="radio_label">{{title}}</h1>
      
      <form method="post" action="{{formAction}}">
        
        <div class="form-group">
          <label class="form-label" for="searchTerm">
            <span class="visually-hidden">
              Search words
            </span>
            <span class="form-hint">
              For example, cars, 2015-18, biogas, soil, wood
            </span>
          </label>
          <input class="form-control" id="searchTerm" name="searchTerm" type="text" value="{{searchTerm}}">
          <button type="submit" class="button" name="Search">Search</button>
        </div>

      {# 
      sr-permit-search-json stored in:  https://docs.google.com/spreadsheets/d/1FFgU1GOmKsErBB9Vr2X3WuKvAkt4SQ9GHC1IIqgGV3k/edit#gid=0
      Converted here:
      http://www.convertcsv.com/csv-to-json.htm 
      #}
      {% from folder+"/custom_inc/sr-permit-search-json.html" import permits %}

{% if searchTerm %}

{% set searchFails = 0 %}
{% set permitCount = 0 %}
{% set regExp = r/(20[0-9][0-9])\s?\D+?-?\s?([0-9]{1,2})/g %}

{% set result = regExp.exec(searchTerm) %}
{% if result != null %}
  {% set searchTerm =  result[1] + " No " +  result[2] %}
{% endif %}

      <h2 class="heading-small">
      Standard rules permits matching '{{searchTerm}}'
      </h2>

      {% for pNumber, pData in permits %}
      
        {% set permitCount = permitCount+1 %}
        
        {% set searchText = pData.title + " " + pData.keywords + " " + pData.code %}
        
          {% if searchTerm | lower in searchText | lower %}
          
            {% if pData.type=="Standard rules permit" %}
              <p>
              {{ pData.title }}
              <span class="font-small">{{ pData.code }}</span> 
              <a href="{{ pData.url }}" target="_blank">rules 
                <span class="visually-hidden">for {{ pData.code }}</span> 
              on GOV.UK <span class="newtab"> - this link will open in a new tab. Your application will stay in this tab,</span></a>
              </p>
            {% endif %}
            
          {% else %}
            {% set searchFails = searchFails+1 %}
          {% endif %}
        
      {% else %}
        <p>No data</p>
      {% endfor %}
      
      {% if searchFails==permitCount %}
        <p>No permits found. Try searching for different words.</p>
      {% endif %}
      
{% endif %}

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
