// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Protoype specific styles by MG and PM
/* @import 'prototype'; */

// used for experimental guidance pages
// @import 'verify'; 

// Choose permit radio button list
.permitSelector {
  float: none;
}

label.permitItem {
  display: inline-block;
  width:100%;
    span.permitName {
      width: 66.66667%;
      float: left;
      @include media(mobile) {
        width: 100%;
      }
    }
    span.permitCode {
      width: 33.33333%;
      font-weight: bold;
      text-align:right;
      float: right;
      @include media(mobile) {
        width: 100%;
        text-align:left;
      }
    }
}

// 6. Form control widths
// ==========================================================================

// Form control widths

// chars  width in ems
// 60     28.5
// 50     26
// 35     18.5
// 25     13.5
// 15     8.5
// 10     6
// 5      3.5
// 3      2.5

.form-control-char-auto { // intended for select options that have pre-populated text
  width: 100%;

  @include media(tablet) {
    width: auto;
  }
}

.form-control-char-60 {
  width: 100%;
  @include media(tablet) {
    width: 28.5em;
  }
}

// end Form control widths




// style phone number links on mobile only. Not ea-footer. 
@include media(tablet) {
  main a[href^="tel:"] {
    text-decoration: none;
    color: $black;
  }
}

// EA footer links
@include media(mobile) {
  .ea-footer, .ea-footer li  {
    @include core-16;
  }
}
.ea-footer li {
    margin-right: 10px;
}
.ea-footer .inline {
    display: inline;
}