{% extends "layout.html" %}

{% set title = "Who should we contact about this application?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<form method="post" action="{{formAction}}" class="form">

<div class="form-group">
  <label class="form-label" for="contactName">
    Full name
    <span class="form-hint">
      For example, John Smith
    </span>
  </label>
  <input class="form-control" id="contactName" name="contactName" type="text" value="{{permit.contactName}}">
</div>

<div class="form-group">

  <div class="multiple-choice">
  <input id="isContactAnAgent" name="isContactAnAgent" type="checkbox" value="yes">
<label class="selection-button-checkbox" for="isContactAnAgent">
    This person is an agent or consultant
  </label>
  </div>
  
</div>

<div class="form-group">
  <label class="form-label" for="contactTelephone">
    Telephone number
    <span class="form-hint">
      This can be a landline or mobile
    </span>
  </label>
  <input class="form-control form-control-char-25" id="contactTelephone" name="contactTelephone" type="number" value="{{permit.contactTelephone}}">
</div>

<div class="form-group">
  <label class="form-label" for="contactEmail">
    Email address
  </label>
  <input class="form-control" id="contactEmail" name="contactEmail" type="email" value="{{permit.contactEmail}}">
</div>




<div class="form-group">
  <h2 class="heading-medium">
    Use of your information and privacy
  </h2>
  <p>
    We normally put all the information in your application on a public register unless you've asked us to treat some information as confidential, and we agree with your request.
  </p>
  
  <p>
    <a target="_blank" href="/{{folder}}/pages/privacy">Privacy: how we use your personal information (opens new tab)</a>
  </p>

</div>



<div class="form-group">
    <input type="submit" class="button" value="Continue">
</div>
</form>


    </div>
  </div>
</main>

{% endblock %}
