{% extends "layout.html" %}

{% block page_title %}
  Check permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">Confirm permit
</h1>

<h2 class="heading-medium">Household, commercial and industrial waste transfer station 75 kte SR2015 No.4</h2>

<p><a href="#">Read the guidance and download the risk assessment</a></p>

<p class="bold">The fee for this permit is £1630.</p>

<p>It takes up to 13 weeks to issue a permit. It will take longer if the information you give us does not meet our requirements.</p>

<a class="button" href="/v1/application-checklist" role="button">Continue</a>


    </div>
  </div>
</main>

{% endblock %}
