{% extends "layout.html" %}

{% set title = "Partner names and addresses" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  {{backlink|safe}}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<form method="post" action="{{formAction}}">
  
  <div class="form-group">
  <label class="form-label" for="businessTradingName">Partnership trading name, if you use one
</label>
  <input class="form-control form-control-char-40" type="text" id="businessTradingName" name="businessTradingName" value="{{permit.businessTradingName}}">
  </div>

<div class="form-group">
  <p>
    We need to know the name, date of birth and home address of all business partners.
  </p>
</div>
  
  <h2 class="heading-medium">
    Add a business partner
  </h2>
  

<div class="form-group">
  <label class="form-label" for="individualFirstName">
    First name
  </label>
  <input class="form-control" id="individualFirstName" name="individualFirstName" type="text" value="{{permit.individualFirstName}}">
</div>

<div class="form-group">
  <label class="form-label" for="individualLastName">
    Last name
  </label>
  <input class="form-control" id="individualLastName" name="individualLastName" type="text" value="{{permit.individualLastName}}">
</div>

<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">Date of birth</span>
      <span class="form-hint" id="dob-hint">For example, 26 5 1976</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dob-day" name="individualDobDay" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dob-month" name="individualDobMonth" type="number" pattern="[0-9]*" min="0" max="12">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dob-year" name="individualDobYear" type="number" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>



<div class="form-group">
    {{submitButton|safe}}{{completeLink|safe}}
</div>
</form>


    </div>
  </div>
</main>

{% endblock %}
