{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 3a. Standard facilities -->
<h1 class="heading-large">About this application</h1>

<p>Show which standard rules you are applying for.</p>


<p>(Table 1: Sets of standard rules that are available for your permit)</p>

<p>Type ahead pattern?</p>

<p>Additional questions for certain standard rules:</p>
 
 <ul class="list list-bullet">
 <li>SR 2009 No8</li>
 <li>SR 2014 No2</li>
 <li>SR 2015 No1</li>
 <li>SR 2009 No4</li>
 <li>SR 2015No39</li>
 <li>SR 2010No2 or 3</li>
 <li>SR 2015Nos 17 and 18</li>
 </ul> 

<a href="/v0/standard-permit-application/low-impact-installations">Continue</a>

    </div>
  </div>

</main>

{% endblock %}


