{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 5b. Technical ability -->

<h1 class="heading-large">Finances (installations, waste operations and mining waste operations only)</h1>

<p>Please note that if you knowingly or carelessly make a statement that is false or misleading to help you get an environmental permit (for yourself or anyone else), you may be committing an offence under the Environmental Permitting (England and Wales) Regulations 2010.</p>

<p>Do you or any relevant person have current or past bankruptcy or insolvency proceedings against you? </p>

<form>
  <div class="form-group">
    <fieldset>
<div class="multiple-choice" data-target="bankruptcy-insolvency">
      <input id="finances-yes" type="radio" name="radio-finances-group" value="finances-yes">
<label class="selection-button-radio" for="finances-yes">
        Yes
      </label>
      </div>
            <div class="panel panel-border-narrow js-hidden" id="bankruptcy-insolvency">
            <p>Please give details below, including the required set-up costs (including infrastructure), maintenance and clean up costs for
            the proposed facility against which a credit check may be assessed.
            <p>(Text area here)</p>
            </div>

      <div class="multiple-choice">
      <input id="finances-no" type="radio" name="radio-finances-group" value="finances-no">
<label class="selection-button-radio" for="finances-no">
        No
      </label>
      </div>

    </fieldset>
  </div>

<p>We may want to contact a credit reference agency for a report about your business’s finances.</p>

<a class="button" href="/v0/standard-permit-application/management-systems" role="button">Continue</a>

</form>

    </div>
  </div>
</main>

{% endblock %}


