{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 1a. Dicussions before your application -->

<h1 class="heading-large">Have you had any discussions with the Environment Agency before this application?</h1>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Have you had any discussions with the Environment Agency before this application?</legend>

      <div class="multiple-choice" data-target="preapp-discussions">
      <input id="preapp-discuss-yes" type="radio" name="radio-discussions-group" value="Yes">
<label class="selection-button-radio" for="preapp-discuss-yes">
        Yes
      </label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="preapp-discussions">
        <p>(If you have had discussions with us before your application, give us the permit reference number or details on a separate sheet.
Tell us below the reference you have given to this extra sheet.)</p>
        <input class="form-control" name="contact-email" type="textarea" id="preapp-reference">
      </div>

      <div class="multiple-choice">
      <input id="preapp-discuss-no" type="radio" name="radio-discussions-group" value="No">
<label class="selection-button-radio" for="preapp-discuss-no">
        No
      </label>
      </div>

    </fieldset>
  </div>



<a class="button" href="/v0/standard-permit-application/site-or-mobile-plant" role="button">Continue</a>

</form>

    </div>
  </div>
</main>

{% endblock %}


