{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 5d. Management systems -->

<h1 class="heading-large">Does your management system meet the conditions set out in our guidance?</h1>

<p>You must have an effective, written management system in place that identifies and reduces the risk of pollution. You may show this by using a certified scheme or your own system.</p>

<p>Your permit requires you (as the operator) to ensure that you manage and operate your activities in accordance with a written management system.</p>

<p>You can find guidance on management systems on our website at www.gov.uk/environment-agency</p>

<form>
  <div class="form-group">
    <fieldset>

<div class="multiple-choice" data-target="management-systems">
      <input id="management-systems-yes" type="radio" name="radio-management-group" value="yes">
<label class="selection-button-radio" for="management-systems-yes">
        Yes
      </label>
</div>

      <div class="panel panel-border-narrow js-hidden" id="management-systems">
              <form>
                <div class="form-group">
                  <fieldset>

                <p>What management system will you provide for your regulated facility?</p>

                    
                    <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group" value="emas">
<label class="selection-button-radio" for="radio-1">
                      EC Eco-Management and Audit Scheme (EMAS)
                    </label>
                    </div>
                    <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="radio-group" value="emas-easy">
<label class="selection-button-radio" for="radio-2">
                      EMAS Easy
                    </label>
                    </div>
                    <div class="multiple-choice">
                    <input id="radio-3" type="radio" name="radio-group" value="iso-14001">
<label class="selection-button-radio" for="radio-3">
                      ISO 14001 
                    </label>
                   </div>
                   <div class="multiple-choice">
                    <input id="radio-4" type="radio" name="radio-group" value="bs-8555">
<label class="selection-button-radio" for="radio-4">
                      BS 8555 (Phases 1–5)
                    </label>
</div>
                  </fieldset>
                </div>
              </form>
    


<p class="bold">(Following options are checklist elements on PDF form)</p>


<p>
  Select all options that are relevant to you.
</p>

<form>
  <div class="form-group">
    <fieldset>

      <div class="multiple-choice">
      <input id="systems-acorn" name="systems" type="checkbox" value="Acorn">
<label class="selection-button-checkbox" for="systems-acorn">
        Acorn 
      </label>
      </div>
      <div class="multiple-choice">
      <input id="systems-green-dragon" name="systems" type="checkbox" value="Green Dragon">
<label class="selection-button-checkbox" for="systems-green-dragon">
        Green Dragon
      </label>
      </div>
      <div class="multiple-choice">
      <input id="systems-own" name="systems" type="checkbox" value="Own management system">
<label class="selection-button-checkbox" for="systems-own">
        Own management system
      </label>
      </div>

    </fieldset>
  </div>
</form>


      </div>

      <input id="management-systems-no" type="radio" name="radio-management-group" value="no">
<label class="selection-button-radio" for="management-systems-no">
        No
      </label>

    </fieldset>
  </div>


<p><a href="/">Back to index page</a></p>

<!-- <a class="button" href="/standard-permit-application/finances" role="button">Continue</a> -->


</form>

    </div>
  </div>
</main>

{% endblock %}


