{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 	Section 4: General information NOT mobile plant 
		(this only applies to installations – see guidance notes on part B1) 
		4b. Provide the relevant sections of a site condition/baseline report report -->

<h1 class="heading-large">Provide the relevant sections of a site condition/baseline report report</h1>

<p>(this only applies to installations – see guidance notes on part B1</p>

<p>Document report reference</p>

<p>If you are applying for a standard permit for an IED installation
(SR2012 Nos 4, 8, 9, 11 and 13), tick the box to confirm that you
have sent in a baseline report</p>

<a class="button" href="/v0/standard-permit-application/fire-prevention-plan" role="button">Continue</a>


    </div>
  </div>

</main>

{% endblock %}


