{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 	Section 4: General information NOT mobile plant 
		4a. Provide a plan or plans for the site -->

<h1 class="heading-large">Provide a plan or plans for the site</h1>


<p> (See the guidance notes on part B1 for what needs to be marked on the plan)</p>

<p>Document plan reference or references</p>

<a class="button" href="/v0/standard-permit-application/site-condition-baseline-report" role="button">Continue</a>


    </div>
  </div>

</main>

{% endblock %}


