{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 5b. Technical ability -->

<h1 class="heading-large">Technical ability  (relevant waste operations only – see the guidance notes on part B1) </h1>

<p>Please tick the scheme you are using to show you have the suitable technical skills and knowledge to manage your facility. </p>

<form>
  <div class="form-group">
    <fieldset>

     <div class="multiple-choice">
      <input id="technical-scheme-yes" type="radio" name="radio-discussions-group" value="ciwm-wamitab">
<label class="selection-button-radio" for="technical-scheme-yes">
        CIWM/WAMITAB
      </label>
      </div>

      <div class="multiple-choice">
      <input id="technical-scheme-no" type="radio" name="radio-discussions-group" value="esa-eu">
<label class="selection-button-radio" for="technical-scheme-no">
        ESA/EU 
      </label>
      </div>

    </fieldset>
  </div>

<p>Please send in a registration letter from your scheme as above</p>

<a class="button" href="/v0/standard-permit-application/finances" role="button">Continue</a>


</form>

    </div>
  </div>
</main>

{% endblock %}


