{% extends "layout_unbranded.html" %}

{% block page_title %}
	Standard rules: environmental permitting
{% endblock %}

{% block content %}

{% include folder+"/selectpermit/styles/guide-styles.txt" %}

<header class="page-header">
	<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
</header>
<header role="banner" id="global-header" class=" with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content"> <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK </a>
            </div> 
            <!-- <a href="#search" class="search-toggle js-header-toggle">Search</a> -->
            <!-- <form id="search" class="site-search" action="/search" method="post" role="search">
                <div class="content"> <label for="site-search-text">Search</label> <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"> <input class="submit" type="submit" value="Search"> </div>
            </form> -->
        </div>
        <div class="header-proposition">
            <div class="content"> <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                <nav id="proposition-menu" class="no-proposition-name">
                    <ul id="proposition-links">
                        <li> <a class="" href="/government/organisations">Departments</a> </li>
                        <li> <a class="" href="/government/world">Worldwide</a> </li>
                        <li> <a class="" href="/government/how-government-works">How government works</a> </li>
                        <li> <a class="" href="/government/get-involved">Get involved</a> </li>
                        <li class="clear-child"> <a class="" href="/government/policies">Policies</a> </li>
                        <li> <a class="" href="https://www.gov.uk/government/publications">Publications</a> </li>
                        <li> <a class="" href="https://www.gov.uk/government/publications?publication_filter_option=consultations">Consultations</a> </li>
                        <li> <a class="" href="/government/statistics">Statistics</a> </li>
                        <li> <a class="" href="/government/announcements">Announcements</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<main id="content" role="main" class="data-exchange-protocol">
	<div class="heading">
		<p class="type font-medium">Collection</p>
		<h1 class="bold-large">Standard rules: environmental permitting</h1>
	</div>
	<p class="lede">For each activity there is a set of rules, guidance on how to comply with the rules and a risk assessment.</p>
	<div class="grid-row">
		<div class="column-third">
			<nav class="contextual-info" id="page-navigation">
				<h1>Contents</h1>
				<ol class="dash-list">
					<li><a href="#biological">Biological treatment of waste</a></li>
				</ol>
			</nav>
		</div>
		<div class="column-two-thirds">
			
<section id="intro">
		<article>		
			<p>Check if you need a <a href="https://www.gov.uk/government/publications/environmental-permit-nature-and-heritage-conservation-screening">conservation risk assessment</a> before you submit your permit application.</p>
  </article>
<section>

<section id="biological">
		<article>
			
			<h3 class="group-title" id="biological-treatment-of-waste">Biological treatment of waste</h3>


			<ol class="group-document-list">
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2008-no17-75kte-composting-in-closed-systems-in-vessel-composting">Rules for SR2008 No17 75kte: composting in closed systems (in-vessel composting)</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2008-17">Apply for permit SR2008 No17 75kte
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2013-06-07T00:00:00Z">
                    7 June 2013
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2015-no12-75kte-non-hazardous-mechanical-biological-aerobic-treatment-facility">Rules for SR2015 No.12: 75kte non-hazardous mechanical biological (aerobic) treatment facility</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2015-12">Apply for permit SR2015 No.12
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2015-12-01T09:00:07Z">
                    1 December 2015
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2008-no19-75kte-non-hazardous-sludge-biological-chemical-and-physical-treatment-site">Rules for SR2008 No19 75kte: non-hazardous sludge biological chemical and physical treatment site</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2008-19-75">Apply for permit SR2008 No19
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2012-06-25T00:00:00Z">
                   25 June 2012
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2008-no19-250kte-non-hazardous-sludge-biological-chemical-and-physical-treatment-site">Rules for SR2008 No19 250kte: non-hazardous sludge biological chemical and physical treatment site</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2008-19-250">Apply for permit SR2008 No19
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2012-06-25T00:00:00Z">
                   25 June 2012
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2009-no4-combustion-of-biogas-in-engines-at-a-sewage-treatment-works">Rules for SR2009 No4: combustion of biogas in engines at a sewage treatment works</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2009-4">Apply for permit SR2009 No4
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2012-04-05T00:00:00Z">
                    5 April 2012
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2010-no14-500t-composting-biodegradable-waste">Rules for SR2010 No14 500t: composting biodegradable waste</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2010-14">Apply for permit SR2010 No14
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2013-06-07T00:00:00Z">
                    7 June 2013
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2010-no15-anaerobic-digestion-facility-including-use-of-the-resultant-biogas">Rules for SR2010 No15: anaerobic digestion facility including use of the resultant biogas</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2010-15">Apply for permit SR2010 No15
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2011-10-14T00:00:00Z">
                   14 October 2011
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2010-no16-on-farm-anaerobic-digestion-facility">Rules for SR2010 No16: on-farm anaerobic digestion facility</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2010-16">Apply for permit SR2010 No16
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2012-07-16T00:00:00Z">
                   16 July 2012
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2010-no17-storage-of-digestate-from-anaerobic-digestion-plants">Rules for SR2010 No17: storage of digestate from anaerobic digestion plants</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2010-17">Apply for permit SR2010 No17
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2017-01-06T09:30:15Z">
                    6 January 2017
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2010-no18-storage-and-treatment-of-dredgings-for-recovery">Rules for SR2010 No18: storage and treatment of dredgings for recovery</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2010-18">Apply for permit SR2010 No18
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2012-06-25T00:00:00Z">
                   25 June 2012
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2011-no1-500t-composting-biodegradable-waste-in-open-and-closed-systems">Rules for SR2011 No1 500t: composting biodegradable waste (in open and closed systems)</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2011-1">Apply for permit SR2011 No1
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2013-06-07T00:00:00Z">
                    7 June 2013
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2012-no3-composting-in-closed-systems">Rules for SR2012 No 3: composting in closed systems</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2012-3">Apply for permit SR2012 No 3
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2015-12-03T10:56:26Z">
                    3 December 2015
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2012-no7-composting-in-open-systems">Rules for SR2012 No 7: composting in open systems</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2012-7">Apply for permit SR2012 No 7
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2015-12-03T10:28:06Z">
                    3 December 2015
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2012-no10-on-farm-anaerobic-digestion-facility-using-farm-wastes-only-including-use-of-the-resultant-biogas">Rules for SR2012 No 10: on-farm anaerobic digestion facility using farm wastes only, including use of the resultant biogas</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2012-10">Apply for permit SR2012 No 10
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2015-12-14T09:52:22Z">
                   14 December 2015
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
           <li class="group-document-list-item">
             <h3 class="group-document-list-item-title">
               <a href="https://www.gov.uk/government/publications/sr2012-no12-anaerobic-digestion-facility-including-use-of-the-resultant-biogas-waste-recovery-operation">Rules for SR2012 No 12: anaerobic digestion facility including use of the resultant biogas (waste recovery operation)</a>
             </h3>
						 <p class="applylink">
							 <a href="/v2/selectpermit/check-permit?chosenPermitID=SR-2012-12">Apply for permit SR2012 No 12
							 </a>
						 </p>
             <ul class="group-document-list-item-attributes">
               <li>
                 <time datetime="2015-12-14T09:52:02Z">
                   14 December 2015
                 </time>
               </li>
               <li>Statutory guidance</li>
             </ul>
           </li>
					 
       </ol>
  
  </article>
<section>



		</div>
	</div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}
