{% extends "layout.html" %}

{% set title = "Costs and processing time" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    {{backlink|safe}}

    <div class="grid-row">
        <div class="column-two-thirds">
    
          <h1 class="heading-large" id="radio_label">{{title}}</h1>
          
      <form method="post" action="{{formAction}}">
      

      <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th class="numeric" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="bold-small">Cost to apply</span><br>
              You will pay this when you send your application.</td>
              <td class="numeric"><span class="bold-medium">{{permit.permitCost}}</span></td>
            </tr>
        {% if permit.subsistenceFee!="mobile" %}
            <tr>
              <td><span class="bold-small">Annual cost (it is called the subsistence charge)</span><br>
              We will invoice you if your application is successful.</td>
              <td class="numeric"><span class="bold-medium">{{permit.subsistenceFee}}</span></td>
            </tr>
        {% else %}
          <tr>
            <td>
              <span class="bold-small">
                Other costs</span><br>
                You pay for each deployment.  
                We will tell you how much it will cost when you apply for the deployment.
            </td>
            <td>&nbsp;</td>
          </tr>
        {% endif %}
            <tr>
              <td><span class="bold-small">Time to wait after applying</span><br>
                It may take longer if we need to ask you for more information.</td>
              <td class="numeric"><span class="bold-medium">up to 13 weeks</span></td>
            </tr>
          </tbody>
        </table>

        <p class="vat-statement">You do not pay <abbr title="Value Added Tax">VAT</abbr> on these costs.
        </p>

         <!-- set costTime to yes -->       
        <input type="hidden" name="costTime" value="yes">


        <div class="form-group">
            {{submitButton|safe}}{{completeLink|safe}}

        </div>

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
