{% extends "layout.html" %}

{% set title = "Money you will need for licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
      
      <form method="post" action="{{formAction}}">
      
      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/custom_inc/permit-list-json.html" import permits %}


        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}
          

          
          {% include folder+"/custom_inc/permit-inputs.html" %}
              
              <h2 class="heading-large">
                {{ pData.friendlyName }}
                <span class="font-medium">{{ pData.code }}</span>
              </h2>

              <p class="lede">Permit costs</p>

       <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th class="numeric" scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr>
             <td>Application charge:</td>
              <td class="numeric">{{pData.charge}}</td>
            </tr>

            <tr>
             <td>Subsistence charge:</td>
              <td class="numeric">?</td>
            </tr>

          </tbody>
        </table>
              
              <p style="margin-top: 20px;">
                You need to pay a fee every year (subsistence charge). We will invoice you for that if your application is successful.
              </p>
              
              {% endif %}
            {% endfor %}
        

        <div class="form-group">
            {{submitButton|safe}}{{completeLink|safe}}
            <span class="resume-link">
              or <a href="/{{folder}}/selectpermit/permit-category">change permit</a>
            </span>
        </div>

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
