{% extends "layout.html" %}

{% set title = "Who should we contact about the site or your operations?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <p>
      We'll contact this person if we need to visit the site or if we want to discuss your operations. 
      </p>

      <form method="post" action="{{formAction}}">

        <div class="form-group">
          <label class="form-label" for="siteContactFirstName">
            First name
          </label>
          <input class="form-control" id="siteContactFirstName" name="siteContactFirstName" type="text" value="{{permit.siteContactFirstName}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="siteContactLastName">
            Last name
          </label>
          <input class="form-control" id="siteContactLastName" name="siteContactLastName" type="text" value="{{permit.siteContactLastName}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="siteContactTelephone">
            Telephone number
            <span class="form-hint">
              This can be a landline or mobile
            </span>
          </label>
          <input class="form-control form-control-char-20" id="siteContactTelephone" name="siteContactTelephone" value="{{permit.siteContactTelephone}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="siteContactEmail">
            Email address
          </label>
          <input class="form-control form-control-char-40" id="siteContactEmail" name="siteContactEmail" value="{{permit.siteContactEmail}}">
        </div>

        <div class="form-group">
          {{submitButton|safe}}{{completeLink|safe}}
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
