{% extends "layout.html" %}

{% set title = "Check your answers" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-large">
    {{title}}
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Site management qualifications
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Site manager qualifications
        </td>
        <td>
          {{permit.industryScheme}} <br>
          {{permit.technicalCertificateFile}} 

        </td>
</tr>
    </tbody>
  </table>

  <br>
  <br>

      <form method="post" action="{{formAction}}" class="form">

      <div class="form-group">
        <input type="submit" class="button" value="Return to task list">
      </div>

    </form>

</main>

{% endblock %}
