{% extends "layout.html" %}

{% set title = "Search for 'standard rules permit application' in your emails" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          {{title}}
        </h1>

          <p>The email has a link to get back to your saved application.</p>



        <details>

          <summary><span class="summary">I can't find the email</span></summary>

          <div class="panel panel-border-narrow">
            <ol class="list list-number">
              <li>Check your spam folder.</li>
              <li>Search for 'standard rules permit application' in your emails.</li>
              <li>Wait for a few minutes - email can take a while to arrive.</li>
              <li>Resend the email.</li>
            </ol>
		    	<form method="get" action="/{{folder}}/save-and-return/link-resent">

	            <fieldset>

	                <div class="form-group">
	                  <label class="form-label" for="user_email">Email address you gave us</label>
                    <span class="form-hint">This must be the email you used before</span>
                    <input class="form-control form-control-3-4" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
	                </div>

	            </fieldset>

				<br>

	            <div class="form-group">
              <button type="submit" class="button" name="Resend email">Resend email</button>
	            </div>

          </div>

        </details>


      </form>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>For testing:
        <a href="/{{folder}}/save-and-return/email-save-link" target="_blank" rel="noopener noreferrer">link email</a>
      </p>

    </div>
  </div>

</main>
{% endblock %}
