{% extends "layout.html" %}

  {% set title = "We have resent the email - check again" %}


{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="{{formAction}}" method="post">



        {% if data.user_phone %}

          <h1 class="heading-large">{{title}}</h1>

          <p>We sent a secure code to <span class="bold">{{ permit.saveReturnPhone }}</span> that allows you to return to your application at any time.</p>

        {% else %}

          <h1 class="heading-large">{{title}}</h1>

          <p>We sent a secure link to <span class="bold">{{ permit.saveReturnEmail }}</span> that allows you to return to your application at any time.</p>

          <p class="text">
Every time you complete a screen we will save your data automatically.
          </p>


        {% endif %}


        <div class="form-group">
          <fieldset>

      <legend>

      </legend>



    </fieldset>
    <div class="multiple-choice" data-target="contact-by-email">
        <input id="example-contact-by-email" type="radio" name="GOTEMAIL" value="YES">
        <label for="example-contact-by-email">I got the email</label>
      </div>

      <div class="multiple-choice" data-target="contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="GOTEMAIL" value="NO">
        <label for="example-contact-by-phone">I cannot find the email</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <ol class="list list-number">
<li>Check your spam folder.</li>
<li>Search for 'standard rules permit application' in your emails.</li>
<li>Wait for a few minutes - email can take a while to arrive.</li>
<li>Select continue to resend the email.</a>
</li>
</ul></br>
<input class="form-control form-control-3-4" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
      </div>
      </fieldset>
    </div>
          <button type="submit" class="button" name="Continue">Continue</button>
        </div>

      </form>
      <div class="grid-row">
        <div class="column-two-thirds">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>For testing:
        <a href="/{{folder}}/save-and-return/email-save-link" target="_blank">link email</a>
      </p>

    </div>
  </div>

</main>
{% endblock %}
