{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<div id="worldpay-success">

    <div id="worldpay-description">
    Standard rules permit SR12345 Title of permit goes here
    </div>

    <div id="worldpay-amount">
    £720.00
    </div>
    
    <div id="worldpay-continue-button">
      <a href="#"><img alt="" src="/public/images/worldpay/_.gif" height="40px" width="130px" border="0" /></a>
    </div>

</div>

{% endblock %}
