{% extends "layout.html" %}

{% set title = "Pay by cheque" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>

<div class="panel panel-border-wide">
  <p> 
    <b>The application charge is {{ permit.permitCost }}.</b>
  </p>
</div>


<p>Make your cheque payable to ‘Environment Agency’</p>

<p>Make sure the cheque has ‘A/C Payee’ written across it, if it is not already printed on it.</p> 

<p>Write the name of your company and application reference number on the back of your cheque.</p>

<p>Application reference number:</br>
  <span class="font-large">{{ permit.permitRefNumber }}</span>
</p>

<p>We won't accept cheques with a future date.</p>

<p><b>Send your cheque to:</b><br>
Permitting Support Centre<br>
Quadrant 2<br>
99 Parkway Avenue<br>
Parkway Business Park<br>
Sheffield S9 4WF
</p>

<form method="post" action="{{formAction}}" class="form">
  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>
</form>


    </div>
  </div>
</main>

{% endblock %}
