{% extends "layout.html" %}
  {% include "includes/phase_banner_beta.html" %}
        {% if permit.GOTEMAIL %}
{% set title = "You’ve received the email" %}
      {% endif %}
      {% if permit.GOTEMAIL %}
            {% else %}
{% set title = "We’ll email you a link you can use to get back to your saved application" %}
    {% endif %}
{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="confirm" method="post">

        <h1 class="heading-large">{{title}}</h1>
      {% if permit.GOTEMAIL %}


            <form action="{{formAction}}" method="post">


      <p>We sent a secure link to <span class="bold">{{ permit.saveReturnEmail }}</span> that allows you to return to your application at any time.</p>

      <p class="text">
        Your application reference is <span class="bold">{{ permit.permitRefNumber }}</span>.
      </p>

      <div class="form-group">
        <fieldset>

    <legend>

    </legend>



  </fieldset>
  <div class="multiple-choice" data-target="contact-by-email">
      <input id="example-contact-by-email" type="radio" name="GOTEMAIL" value="YES">
      <label for="example-contact-by-email">I got the email</label>
    </div>

    <div class="multiple-choice" data-target="contact-by-phone">
      <input id="example-contact-by-phone" type="radio" name="GOTEMAIL" value="NO">
      <label for="example-contact-by-phone">I can't find the email</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
      <ol class="list list-number">
<li>Check your spam folder.</li>
<li>Search for 'standard rules permit application' in your emails.</li>
<li>Wait for a few minutes - email can take a while to arrive.</li>
<li>Select continue to resend the email.</a>
</li>
</ul></br>
<input class="form-control form-control-3-4" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
    </div>
    </fieldset>
  </div>
        <button type="submit" class="button" name="Continue">Continue</button>
      </div>

    </form>
    <div class="grid-row">
      <div class="column-two-thirds">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>For testing:
      <a href="/{{folder}}/save-and-return/email-save-link" target="_blank">link email</a>
    </p>

      {% endif %}
      {% if permit.GOTEMAIL %}

      {% else %}
        <fieldset>
          <legend class="visuallyhidden">
            Save and return later
          </legend>

          <div class="form-group">
            <label class="form-label" for="user_email">Email address</label>
            <input class="form-control form-control-3-4" id="user_email" name="saveReturnEmail" type="text" value="{{permit.saveReturnEmail}}">
          </div>

          <!-- ######################################################

          <details>

          <summary><span class="summary">I don't have an email address</span></summary>

          <div class="panel panel-border-narrow">

            <p>
              If you don't have an email, you can save and return with a text message.
            </p>

            <legend class="visuallyhidden">
              Mobile phone number
            </legend>

            <label class="form-label" for="user_phone">
              Mobile phone number
            </label>
            <input class="form-control" id="user_phone" type="text" name="saveReturnPhone">

          </div>

          </details>

         ###################################################### -->


        </fieldset>


        <div class="form-group">

          <p>
            <a target="_blank" rel="noopener noreferrer" href="/{{folder}}/pages/privacy">Privacy: how we use your personal information (opens new tab)</a>
          </p>

        </div>

        <div class="form-group">
          <button type="submit" class="button" name="Continue">Continue</button>
        </div>

      </form>
      {% endif %}
    </div>
  </div>

</main>
{% endblock %}
