{% extends "layout.html" %}

{% set title = "Select a permit" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">

      <h1 class="heading-large" id="radio_label">{{title}}</h1>
      
      <form method="post" action="{{formAction}}">
        <div class="form-group">
          <fieldset class="permitList" aria-labelledby="radio_label">
            <legend="Permit">
			
			{% from folder+"/custom_inc/category-list-new-json2.html" import categories %}
			{% from folder+"/custom_inc/permit-list-json.html" import permits %}
      {% import folder+"/custom_inc/macros.html" as macros %}
	
			{% for c in categories %}
				
				<details class="closeOnOpen">
					<summary><span class="summary">{{c.category}}</span>
						
						{% set permitCount=0 %}
						{% for pNumber, pData in permits %}
								  {% if pData.friendlyCategory2==c.category %}
								    {% if pData.digitalMVP=="Yes" %}
														{% set permitCount=permitCount+1 %}
				            {% endif %}
									{% endif %}
						{% endfor %}

						<span class="font-xsmall permitNo">({{permitCount}} permits)</span>
						
						</summary>
					<div class="panel panel-border-narrow" style="margin-bottom: 20px">

						{% for pNumber, pData in permits %}

							  {% if pData.friendlyCategory2==c.category %}
							    {% if pData.digitalMVP=="Yes" %}
			                
			                  {% if pData.friendlyWeight!="" %}
			                    {% set weight=" - "+pData.friendlyWeight %}
			                  {% else %}
			                    {% set weight="" %}
			                  {% endif %}
                        
			                
			                  {% set label = [
			                    '<span class="permitName">',
			                    pData.nameGOVUK,
			                    weight | lower,
			                    '</span>',
			                    '<span class="permitCode">',
			                    pData.code,
			                    '</span>'
			                    ] %}
			                  {{ macros.radio_button(
			                    label | join | safe,
			                    "chosenPermitID",
			                    loop.index,
			                    pNumber,
			                    " permitItem"
			                    ) }}
			                    
			              	{% endif %}
										{% endif %}
										
						{% else %}
							<p>No radios</p>
						{% endfor %}
						
					</div>
				</details>

			{% else %}
					<p>No categories</p>
			{% endfor %}
		<p>or</p>
      
 <details role="group">

          <summary role="button" aria-controls="permit-not-found" aria-expanded="true"><span class="summary">I can’t find the permit I need</span></summary>

          <div class="panel panel-border-narrow" id="permit-not-found" aria-hidden="false">

<p><a href="https://www.gov.uk/guidance/waste-environmental-permits">Read more about Waste environmental permits on GOV.UK</a> or contact the Environment Agency:</p>


        <div class="email-url-number">
            <p class="email">
              <span class="type">Email</span>
              <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
            </p>
            <p class="tel">
              <span class="type">Telephone</span>
              03708 506 506
            </p>
            <p class="tel">
              <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
              +44 (0) 114 282 5312
            </p>
            <p class="tel">
              <span class="type">Minicom (for the hard of hearing)</span>
              03702 422 549
            </p>
        </div>

        <p class="font-small">Monday to Friday, 8am to 6pm</p>

           
          </div>

          </details>


    </fieldset>
  </div>

  <div class="form-group">
      <button type="submit" class="button" name="Continue">Continue</button>
  </div>

</form>

			</div>
	  </div>

	</main>
	
	

	{% endblock %}
