{% extends "layout.html" %}

{% set title = "Check permit" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


      <h1 class="heading-large" id="radio_label">{{title}}</h1>
      
      {% import "custom_inc/macros.html" as macros %}
      {% from "custom_inc/permit-list-json.html" import permits %}
      
      <div class="panel panel-border-wide">

        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}
              <h2 class="heading-medium">
                {{ pData.Name_GOV_UK }}
                <span class="font-small">{{pData.Code}}</span>
              </h2>
              
              {% if pData.Form_Description!="" %}
                <p>{{pData.Form_Description}}</p>
              {% endif %}
              
              <p><span class="font-large">{{pData.Charge}}</span> by credit card or bank transfer</p>
              
      </div>
              
              <h3 class="heading-small">
                To qualify for a standard rules permit your operation must:
              </h3>
              
              <ul class="list list-bullet">
                <li>be under {{pData.Form_weight}}</li>
                <li>be able to meet the <a href="{{pData.Guidance_URL}}" target="_blank">conditions for {{pData.Code}}</a></li>
              </ul>
              
              <h3 class="heading-small">
                To apply you'll need:
              </h3>
              
              <ul class="list list-bullet">
              
              <li>a <a href="#">site plan</a></li>
              
                {% if pData.Fire_Plan_Needed=="Yes" %}
                  <li>a <a href="#">fire plan</a></li>
                {% endif %}
                
                {% if pData.Baseline_report_required=="Yes" %}
                  <li>a <a href="#">baseline report</a></li>
                {% endif %}
                
                {% if pData.Technical_ability_evidence=="Yes" %}
                  <li>evidence of technical ability including 
                  {{pData.WAMITAB}}  qualification</li>
                {% endif %}
                
                {% if pData.Special_Case=="Yes" %}
                  <li>there is a special case</li>
                {% endif %}
              
            </ul>

            
          {% endif %}
        {% else %}
          <p>No radios</p>
        {% endfor %}
      
      
      <form method="post" action="/select-permit/xxxxxxxxx">

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
            or <a href="/select-permit/permit-category">change permit</a>
        </div>

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
