{% set categories = 
  [
   {
     "category": "Anaerobic digestion",
     "digitalMVP": "Yes"
   },
   {
     "category": "Composting or sludge",
     "digitalMVP": "Yes"
   },
   {
     "category": "Electrical insulating oil",
     "digitalMVP": "Yes"
   },
   {
     "category": "Metal recycling and scrap",
     "digitalMVP": "Yes"
   },
   {
     "category": "Mobile plant or landspreading",
     "digitalMVP": "Yes"
   },
   {
     "category": "Soil or aggregate from waste",
     "digitalMVP": "Yes"
   },
   {
     "category": "Vehicle dismantling",
     "digitalMVP": "Yes"
   },
   {
     "category": "Waste transfer or amenity site",
     "digitalMVP": "Yes"
   },
   {
     "category": "WEEE treatment",
     "digitalMVP": "Yes"
   },
   {
     "category": "Other",
     "digitalMVP": "Yes"
   }
  ]
 -%}
