{% extends "layout.html" %}

{% set title = "Check your answers" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-large">
    {{title}}
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Nature and heritage conservation check
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Have you ordered a nature and heritage conservation check?
        </td>
        <td>
        <!-- screening data from form -->
          {{permit.screening}} 
        </td>
        <td class="change-answer">
          <a href="/{{folder}}/screening/conservation-screening">
            Change <span class="visuallyhidden">nature and heritage conservation check</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <a href="/{{folder}}/check/task-list">Return to task list</a>

</main>

{% endblock %}
