{% extends "layout.html" %}

{% set title = "Is any information in your application commercially or industrially confidential?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>

<div class="panel panel-border-wide">
  <p>
    You should only claim confidentiality if you are very certain that you wish information to be confidential. This may delay your application.
  </p>
</div>


<form method="post" action="{{formAction}}" class="form">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">{{title}}</legend>

      <label class="block-label selection-button-radio" data-target="confidentialReasonsGroup" for="yesConfClaim">
        <input id="yesConfClaim" type="radio" name="confidential" value="yes">
        Yes, I wish to claim confidentiality for part of my application
      </label>
      <div class="panel panel-border-narrow js-hidden" id="confidentialReasonsGroup">
        <label class="form-label" for="confidentialReasons">Give your reasons. If we agree with your request, we will not include the information in the public register.</label>
        <textarea class="form-control" name="confidentialReasons" type="text" id="confidentialReasons" cols="30" rows="4"></textarea>
      </div>

      <label class="block-label selection-button-radio" for="notConfClaim">
        <input id="notConfClaim" type="radio" name="confidential" value="no">
        No
      </label>

    </fieldset>
  </div>

    <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


</form>


    </div>
  </div>
</main>

{% endblock %}
