{% extends "layout.html" %}

{% set title = "Confirm activities and assessments" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">
      
            <h1 class="heading-large">{{title}}</h1>
            
            <form method="post" action="{{formAction}}">
            
      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/bespoke/activities-assessments/json/bespoke-assessment-list.html" import assessments %}
      {% from folder+"/bespoke/activities-assessments/json/bespoke_activities.html" import activities %}


<dl class="govuk-check-your-answers cya-questions-short">

{% set numactivities = 0 %}
{% set totalcost = 0 %}
{% set lowestcost = 100000 %}

<!-- Output chosen activities ############################################ -->
{% for ref in permit.chosenPermitID %}
      {% for aNumber, aData in activities %}
            {% if aNumber==ref %}
            
            <!-- Output as a CYA styled row ============================== --> 
                  {{ macros.assessmentlist(
                    aData.D_Activity_Title + " (" + ref + ")",
                    aData.SROC_Application_Charge | formatnumber 
                    ) }}

            <!-- Set lowest cost ========================================== --> 
                  {% if aData.SROC_Application_Charge < lowestcost %}
                      {% set lowestcost = aData.SROC_Application_Charge %}
                  {% endif %}

            <!-- Get total =============================================== --> 
                  {% set totalcost = totalcost + aData.SROC_Application_Charge %}
                  
            <!-- Count activities to use in discount ===================== --> 
                {% set numactivities = numactivities+1 %}
                
            {% endif %}
            
      {% else %}
      <p>No activities</p>
      {% endfor %}

{% else %}
    <p>You must select at least one activity</p>
{% endfor %}


{% if permit.firePreventionPlanIncluded=="yes" %}
    {{ macros.assessmentlist( 
      "Fire prevention plan assessment - 
      added because an activity you selected includes this assessment", 
      0 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 0 %}
{% endif %}

{% if permit.firePreventionPlanIncluded=="no" and permit.combustible=="yes" %}
    {{ macros.assessmentlist( 
      "Fire prevention plan assessment - 
      added because you deal with combustible waste", 
      1231 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 1231 %}
{% endif %}

{% if permit.firePreventionPlanIncluded=="no" and permit.wood=="yes" %}
    {{ macros.assessmentlist( 
      "Fire prevention plan assessment - 
      added because you deal with wood waste", 
      1231 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 1231 %}
{% endif %}

{% if permit.odourManagementPlanIncluded=="yes" %}
    {{ macros.assessmentlist( 
      "Odour management plan assessment - 
      added because the activity includes this assessment", 
      0 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 0 %}
{% endif %}

{% if permit.odourManagementPlanIncluded=="no" and permit.odourManagementPlan=="yes" %}
    {{ macros.assessmentlist( 
      "Odour management plan assessment - 
      added by you", 
      1231 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 1231 %}
{% endif %}

{% if permit.wasteRecoveryPlan=="yes" %}
    {{ macros.assessmentlist( 
      "Waste recovery plan - 
      added because your activity is 'Deposit of waste for recovery'", 
      1231 | formatnumber 
      ) }}
      {% set totalcost = totalcost + 1231 %}
{% endif %}




{% if numactivities > 1 %}

    {% set discountrate = 0.5 %}
    {% set discount = lowestcost * discountrate * -1 %}
    {% set totalcost = totalcost + discount %}

    <div>
      <dt class="cya-answer">Second activity discount - {{ discountrate*100 }}% of lowest fee for associated activity</dd>
      <dd class="cya-change">{{ discount | formatnumber }}</dd>
    </div>

{% endif %}

<div>
  <dt class="cya-answer">Total cost</dt>
  <dd class="cya-change">{{ totalcost | formatnumber }}</dd>
</div>



</dl>

<p>
  You must pay these charges before we will start assessing your application. You do not pay VAT on these costs.
</p>

<p>
  <a href="#">Change activities or assessments</a><br>
  <a href="#">Change or remove extra assessments</a>
</p>


        <div class="form-group">
          <button type="submit" class="button" name="Continue">Start application</button>
        </div>


      </form>


    </div>
  </div>

</main>

{% endblock %}
