{% extends "layout.html" %}

{% set title = "Select the activities you want the permit to cover" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large" id="radio_label">{{title}}</h1>

        <p>Showing activities for:</p>
        <ul class="list list-bullet">
              {% for cat in permit.chosenCategory %}
                  <li>{{ cat }}</li>
              {% else %}
                  <p>You must select at least one category</p>
              {% endfor %}
        </ul>
        
        
        <p>Select all activities that apply</p>



      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/bespoke/v2-activities/json/bespoke_activities.html" import activities %}


      <form method="post" action="{{formAction}}">
        <div class="form-group">
          <fieldset class="permitList" aria-labelledby="radio_label">
            <legend="Permit">


{% for aNumber, aData in activities %}
            
      {% for cat in permit.chosenCategory %}

            {% if aData.D_Activity_Subtype==cat %}
            {# D_Activity_Subtype has the more granular categories #}
            {# D_Activity_Table has the SRoC+D borader options categories #}

            {% set label = [
            '<span class="permitName">',
            aData.D_Activity_Title,
            '</span>',
            '<span class="permitCode">',
            aNumber,
            '</span>'
            ] %}

            {{ macros.checkbox(
            label | join | safe,
            "chosenPermitID",
            loop.index,
            aNumber,
            " permitItem"
            ) }}

            {% endif %}

      {% else %}
      <p>You must select at least one category</p>
      {% endfor %}
      
{% else %}
    <p>You must select at least one category</p>
{% endfor %}

          </fieldset>
        </div>


        <div class="form-group">
          <button type="submit" class="button" name="Continue">Continue</button>
        </div>



      </form>

    </div>
  </div>

</main>

{% endblock %}
