{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/email/" %}

{% block page_title %}
  Gmail | Application received: standard rules waste permit
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

  <div class="grid-row">

    <div class="column-one-quarter">
      <img src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="column-three-quarter">

      <p class="subject">
         Application received - standard rules waste permit <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>

      <p class="from">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" />
      </p>

      <div id="email_text">

        <div id="banner" class="email-banner"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>


      <h1 class="bold-large">
        We’ve received your application.</br>
        You should now pay by bank transfer.
      </h1>
      
      <p class="bold-small">
        We won’t start processing your application until we get your payment.
      </p>

      <h2 class="heading-medium">
        Details for bank transfer by Bacs
      </h2>
      
      <p>
        <span class="bold-small">
        Payment reference:
        </span>
        <span class="text font-small">
          WP-{{ permit.permitRefNumber }}
        </span>
      <br>
        <span class="bold-small">
          Amount:
        </span>
        <span class="text font-small">£2,650</span>
      <br>
        <span class="bold-small">
          Sort code:
        </span>
        <span class="text font-small">
          60-70-80
        </span>
      <br>
        <span class="bold-small">
          Account number:
        </span>
        <span class="text font-small">
          1001 4411
        </span>
      </p>

        <p class="text font-small">
          After you’ve paid, email confirmation to <a href="mailto:psc-bacs@environment-agency.gov.uk">psc-bacs@environment-agency.gov.uk</a>. Include the reference number, amount and the date you expect the payment to arrive.
        </p>
        <h2 class="heading-medium">When we get your payment</h2>
        <p class="text font-small">
          We’ll check any documents you’ve uploaded, your technical qualification and any site location. We’ll run checks on the permit holder and any other relevant people. We’ll email you to let you know when we’ve started these checks.
        </p>
        <p class="text font-small">
          It takes up to 13 weeks to issue a permit. It may take longer if the information you gave us doesn’t meet our requirements.
        </p>
        <p class="text font-small">
          We won’t issue a permit if we believe that your operation will pollute the environment or harm human health.
        </p>





        <h2 class="heading-medium emailhead">Application details
        </h2>
        <p class="text font-small">
        Standard rules waste permit: Vehicle storage depollution and dismantling (authorised treatment) facility SR2015 No 13<br>
        Application reference: {{ permit.permitRefNumber }}<br>
        Site: Bob's Autos 7, GRANGE ROAD, BRISTOL BS1 5AH
        </p>


          <br />
          <br />

      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
