{% extends "layout.html" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Search for 'Standard rules permit application' in your email
        </h1>

          <p class="lede">You've been sent an email with a link to finish your application.</p>

        <details>

          <summary><span class="summary">Can't find the email?</span></summary>

          <div class="panel panel-border-narrow">

		    	<form method="get" action="/v3/save-and-return/link-resent" class="form">

	            <fieldset>

	                <div class="form-group">
	                  <label class="form-label" for="user_email">Type in your email address</label>
	                  <input class="form-control form-control-3-4" id="user_email" name="user_email" type="text">
	                </div>

	            </fieldset>

				<br>

	            <div class="form-group">
	              <input type="submit" class="button" value="Resend email" />
	            </div>
          
          </div>

        </details>


      </form>

    </div>
  </div>

</main>
{% endblock %}
