{% extends "layout.html" %}

{% set title = "Do you want to save your information to return to it later at any time?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="{{formAction}}" method="post" class="form">

        <h1 class="heading-large">{{title}}</h1>

        <fieldset>
          <legend class="visuallyhidden">
            Do you want to save your information to return to it later at any time?
          </legend>

          <p>We can send you an email that allows you to save your progress and return your information at any time.</p>

          <div class="form-group">
          <div class="multiple-choice">
          <input type="radio" id="wants_save_and_return_1" name="wants_save_and_return" value="yes">
            <label for="wants_save_and_return_1">
              Yes
            </label>
            </div>

          <div class="multiple-choice">
          <input type="radio" id="wants_save_and_return_2" name="wants_save_and_return" value="no">
            <label for="wants_save_and_return_2">
              No
            </label>
            </div>

          </div>

        </fieldset>
        
        <input type="hidden" name="seenSaveReturn" value="yes">

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
