{% set categories = 
  [
 {
   "category": "Anaerobic digestion",
   "name": "Anaerobic",
   "digitalMVP": "yes",
   "hint": " - including storing digestate"
 },
 {
   "category": "Car and vehicle dismantling",
   "name": "Car",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Composting, sewage or sludge treatment, biogas",
   "name": "Composting",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Deposit for recovery",
   "name": "Deposit",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Electrical insulating oil storage",
   "name": "Electrical",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Metal recycling, scrap metal and WEEE",
   "name": "Metal",
   "digitalMVP": "yes",
   "hint": " - not cars or vehicles"
 },
 {
   "category": "Mining, oil and gas",
   "name": "Mining",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Mobile plant",
   "name": "Mobile",
   "digitalMVP": "yes",
   "hint": ""
 },
 {
   "category": "Storage or treatment of waste",
   "name": "Storage",
   "digitalMVP": "yes",
   "hint": " - including recycling, land treatment, dredgings, clinical, soil or wood treatment"
 },
 {
   "category": "Waste transfer station or amenity site",
   "name": "Transfer",
   "digitalMVP": "yes",
   "hint": " - with or without treatment"
 }
]
 -%}
