{% extends "layout.html" %}

{% set title = "Find standard rules waste permits" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">


      <h1 class="heading-xlarge" id="radio_label">{{title}}</h1>
      
      <form method="post" action="{{formAction}}">
        
        <div class="form-group">
          <label class="form-label" for="contactName">
            
            <span class="form-hint">
              Search for words related to the permit you want.<br>
              For example, cars, biogas, soil or wood.
            </span>
          </label>
          <input class="form-control" id="searchTerm" name="searchTerm" type="text" value="{{searchTerm}}" style="font-size:120%">
              <input type="submit" class="button" value="Search">
        </div>

      {# 
      all-permit-types-json stored in:  https://docs.google.com/spreadsheets/d/1FFgU1GOmKsErBB9Vr2X3WuKvAkt4SQ9GHC1IIqgGV3k/edit#gid=0
      Converted here:
      http://www.convertcsv.com/csv-to-json.htm 
      #}
      {% from folder+"/custom_inc/all-permit-types-json.html" import permits %}

{% if searchTerm %}

{% set searchFails = 0 %}

      <h2 class="heading-small">
      Standard rules permits for '{{searchTerm}}'
      </h2>
      
      {% for pNumber, pData in permits %}
        {% set searchText = pData.title + " " + pData.keywords %}
        
          {% if searchTerm | lower in searchText | lower %}
          
            {% if pData.type=="Standard rules permit" %}
              <p>
              <a href="{{ pData.url }}">{{ pData.title }}</a>
              <span class="font-small">{{ pData.code }}</span>
              </p>
            {% endif %}
            
          {% else %}
            {% set searchFails = searchFails+1 %}
          {% endif %}
        
      {% else %}
        <p>No data</p>
      {% endfor %}
      
      {% if searchFailed==true %}
        <p>No permits found. Try searching for different words.</p>
      {% endif %}
      
{% endif %}

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
