{% extends "layout.html" %}

{% set title = "How much waste do you store or treat?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form method="post" action="{{formAction}}">

      <div class="form-group">
          <label class="form-label" for="max_waste_stored">
          Maximum weight of waste stored on the site at any one time
          <span class="form-hint">If you only know volumes, you can estimate the weight using <a href="https://www.gov.uk/government/publications/waste-returns-spreadsheet-and-supporting-information" target="_blank">waste conversion factors (opens new tab)</a></span>
          </label>
          <input class="form-control form-control-char-10" id="max_waste_stored" name="max_waste_stored" value="{{ permit.max_waste_stored }}"> 
          <span style="padding: 10px;">tonnes</span>
      </div>
      
      <div class="form-group">
          <label class="form-label" for="annual_throughput">
          Annual throughput
          </label>
          <input class="form-control form-control-char-10" name="annual_throughput" id="annual_throughput" value="{{ permit.annual_throughput }}"></input> 
          <span style="padding: 10px;">tonnes a year</span>
      </div>
      
      <div class="form-group">
          <label class="form-label" for="nonhazardous_waste_treatment_capacity">
          Non-hazardous waste treatment total capacity
          <span class="form-hint">If none enter 0</span>
          </label>
          <input class="form-control form-control-char-10" name="nonhazardous_waste_treatment_capacity" id="nonhazardous_waste_treatment_capacity" value="{{ permit.nonhazardous_waste_treatment_capacity }}">
          <span style="padding: 10px;">tonnes a year</span>
      </div>
              
      <div class="form-group">
          <label class="form-label" for="hazardous_waste_treatment_capacity">
          Hazardous waste treatment total capacity
          <span class="form-hint">If none enter 0</span>
          </label>
          <input class="form-control form-control-char-10" id="hazardous_waste_treatment_capacity" name="hazardous_waste_treatment_capacity" value="{{ permit.hazardous_waste_treatment_capacity }}">
          <span style="padding: 10px;">tonnes a year</span>
      </div>
        
      <div class="form-group">
          {{submitButton|safe}}{{completeLink|safe}}
      </div>
      
      
      </form>


    </div>
  </div>
</main>

{% endblock %}
