{% extends "layout.html" %}

{% set title = "What is the email address for the Company Secretary or a director?
" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form action="/{{folder}}/evidence/declare-offences" method="post">

        <div class="form-group">

            <p>The main contact for this application gets all communications, including official notices.</p>
            <p>For legal reasons, we also have to send a copy of any official notices to the Company Secretary, or to a director if you do not have a Company Secretary.</p>
            <p>Company Secretary is an official legal position, not a secretary or personal assistant.</p>
</br>
          <label class="form-label" for="companySecretaryEmail">
            Company Secretary’s or director’s email
          </label>
          <input class="form-control" id="companySecretaryEmail" name="companySecretaryEmail" value="{{permit.companySecretaryEmail}}">

        </div>


        <div class="form-group">
          {{submitButton|safe}}{{completeLink|safe}}
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
