{% extends "layout.html" %}

{% block page_title %}
  Permit list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


      <h1 class="heading-large">Permit list</h1>
      
      
      
      <ul class="list">
        <li><a href="?chosenCategory={{ 'Biological treatment of waste' | urlencode }}">Biological treatment of waste</a></li>
        <li><a href="?chosenCategory={{ 'Installations' | urlencode }}">Installations</a></li>
        <li><a href="?chosenCategory={{ 'Low impact installation' | urlencode }}">Low impact installation</a></li>
        <li><a href="?chosenCategory={{ 'Keeping/transfer of waste' | urlencode }}">Keeping/transfer of waste</a></li>
        <li><a href="?chosenCategory={{ 'Metal recovery/scrap metal' | urlencode }}">Metal recovery/scrap metal</a></li>
        <li><a href="?chosenCategory={{ 'Materials recovery and recycling' | urlencode }}">Materials recovery and recycling</a></li>
        <li><a href="?chosenCategory={{ 'Onshore oil and gas exploration, and mining operation' | urlencode }}">Onshore oil and gas exploration, and mining operation</a></li>
        <li><a href="?chosenCategory={{ 'Radioactive substances for non-nuclear sites' | urlencode }}">Radioactive substances for non-nuclear sites</a></li>
        <li><a href="?chosenCategory={{ 'Recovery or use of waste on land' | urlencode }}">Recovery or use of waste on land</a></li>
        <li><a href="?chosenCategory={{ 'Treatment to produce aggregate or construction materials' | urlencode }}">Treatment to produce aggregate or construction materials</a></li>
        <li><a href="?chosenCategory={{ 'Water discharges' | urlencode }}">Water discharges</a></li>
      </ul>
      
      
      <h2 class="heading-medium">Displaying: {{chosenCategory}}</h2>

      
      {% import "permit-list/macros.html" as macros %}

      {% from "permit-list/permits.html" import permits %}

      {% for p in permits %}
        {% if p.Digital_MVP=="Yes" %}
          {% if p.Category==chosenCategory %}
            {{ macros.list_permits( p.Name_GOV_UK,p.Charge,p.Code,p.Category,p.Guidance_URL) }}
          {% endif %}
        {% endif %}
        
      {% else %}
        <p>No permits</p>
      {% endfor %}
      


      
      
      
      

    </div>
  </div>

</main>

{% endblock %}
