{% extends "layout.html" %}

{% set title = "Task list: apply for a standard rules waste permit" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

{% import folder+"/custom_inc/macros.html" as macros %}
{% from folder+"/custom_inc/permit-list-json.html" import permits %}

<!-- {% set tCheckCost = "Check costs and processing time" %}
{% set tCheckRules = "Confirm that your operation meets the rules" %}
{% set tStackHeight = "Give the stack height" %}
{% set tMiningWasteManPlan = "Confirm you have a mining waste management plan" %}
{% set tSaveReturn = "Get a link to save your application" %}
{% set tStartDate = "Tell us the date when you want the permit to start" %}
{% set tMiningWastePlan = "Specify the type of mining waste plan" %}
{% set tDrainage = "Confirm the drainage system for your site" %}
{% set tWasteRecoveryPlan = "Upload the waste recovery plan" %}
{% set tPreApp = "Tell us if you've discussed this application with us" %} -->
{% set tContactDetails = "Give contact details" %}
{% set tPermitHolder = "Give permit holder details" %}
{% set tSiteDetails = "Give site name and location" %}
{% set tSitePlan = "Upload the site plan" %}
{% set tTechManagement = "Give technical management details" %}
<!-- {% set tManSystem = "Tell us which management system you use" %} -->
{% set tFirePlan = "Upload fire prevention plan" %}
{% set tConfidentiality = "Confirm confidentiality needs" %}
{% set tBilling = "Give invoicing details" %}
{% set tSend = "Send application and pay" %}

<main id="content" role="main" class="task-list">
  {% include "includes/phase_banner_beta.html" %}
  

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <form method="post" action="/{{folder}}/check/check-answers" name="tasklist">

        {% if taskListError %}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">You need to complete these tasks</h2>

          <ul class="error-summary-list">
            {% for missingItem in permit.complete %}
            <li><a href="#{{ missingItem  | lower | replace(' ', '-') | replace('\'', '') | safe }}">{{ missingItem }}</a></li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

        <h1 class="heading-large">
          <span class="visually-hidden">Task list:</span> 
          Apply for a standard rules waste permit
        </h1>

        <p class="font-medium text">{{permit.permitName}} - {{permit.permitCode}}<br><a class="font-small" href="/{{folder}}/selectpermit/permit-category2">Select a different permit</a></p>

        <ol class="task-list"> 
          <!-- 1. COMPLETE APPLICATION ############################################################### -->
          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">1. </span> Complete application
            </h2>
            <ul class="task-list-items">
              <li class="task-list-item {% if taskListError and permit.contactFirstName==null %} form-group-error{% endif %}" id="{{ tContactDetails  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
                {% if taskListError and permit.contactFirstName==null %}
                <span class="error-message">
                  Complete this task
                </span>
                {% endif %}
                <a class="task-name" href="/{{folder}}/contact/contact-details" {% if permit.contactFirstName!=null %} aria-describedby="contact-details-completed"{% endif %}>
                  {{ tContactDetails }} 
                </a>
                {% if permit.contactFirstName!=null %} <strong class="task-completed" id="contact-details-completed">Completed</strong> 
                {% else %}
                <input type="hidden" name="complete[]" value="{{ tContactDetails }}">
                {% endif %}
              </li>
              <li class="task-list-item {% if taskListError and permit.companyName==null %} form-group-error{% endif %}" id="{{ tPermitHolder  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
                {% if taskListError and permit.companyName==null %}
                <span class="error-message">
                  Complete this task
                </span>
                {% endif %}
                <a class="task-name" href="/{{folder}}/operator/company/company-name" {% if permit.companyName!=null %} aria-describedby="site-operator-completed"{% endif %}>
                  {{ tPermitHolder }}
                </a>
                {% if permit.companyName!=null %} <strong class="task-completed" id="site-operator-completed">Completed</strong> 
                {% else %}
                <input type="hidden" name="complete[]" value="{{ tPermitHolder }}">
                {% endif %}
              </li>

              <!-- DONT'T SHOW SITE FOR MOBILE PERMITS -->
              {% if 
              permit.permitID=="SR-2010-4" or 
              permit.permitID=="SR-2010-5" or 
              permit.permitID=="SR-2010-6" or 
              permit.permitID=="SR-2010-11" or 
              permit.permitID=="SR-2008-27"
              %}

              <!-- DO NOT SHOW -->
              {% else %}

              <li class="task-list-item {% if taskListError and permit.siteName==null %} form-group-error{% endif %}" id="{{ tSiteDetails  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
                {% if taskListError and permit.siteName==null %}
                <span class="error-message">
                  Complete this task
                </span>
                {% endif %}
                <a class="task-name" href="/{{folder}}/site/site-name" {% if permit.siteName!=null %} aria-describedby="site-name-completed"{% endif %}>
                  {{ tSiteDetails }}
                </a>
                {% if permit.siteName!=null %} <strong class="task-completed" id="site-name-completed">Completed</strong> 
                {% else %}
                <input type="hidden" name="complete[]" value="{{ tSiteDetails }}">
                {% endif %}
              </li>

              {% endif %}

              <!-- Site plan ############################################################### -->
              {% if permit.sitePlanNeeded=="Yes" %}
              <li class="task-list-item {% if taskListError and permit.sitePlanFilename==null %} form-group-error{% endif %}" id="{{ tSitePlan  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
                {% if taskListError and permit.sitePlanFilename==null %}
                <span class="error-message">
                  Complete this task
                </span>
                {% endif %}
                <a class="task-name" href="/{{folder}}/evidence/site-plan-check" {% if permit.csitePlanFilename!=null %} aria-describedby="site-plan-completed"{% endif %}>
                  {{ tSitePlan }}
                </a>
                {% if permit.sitePlanFilename!=null %} <strong class="task-completed" id="site-plan-completed">Completed</strong> 
                {% else %}
                <input type="hidden" name="complete[]" value="{{ tSitePlan }}">
                {% endif %}
              </li>
              {% endif %}

              <!-- Mining waste management plan 2009-8 ############################################################### 
              {% if permit.miningWasteManagementPlanRequired=="Yes" %}
              <li class="task-list-item {% if taskListError and permit.miningWasteManagementPlanConfirmed==null %} form-group-error{% endif %}" id="{{ tMiningWasteManPlan  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
                {% if taskListError and permit.miningWasteManagementPlanConfirmed==null %}
                <span class="error-message">
                  Complete this task
                </span>
                {% endif %}
                <a class="task-name" href="{% if permit.miningWasteManagementPlanConfirmed!=null %}
                /{{folder}}/specialcases/2009-8/sr-2009-8
                {% else %}
                /{{folder}}/specialcases/2009-8/sr-2009-8
                {% endif %}" {% if permit.miningWasteManagementPlanConfirmed!==null %} aria-describedby="mwp-completed"{% endif %}>
                {{ tMiningWasteManPlan }}
              </a>
              {% if permit.miningWasteManagementPlanConfirmed!==null %} <strong class="task-completed" id="mwp-completed">Completed</strong> 
              {% else %}
              <input type="hidden" name="complete[]" value="{{ tMiningWasteManPlan }}">
              {% endif %}
            </li>
            {% endif %}
            -->

            <li class="task-list-item {% if taskListError and permit.industryScheme==null %} form-group-error{% endif %}" id="{{ tTechManagement  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
              {% if taskListError and permit.industryScheme==null %}
              <span class="error-message">
                Complete this task
              </span>
              {% endif %}
              <a class="task-name" href="/{{folder}}/evidence/techcomp/manager-details" {% if permit.industryScheme!=null %} aria-describedby="industry-scheme-completed"{% endif %}>
                {{ tTechManagement }}
              </a>
              {% if permit.industryScheme!=null %} <strong class="task-completed" id="industry-scheme-completed">Completed</strong> 
              {% else %}
              <input type="hidden" name="complete[]" value="{{ tTechManagement }}">
              {% endif %}
            </li>

    <!-- <li class="task-list-item {% if taskListError and permit.manSys==null %} form-group-error{% endif %}" id="{{ tManSystem  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
      {% if taskListError and permit.manSys==null %}
        <span class="error-message">
          Complete this task
        </span>
      {% endif %}
      <a class="task-name" href="{% if permit.manSys!=null %}
        /{{folder}}/evidence/management-check-answers
      {% else %}
        /{{folder}}/evidence/management-system
      {% endif %}" {% if permit.manSys!=null  %} aria-describedby="management-system-completed"{% endif %}>
        {{ tManSystem }}
      </a>
      {% if permit.manSys!=null %} <strong class="task-completed" id="management-system-completed">Completed</strong> 
      {% else %}
      <input type="hidden" name="complete[]" value="{{ tManSystem }}">
      {% endif %}
    </li> -->
    


    <!-- Fire prevention plan ############################################################### -->
    {% if permit.firePlanNeeded=="Yes" %}
    <li class="task-list-item {% if taskListError and permit.firePlanFilename==null %} form-group-error{% endif %}" id="{{ tFirePlan  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
      {% if taskListError and permit.firePlanFilename==null %}
      <span class="error-message">
        Complete this task
      </span>
      {% endif %}
      <a class="task-name" href="/{{folder}}/evidence/upload-fire-plan" {% if permit.firePlanFilename!==null %} aria-describedby="firepp-completed"{% endif %}>
        {{ tFirePlan }}
      </a>
      {% if permit.firePlanFilename!==null %} <strong class="task-completed" id="firepp-completed">Completed</strong> 
      {% else %}
      <input type="hidden" name="complete[]" value="{{ tFirePlan }}">
      {% endif %}
    </li>
    {% endif %} 

    <!-- Confidentiality ############################################################### -->
    <li class="task-list-item {% if taskListError and permit.confidential==null %} form-group-error{% endif %}" id="{{ tConfidentiality  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
      {% if taskListError and permit.confidential==null %}
      <span class="error-message">
        Complete this task
      </span>
      {% endif %}
      <a class="task-name" href="/{{folder}}/check/claim-confidentiality" {% if permit.confidential!=null %} aria-describedby="confidentiality-completed"{% endif %}>
        {{ tConfidentiality }}
      </a>
      {% if permit.confidential!=null %} <strong class="task-completed" id="confidentiality-completed">Completed</strong> 
      {% else %}
      <input type="hidden" name="complete[]" value="{{ tConfidentiality }}">
      {% endif %}
    </li> 


    <!-- Invoicing ############################################################### -->
    <li class="task-list-item {% if taskListError and permit.invoiceAddress==null %} form-group-error{% endif %}" id="{{ tBilling  | lower | replace(' ', '-') | replace('\'', '') | safe }}">
      {% if taskListError and permit.invoiceAddress==null %}
      <span class="error-message">
        Complete this task
      </span>
      {% endif %}
      <a class="task-name" href="/{{folder}}/billing/invoice-postcode" {% if permit.invoiceAddress!=null %} aria-describedby="billing-completed"{% endif %}>
        {{ tBilling }}
      </a>
      {% if permit.invoiceAddress!=null %} <strong class="task-completed" id="billing-completed">Completed</strong> 
      {% else %}
      <input type="hidden" name="complete[]" value="{{ tBilling }}">
      {% endif %}
    </li>  

  </ul>
</li>

<!-- 3. SEND AND PAY  ############################################################### -->
<li>
  <h2 class="task-list-section">
    <span class="task-list-section-number">2. </span> Send and pay
  </h2>
  <ul class="task-list-items">
    <li class="task-list-item" id="submit-pay">
      <a onclick="document.tasklist.submit(); return false;" class="task-name" href="#">
        {{ tSend }}
      </a>
    </li>
  </ul>
</li>
</ol>

</form>
</div>

<!-- Only show if 'Tasklist Save' route -->
{% if permit.saveReturnEmail!==null  %}

<div class="column-one-third application-saved">
  <aside class="govuk-related-items">
    <h2 class="heading-medium">Application saved</h2>
    <p>
      We sent a secure return link to {{ permit.saveReturnEmail or permit.saveReturnPhone }}.
    </p>
    <p>
      Your reference is {{ permit.permitRefNumber }}.
    </p>
  </aside>
</div>

{% endif %}

</div>
</main>

{% endblock %}


{% block page_scripts %}
<script>
  $(document).ready(function () {

    $.ajax({
      url: '/{{folder}}/task-list-visit',
      success: function(){
             //alert('reply')
           },     
           error: function(){
              //alert('timeout/error')
            }
          })

  })
</script>
{% endblock %}
