{% extends "layout.html" %}

{% set title = "Do you want to claim confidentiality for your application?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>


<div class="notice" style="margin-bottom: 20px">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    Only claim confidentiality if you are very certain that you wish information to be confidential. This may delay your application.
  </strong>
</div>



<form method="post" action="{{formAction}}" class="form">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">{{title}}</legend>

      <div class="multiple-choice" data-target="confidentialReasonsGroup">
      <input id="yesConfClaim" type="radio" name="confidential" value="yes">
<label class="selection-button-radio" for="yesConfClaim">
        Yes, I wish to claim confidentiality for my application
      </label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="confidentialReasonsGroup">
        <label class="form-label" for="confidentialReasons">Give your reasons. If we agree with your request, we will tell you and not include the information in the public register.</label>
        <textarea class="form-control" name="confidentialReasons" type="text" id="confidentialReasons"></textarea>
      </div>

      <div class="multiple-choice">
      <input id="notConfClaim" type="radio" name="confidential" value="no">
<label class="selection-button-radio" for="notConfClaim">
        No
      </label>
      </div>

    </fieldset>
  </div>

    <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


</form>


    </div>
  </div>
</main>

{% endblock %}
