{% extends "layout.html" %}

{% set title = "What's their postcode?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


      <h1 class="heading-large" id="radio_label">{{title}}</h1>
      

      
      
      <form method="post" action="{{formAction}}">
        
        <fieldset>
          <legend class="visuallyhidden">Postcode</legend>

          <!-- Postcode look-up -->
          <div class="form-group">
            <label class="form-label" for="postcode">UK postcode
              <span class="form-hint">For example, BS1 5AH</span>
            </label>
            <input type="text" class="form-control form-postcode form-control-char-10" id="postcode" name="individualPostCode" value="{{permit.individualPostCode}}" />
          </div>

        </fieldset>


        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>

      </form>

      
    </div>
  </div>

</main>

{% endblock %}
