{% extends "layout.html" %}

{% set title = "Declaration" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  <div class="grid-row overview">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>



<div class="form-group notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small text">
    You can be prosecuted and fined if you give false or misleading information.
  </strong>
</div>

<p class="text">
  I confirm that:
</p>
<ul class="list list-bullet">
  <li>the information I have given is true</li>
  <li>the facility will fully meet the rules that I have applied for</li>
  <li>I am authorised to apply for this permit by the organisation or individual responsible</li>
</ul>

    <form method="post" action="{{formAction}}">

      <div class="form-group">
      <button type="submit" class="button" name="Accept and continue">Accept and continue</button>
        <span class="resume-link">
          or <a href="/{{folder}}/check/overview">return to your application</a>
        </span>
      </div>

    </form>


</div>
</div>

</main>

{% endblock %}
