{% extends "layout.html" %}

{% set title = "You need to complete all the tasks" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">{{title}}</h1>

      <p>Please complete these tasks before you submit your application:</p>
      
      <ul class="list list-bullet">
        <li>{{permit.complete | join("</li><li>") | safe }}</li>
      </ul>
      
      <form method="post" action="{{formAction}}">
        <div class="form-group">
        <button type="submit" class="button" name="Back to the task list">Back to the task list</button>
        </div>
      </form>
      
    </div>
  </div>
</main>

{% endblock %}
