{% extends "layout.html" %}

{% set title = "Preparing your permit" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
          
          <p>
            {{ title }}
          </p>
      
      <form method="post" action="{{formAction}}" id="autoSubmit">
      
      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/custom_inc/permit-list-json.html" import permits %}


        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}

{% include folder+"/custom_inc/permit-inputs.html" %}

              {% endif %}
            {% endfor %}
        

        <div class="form-group">
            <button type="submit" class="button" name="Next">Next</button>
        </div>

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
