{% set categories = 
  [
   {
     "friendlyCategory": "Composting, sewage or sludge, anaerobic digestion and biogas",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Installations",
     "digitalMVP": "No"
   },
   {
     "friendlyCategory": "Land-spreading and mobile plant",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Low impact installation",
     "digitalMVP": "No"
   },
   {
     "friendlyCategory": "Onshore oil and gas exploration, and mining",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Radioactive substances for non-nuclear sites",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Recycling, household waste amenity site, wood waste",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Scrap metal, vehicle dismantling and WEEE",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Treating waste to produce soil or construction materials",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Waste storage, clinical and oil waste",
     "digitalMVP": "Yes"
   },
   {
     "friendlyCategory": "Water discharge from cooling and sewage",
     "digitalMVP": "Yes"
   }
  ]
 -%}
