{% set categories = 
  [
   {
     "Category": "Biological treatment of waste",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Installations",
     "Digital_MVP": "No"
   },
   {
     "Category": "Keeping/transfer of waste",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Low impact installation",
     "Digital_MVP": "No"
   },
   {
     "Category": "Metal recovery/scrap metal",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Materials recovery and recycling",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Onshore oil and gas exploration, and mining operation",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Radioactive substances for non-nuclear sites",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Recovery or use of waste on land",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Treatment to produce aggregate or construction materials",
     "Digital_MVP": "Yes"
   },
   {
     "Category": "Water discharges",
     "Digital_MVP": "Yes"
   }
  ]
 -%}
