{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- Section 6 -->
<h1 class="heading-large">Your address</h1>

<h2 class="heading-medium">Your main (registered office) address</h2>
<p>For companies this is the address on record at Companies House.</p>


<!-- registered-address details 
    why do users need to add their title & name again? -->

<form>

<div class="form-group">
  <label class="form-label" for="registered-address-title">Title (Mr, Mrs, Miss and so on)</label>
  <input class="form-control" id="registered-address-title" name="registered-address-title" type="text">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-first-name">First name</label>
  <input class="form-control" id="registered-address-first-name" name="registered-address-first-name" type="text">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-last-name">Last name</label>
  <input class="form-control" id="registered-address-last-name" name="registered-address-last-name" type="text">
</div>

<!-- Use address finder here? -->

<div class="form-group">
  <label class="form-label" for="registered-address-last-name">Address</label>
  <input class="form-control" id="registered-address-last-name" name="registered-address-last-name" type="text">
</div>

<div class="form-group">
  <input class="form-control" id="registered-address-line-1" name="registered-address-line-1" type="text">
</div>

<div class="form-group">
  <input class="form-control" id="registered-address-line-2" name="registered-address-line-2" type="text">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-postcode">Postcode</label>
  <input class="form-control" id="registered-address-postcode" name="registered-address-postcode" type="text">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-phone">Phone</label>
  <input class="form-control" id="registered-address-phone" name="registered-address-phone" type="number">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-fax">Fax</label>
  <input class="form-control" id="registered-address-fax" name="registered-address-fax" type="number">
</div>

<div class="form-group">
  <label class="form-label" for="registered-address-mobile">Mobile</label>
  <input class="form-control" id="registered-address-mobile" name="registered-address-mobile" type="number">
</div>


<div class="form-group">
  <label class="form-label" for="registered-address-email">Email</label>
  <input class="form-control" id="registered-address-email" name="registered-address-email" type="email">
</div>


<!-- conditional: is this an 'organisation of individuals' application? Then show -->


<div class="form-group">
<p>For an organisation of individuals every partner needs to give us their details, including their title Mr, Mrs and so on. So, if necessary, continue on a separate sheet and tell us below the reference you have given the sheet.</p>
  <label class="form-label" for="registered-address-OOI-docref">Document reference for the extra sheet</label>
  <input class="form-control" id="registered-address-OOI-docref" name="registered-address-OOI-docref" type="text">
</div>





<h1 class="heading-medium">
Is your main UK business address different from above?
</h1>


 <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Is your main UK business address different from above?</legend>

<div class="multiple-choice" data-target="contact-by-email">
      <input id="business-address-different" type="radio" name="UKBusinessAddress" value="Yes">
<label class="selection-button-radio" for="business-address-different">
        Yes 
      </label>
      </div>

      <div class="multiple-choice" data-target="contact-by-phone">

      <input id="business-address-same" type="radio" name="UKBusinessAddress" value="No">
<label class="selection-button-radio" for="business-address-same">
        No (my main UK business address is the same as above)
      </label>
</div>

    </fieldset>
  </div>


  <div class="form-group">
  <a href="/v0/about-you/contact-application" class="button">Continue</a>
  </div>

</form>

    </div>
  </div>

</main>

{% endblock %}


