{% extends "layout.html" %}

{% block page_title %}
  What you will need to do to apply
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="content-inner slides">
      <div class="grid-row">
        <div class="column-one-third">

          <p>&nbsp;</p>
          
        </div>

        <div class="column-two-thirds wp-slides">

          <h1 class="heading-large">Before you start, you will need:</h1>
          
          <ul class="list list-bullet">
            <li>scanned or digital documents, such as a site plan, ready to upload</li>
            <li>details about the operator and staff</li>
            <li>credit card or bank details to pay</li>
          </ul>
          
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-medium">
              You cannot save the application so get everything ready before you start.
            </strong>
          </div>
          
          <div class="actions">
            <p>
              <a class="button" href="documents" role="button">Next</a> 
              <span class="after-button">the documents you need</span>
            </p>
          </div>
          
          <p class="font-xsmall">
            <a href="/about-you">Skip introduction</a>
          </p>

          
        </div>
      </div>
  </div>

</main>

{% endblock %}
