{% extends "layout_unbranded.html" %}

{% set imgpath="/public/images/email/" %}

{% block page_title %}
  Gmail | Standard rules permit location check
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

  <div class="grid-row">

    <div class="column-one-quarter">
      <img src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="column-three-quarter">

      <p class="subject">
         Standard rules permit location check <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>

      <p class="from">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" />
      </p>

      <div id="email_text">

        <div id="banner" class="email-banner"><img src="{{ imgpath }}gov_uk_email_header.png" alt="GOV.UK" /></div>

        {#{permit | dump}#}

       <p class="text font-small">
          Dear {{ permit.contactFirstName }} {{ permit.contactLastName }}
        </p>

        <h1 class="bold-large">
        We’ve received your location check request 
        </h1>
        <br>
        

        <p class="bold-medium">
          Your reference is {{ permit.permitRefNumber }}
        </p>
        
 
        <p class="text font-small">
              We'll contact you within 5 working days to let you know whether your application is complete.
        </p>

        <p class="text font-small">
              If the check does not report any problems we'll send you a link so you can use the information you've given already to continue the application for this permit.
        </p>

       <p class="text font-small">The check you requested is:</p>

      <ul class="list list-bullet font-small">
        <li>at grid reference {{permit.siteGridRef}}</li>
        <li>for {{permit.permitName | lower }} {{permit.permitCode}}</li>
      </ul>


        <!-- <h2 class="heading-medium emailhead">Contact the Environment Agency</h2>
        <p class="text font-small">
          <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br />
          Telephone: 03708 506 506<br />
          Minicom: 03702 422 549<br />
          Monday to Friday, 8am to 6pm
        </p> -->

          <br />
          <br />

      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
