{% extends "layout.html" %}

{% block page_title %}
	Standard rules permit - SR2015 No17 Vehicle storage, depollution and dismantling facility
{% endblock %}

{% block content %}

{% include folder+"/guidance/permit/style.css" %}


<main id="content" role="main" class="html-publication">
  
<p>&nbsp;</p>

  <header class="publication-header direction-ltr" id="contents">
    <div class="headings">
      <div class="html-publication-title">
        <p class="context">Standard rules permit</p>
        <h1>Vehicle storage, depollution and dismantling facility: SR2015 number 17</h1>
      </div>
      Updated 9 November 2016
    </div>
      <nav class="in-page-navigation">
        <h2>
          Contents
        </h2>
        <ol>
          <li><a href="#key-features">Key features of this permit</a></li>
          <li><a href="#what-you-need">What you need for your application</a></li>
          <li><a href="#rules">Rules</a></li>
          <li><a href="#risk-assessment">Risk assessment</a></li>

        </ol>
      </nav>
  </header>

<div class="govuk-govspeak-html-publication direction-ltr" data-module="sticky-element-container">
  <div class="govuk-govspeak direction-ltr">
    <div class="govspeak">
			
			
			
<!--
######## ########    ###    ######## ##     ## ########  ########  ######  
##       ##         ## ##      ##    ##     ## ##     ## ##       ##    ## 
##       ##        ##   ##     ##    ##     ## ##     ## ##       ##       
######   ######   ##     ##    ##    ##     ## ########  ######    ######  
##       ##       #########    ##    ##     ## ##   ##   ##             ## 
##       ##       ##     ##    ##    ##     ## ##    ##  ##       ##    ## 
##       ######## ##     ##    ##     #######  ##     ## ########  ######  
-->
      
      
<h2 id="key-features">
<span class="number">1. </span>Key features of this permit</h2>

<p>This section is to help you understand the rules but is not legally part of the rules.</p>

<h3>
  <span class="number">1.1 </span>What you can and cannot do</h3>
  
  <p>You can:</p>
  <ul>
    <li>store and treat all types of waste motor vehicles on one site only</li>
    <li>work only with end-of-life vehicles, tyres, brake pads, oil filters and lead-acid batteries (waste categories R13, R4 and R5)</li>
    <li>only use hand-held equipment to sort, separate, bale, compact or cut the waste into different components for recovery</li>
  </ul>   

<p>You can't just deal with a limited range of waste, for example mainly tyres, if that significantly increases any of the risks compared to running a general vehicle dismantling operation.</p>

<p>You're not allowed to burn any waste, either in the open, inside buildings or in any form of incinerator.</p>


<h3>
<span class="number">1.2 </span>How much waste you can process</h3>
  
<p>You can't:</p>

<ul>
  <li>accept more than 5,000 tonnes a year of waste a year</li>
  <li>treat more than of 10 tonnes of hazardous waste a day - this excludes depollution of  end-of-life vehicles</li>
  <li>store more than 25 tonnes of tyres</li>
  <li>store more than 50 tonnes of hazardous waste, of which less than 10 tonnes shall be for disposal - this excludes end-of-life vehicles awaiting depollution</li>
</ul>

<h3>
  <span class="number">1.3 </span>Location of the site</h3>
  <p>The site can't be:</p>
  <ul>
    <li>within 50 metres of any well, spring or borehole used for drinking water, including private water supplies</li>
    <li>within 200 metres of an environmentally sensitive area. For example a Special Area of Conservation, Special Protection Area, Ramsar site, or a Site of Special Scientific Interest</li>
    <li>within a Groundwater Source Protection Zone 1</li>
  </ul>

<h3>
  <span class="number">1.4 </span>Storage and drainage</h3>

<p>Before and during treatment, vehicles and other waste must be kept on an impermeable surface with a sealed drainage system.</p>

<p>Fully depolluted vehicles, uncontaminated plastic, glass and metal wastes from the vehicles may be stored on hard standing.</p>

<p>Lead acid batteries must be stored in containers with an impermeable, acid resistant base and a lid to stop water getting in.</p>

<p>It's your responsiblity to ensure that the drainage is properly dealt with to avoid pollution or reducing the water quality of any water it runs into. Possible methods are to:</p>
<ul>
  <li>use an interceptor</li>
  <li>collect in a sump for disposal, for example, by tanker</li>
  <li>discharge into a sewer, but only if your local water company gives you a formal 'consent'</li>
</ul> 




<!--
##    ## ######## ######## ########   ######  
###   ## ##       ##       ##     ## ##    ## 
####  ## ##       ##       ##     ## ##       
## ## ## ######   ######   ##     ##  ######  
##  #### ##       ##       ##     ##       ## 
##   ### ##       ##       ##     ## ##    ## 
##    ## ######## ######## ########   ######  
-->

<h2 id="what-you-need">
<span class="number">2. </span>What you need for your application</h2>

<p>This section is to help you understand the rules but is not legally part of the rules.</p>

<h3>
  <span class="number">2.1 </span>How to apply</h3>

<p>You should apply online for this permit.</p>

<p>You must contact us for pre-application advice before you start your application.</p>

<h3>
  <span class="number">2.2 </span>Checks before you apply</h3>

  <ol>
    <li>Check that you can comply with all the <a href="#rules">rules in this permit</a>.</li>
    <li>Read and accept the standard <a href="#risk-assessment">risk assessment in this permit</a>.</li>
    <li>Get a <a href="#">nature and heritage conservation assessment</a>.</li>
  </ol>

<h3>
  <span class="number">2.3 </span>Documents you need to prepare</h3>
  <p>You need to have to have ready to upload as a computer file:
  <ul>
    <li>a site plan prepared to <a href="#">site plan standards</a></li>
    <li>a <a href="#">fire prevention plan</a></li>
    <li><a href="#">evidence of technical ability</a>, for example, qualifications from WAMITAB</li>
    <li>a <a href="#">written management system</a></li>
  </ul>



<!--
	########  ##     ## ##       ########  ######  
	##     ## ##     ## ##       ##       ##    ## 
	##     ## ##     ## ##       ##       ##       
	########  ##     ## ##       ######    ######  
	##   ##   ##     ## ##       ##             ## 
	##    ##  ##     ## ##       ##       ##    ## 
	##     ##  #######  ######## ########  ######  
-->


  <h2 id="rules">
<span class="number">3</span> Rules</h2>

<p>Chapter 4, The Environmental Permitting (England and Wales) Regulations 2010</p>

<p>Standard rules SR2015 No17 Vehicle storage, depollution &amp; dismantling (authorised treatment) facility</p>
    
    <h3><span class="number">3.1</span> Management</h3>
    
    <h4><span class="number">3.1.1</span> General management</h4>
    <p>The operator shall manage and operate the activities:</p>
    <ul>
      <li>in accordance with a written management system that identifies and minimises risks of pollution, including those arising from operations, maintenance, accidents, incidents, non-conformances, closure and those drawn to the attention of the operator as a result of complaints; and</li>
      <li>using sufficient competent persons and resources.</li>
    </ul>
    <p>Records demonstrating compliance with this rule shall be maintained.</p>
    <p>Any person having duties that are or may be affected by the matters set out in these standard rules shall have convenient access to a copy of them kept at or near the place where those duties are carried out.</p>
    <p>The operator shall comply with the requirements of an approved competence scheme.</p>
    
    <h4><span class="number">3.1.2</span> Avoidance, recovery and disposal of wastes produced by the activities</h4>
    <p>The operator shall take appropriate measures to ensure that:</p>
    <ul>
      <li>the waste hierarchy referred to in Article 4 of the Waste Framework Directive is applied to the generation of waste by the activities; and</li>
      <li>any waste generated by the activities is treated in accordance with the waste hierarchy referred to in Article 4 of the Waste Framework Directive; and</li>
      <li>where disposal is necessary, this is undertaken in a manner which minimises its impact on the environment.</li>
    </ul>
    <p>The operator shall review and record at least every four years whether changes to those measures should be made and take any further appropriate measures identified by a review.</p>
    
    <h3><span class="number">3.2</span> Operations</h3>
    
    <h4>3.2.1 Permitted activities</h4>
    <p>The operator is only authorised to carry out these activities.</p>
    <h4>Description of activities</h4>
    <p>R13: Storage of wastes pending any of the operations numbered R1 to R12 (excluding temporary storage, pending collection, on the site where it is produced)</p>
    <p>R4: Recycling/reclamation of metals and metal compounds</p>
    <p>R5: Recycling/reclamation of other inorganic materials</p>
    <p>D15: Storage pending any of the operations numbered D1 to D14 (excluding temporary storage, pending collection, on the site where it is produced)</p>
    
    <h4>Limits of activities</h4>
    <p>Treatment consisting only of depollution of waste motor vehicles and sorting, separation, grading, baling, shearing, compacting, crushing or cutting of waste into different components for recovery.</p>
    <p>There shall be no treatment of lead acid batteries, other than sorting and separating from other wastes.</p>
    <p>The maximum quantity of hazardous waste treated for disposal or recovery shall not exceed 10 tonnes per day. This does not include the manual depollution and dismantling of waste motor vehicles.</p>
    <p>Wastes shall be stored for no longer than 1 year prior to disposal and 3 years prior to recovery.</p>
    <p>The maximum quantity of hazardous waste stored at the site not exceed 50 tonnes at any one time of which no more than 10 tonnes shall be stored for disposal. This does not include waste motor vehicles awaiting manual depollution.</p>
    <p>No more than 25 tonnes of intact waste vehicle tyres (waste code 16 01 03) shall be stored at the site.</p>
    
    <h4><span class="number">3.2.2</span> Waste acceptance</h4>
    <h4>Maximum Quantities</h4>
    <p>The total quantity of waste accepted at the site shall be less than 5,000 tonnes a year.</p>
    
    <h4>Exclusions</h4>
    <p>Wastes having any of the following characteristics shall not be accepted:</p>
    <ul>
      <li>Consisting solely or mainly of dusts, powders or loose fibres</li>
    </ul>
    
    <h4>Waste shall only be accepted if:</h4>
    <ul>
      <li>it is of a type and quantity listed in table of waste types and quantities; and</li>
      <li>it conforms to the description in the documentation supplied by the producer and holder.</li>
    </ul>
    
    <table>
      <caption>
        Table of waste types and quantities
      </caption>
      <tr>
        <th width="15%">Waste code</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>16</td>
        <td>WASTES NOT OTHERWISE SPECIFIED IN THE LIST</td>
      </tr>
      <tr>
        <td>16 01</td>
        <td>end-of-life vehicles from different means of transport [including off-road machinery] and wastes from dismantling of end-of-life vehicles and vehicle maintenance (except 13,14, 16 06 and 16 08)</td>
      </tr>
      <tr>
        <td>16 01 03</td>
        <td>end-of-life tyres</td>
      </tr>
      <tr>
        <td>16 01 04*</td>
        <td>end-of-life vehicles</td>
      </tr>
      <tr>
        <td>16 01 06</td>
        <td>end-of-life vehicles (containing neither liquids nor other hazardous components)</td>
      </tr>
      <tr>
        <td>16 01 07*</td>
        <td>oil filters</td>
      </tr>
      <tr>
        <td>16 01 11*</td>
        <td>brake pads containing asbestos</td>
      </tr>
      <tr>
        <td>16 01 12</td>
        <td>brake pads other than those mentioned in 16 01 11</td>
      </tr>
      <tr>
        <td>16 06</td>
        <td>batteries and accumulators</td>
      </tr>
      <tr>
        <td>16 06 01*</td>
        <td>lead batteries</td>
      </tr>
      <tr>
        <td>16 06 05</td>
        <td>other batteries and accumulators</td>
      </tr>
    </table>
    
    <h4><span class="number">3.2.3</span> Operating techniques</h4>
    <p>The activities shall be operated using the techniques and in the manner described below:</p>
    <ul>
      <li>You will follow the Fire Prevention Plan approved by the Environment Agency</li>
      <li>Fully depolluted end-of-life vehicles, uncontaminated plastic, glass and ferrous and non- ferrous metal wastes arising from the treatment of end-of-life vehicles shall be stored on hard standing or an impermeable surface with sealed drainage system.</li>
      <li>Whole undepolluted and undamaged vehicles shall be stored on an impermeable pavement with:
        <ul>
          <li>a sealed drainage system; or</li>
          <li>a drainage system which discharges to surface water or to groundwater and is designed,</li>
        </ul>
      </li>
      <li>constructed and maintained so discharged run-off does not adversely impact the water quality of receiving water bodies, both during construction and when operational.</li>
      <li>All other wastes shall be stored on an impermeable surface with sealed drainage system.</li>
      <li>Storage operations are to be carried out avoiding damage to components containing fluids or to recoverable components or spare parts.</li>
      <li>Spillage collection facilities shall be provided and used to deal with any spillage of vehicle fluids.</li>
      <li>All wastes shall be treated on an impermeable surface with sealed drainage system.</li>
      <li>Lead acid batteries shall be stored in containers with an impermeable, acid resistant base and, unless stored under weatherproof covering, a lid to prevent ingress of water.</li>
      <li>Other batteries and accumulators shall be stored under weatherproof covering or in suitable containers.</li>
    </ul>
    
    <h4><span class="number">3.2.4</span> The site</h4>
    <p>The activities shall not extend beyond the site, being the land shown edged in green on the site plan attached to the permit.</p>
    <p>The activities shall not be carried out within 200 metres of a European Site and or a SSSI.</p>
    <p>The activities shall not be carried out within Groundwater Source Protection Zone 1, or if a Source Protection Zone has not been defined then within 50m of any well spring or borehole used for the supply of water for human consumption. This must include private water supplies.</p>
    
    <h4><span class="number">3.2.5</span> Technical Requirements</h4>
    <p>As a minimum, all ELVs shall be treated to the standards set out below.</p>
    <h4>Minimum technical requirements:</h4>
    <p>Treatment operations for depollution of end-of-life vehicles:</p>
    <ul>
      <li>removal of batteries and liquified gas tanks,</li>
      <li>removal or neutralisation of potential explosive components, (e.g. air bags),</li>
      <li>removal and separate collection and storage of fuel, motor oil, transmission oil, gearbox oil, hydraulic oil, cooling liquids, antifreeze, brake fluids, air-conditioning system fluids and any other fluid contained in the end-of-life vehicle, unless they are necessary for the re-use of the parts concerned,</li>
      <li>removal, as far as feasible, of all components identified as containing mercury.</li>
    </ul>
    <p>Treatment operations in order to promote recycling:</p>
    <ul>
      <li>removal or catalysts,</li>
      <li>removal of metal components containing copper, aluminium and magnesium if these metals are not segregated in the shredding process,</li>
      <li>removal of tyres, glass and large plastic components (bumpers, dashboard, fluid containers, etc), if these materials are not segregated in the shredding process in such a way that they can be effectively recycled as materials.</li>
    </ul>
    <p>Hazardous waste shall not be mixed, either with a different category of hazardous waste or with other waste, substances or materials, unless it is authorised by table of activities and appropriate measures are taken.</p>
    
    <h3><span class="number">3.3</span> Emissions and monitoring</h3>
    
    <h4><span class="number">3.3.1</span> Emissions of substances not controlled by emission limits</h4>
    <p>Emissions of substances not controlled by emission limits (excluding odour) shall not cause pollution. The operator shall not be taken to have breached this rule if appropriate measures, including, but not limited to, those specified in any approved emissions management plan, have been taken to prevent or where that is not practicable, to minimise, those emissions.</p>
    <p>The operator shall:</p>
    <ul>
      <li>if notified by the Environment Agency that the activities are giving rise to pollution, submit to the Environment Agency for approval within the period specified, an emissions management plan;</li>
      <li>implement the approved emissions management plan, from the date of approval, unless otherwise agreed in writing by the Environment Agency.</li>
    </ul>
    <p>All liquids in containers, whose emission to water or land could cause pollution, shall be provided with secondary containment, unless the operator has used other appropriate measures to prevent or where that is not practicable, to minimise, leakage and spillage from the primary container.</p>
    
    <h4><span class="number">3.3.2</span> Odour</h4>
    <p>Emissions from the activities shall be free from odour at levels likely to cause pollution outside the site, as perceived by an authorised officer of the Environment Agency, unless the operator has used appropriate measures, including, but not limited to, those specified in any approved odour management plan, to prevent or where that is not practicable, to minimise, the odour.</p>
    <p>The operator shall:</p>
    <ul>
      <li>if notified by the Environment Agency that the activities are giving rise to pollution outside the site due to odour, submit to the Environment Agency for approval within the period specified, an odour management plan;</li>
      <li>implement the approved odour management plan, from the date of approval, unless otherwise agreed in writing by the Environment Agency.</li>
    </ul>
    
    <h4><span class="number">3.3.3</span> Noise and vibration</h4>
    <p>Emissions from the activities shall be free from noise and vibration at levels likely to cause pollution outside the site, as perceived by an authorised officer of the Environment Agency, unless the operator has used appropriate measures, including, but not limited to, those specified in any approved noise and vibration management plan, to prevent or where that is not practicable, to minimise, the noise and vibration.</p>
    <p>The operator shall:</p>
    <ul>
      <li>if notified by the Environment Agency that the activities are giving rise to pollution outside the site due to noise and vibration, submit to the Environment Agency for approval within the period specified, a noise and vibration management plan;</li>
      <li>implement the approved noise and vibration management plan, from the date of approval, unless otherwise agreed in writing by the Environment Agency.</li>
    </ul>
    
    <h3><span class="number">3.4</span> Information</h3>
    
    <h4><span class="number">3.4.1</span> Records</h4>
    <p>All records required to be made by these standard rules shall:</p>
    <ul>
      <li>be legible;</li>
      <li>be made as soon as reasonably practicable;</li>
      <li>if amended, be amended in such a way that the original and any subsequent amendments remain legible or are capable of retrieval; and</li>
      <li>be retained, unless otherwise agreed by the Environment Agency, for at least 6 years from the date when the records were made, or in the case of the following records until licence surrender:
        <ul>
          <li>off-site environmental effects; and</li>
          <li>matters which affect the condition of land and groundwater.</li>
        </ul>
      </li>
    </ul>
    <p>The operator shall keep on site all records, plans and the management system required to be maintained by these standard rules, unless otherwise agreed in writing by the Environment Agency.</p>
    
    <h4><span class="number">3.4.2</span> Reporting</h4>
    <p>The operator shall send all reports and notifications required by these standard rules to the Environment Agency using the contact details supplied in writing by the Environment Agency.</p>
    <p>Within one month of the end of each year, the operator shall submit to the Environment Agency using the form made available for the purpose, the information specified on the form relating to the site and the waste accepted and removed from it during the previous year.</p>
    
    <h4><span class="number">3.4.3</span> Notifications</h4>
    <p>The Environment Agency shall be notified without delay following the detection of:</p>
    <ul>
      <li>any malfunction, breakdown or failure of equipment or techniques, accident or emission of a substance not controlled by an emission limit which has caused, is causing or may cause significant pollution;</li>
      <li>the breach of a limit specified in these standard rules; or</li>
      <li>any significant adverse environmental effects.</li>
    </ul>
    <p>Written confirmation of actual or potential pollution incidents and breaches of emission limits shall be submitted within 24 hours.</p>
    <p>Where the Environment Agency has requested in writing that it shall be notified when the operator is to undertake monitoring and/or spot sampling, the operator shall inform the Environment Agency when the relevant monitoring and/or spot sampling is to take place. The operator shall provide this information to the Environment Agency at least 14 days before the date the monitoring is to be undertaken.</p>
    <p>The Environment Agency shall be notified within 14 days of the occurrence of the following matters except where such disclosure is prohibited by Stock Exchange rules:</p>
    <p>Where the operator is a registered company:</p>
    <ul>
      <li>any change in the operator's trading name, registered name or registered office address; and</li>
      <li>any steps taken with a view to the operator going into administration, entering into a company voluntary arrangement or being wound up.</li>
    </ul>
    <p>Where the operator is a corporate body other than a registered company:</p>
    <ul>
      <li>any change in the licence holder's name or address; and</li>
      <li>any steps taken with a view to the dissolution of the licence holder.<br></li>
    </ul>
    <p>In any other case:</p>
    <ul>
      <li>the death of any of the named operators (where the operator consists of more than one named individual);</li>
      <li>any change in the operator’s name(s) or address(es); and</li>
      <li>any steps taken with a view to the operator, or any one of them, going into bankruptcy, entering into a composition or arrangement with creditors, or, in the case them being in a partnership, dissolving the partnership.</li>
    </ul>
    
    <h4><span class="number">3.4.4</span> Interpretation</h4>
    <p>In this set of standard rules the expressions listed below shall have the meaning given.</p>
    <p>In these standard rules references to reports and notifications mean written reports and notifications, except when reference is being made to notification being made "without delay", in which case it may be provided by telephone.</p>
    <p>"accident" means an accident that may result in pollution.</p>
    <p>"authorised officer" means any person authorised by the Environment Agency under section 108(1) of The Environment Act 1995 to exercise, in accordance with the terms of any such authorisation, any power specified in Section 108(4) of that Act.</p>
    <p>"baling" means baling that utilises a hydraulic machine that using compressive forces compacts various materials into regular-shaped dense bales (typically a cube). Bales may be belted with straps or steel wire to keep the bale in its compacted state; although for most metal bales this is not necessary. Baled scrap metal may be easier to handle, store and transport than loose scrap.</p>
    <p>"compacting" means compacting involving the flattening or crushing of compactable metal wastes (typically depolluted end-of-life vehicles) to aid storage and economic transportation to the scrap processor; it is often a preparation for shredding. Compacting may be achieved using a waste handler’s loading shovel (known as ‘tapping’) or specially-designed hydraulic flattener.</p>
    <p>"cutting using hand-held equipment" means cutting typically utilising either an oxy-acetylene gas cutting torch or abrasive disc cutter tool to cut and/or resize large pieces of scrap metal into more manageable sizes; powder torches and plasma torches may be used to cut heat-resistant scrap (e.g. pig iron, copper, bronze).</p>
    <p>"D" means a disposal operation provided for in Annex I to Directive 2008/98/EC of the European Parliament and of the Council of 19 November 2008 on Waste.</p>
    <p>"depollution" means the minimum technical requirements for the treatment of end-of-life vehicles as set out in Annex I (3) of the End-of-Life Vehicles Directive (2000/53/EC), namely:</p>
    <ul>
      <li>removal of batteries and liquefied gas tanks;</li>
      <li>removal or neutralisation of potential explosive components (e.g. air bags);</li>
      <li>removal and separate collection and storage of fuel, motor oil, transmission oil, gearbox oil, hydraulic oil, cooling liquids, antifreeze, brake fluids, air conditioning system fluids and any other fluid contained in the end-of-life vehicle unless they are necessary for the re-use of the parts concerned;</li>
      <li>removal, as far as feasible, of all components identified as containing mercury.</li>
    </ul>
    <p>"emissions of substances not controlled by emission limits" means emissions of substances to air, water or land from the activities, either from emission points specified in these standard rules or from other localised or diffuse sources, which are not controlled by an emission limit.</p>
    <p>"European Site" means Special Area of Conservation or candidate Special Area of Conservation or Special Protection Area or proposed Special Protection Area in England and Wales, within the meaning of Council Directives 79/409/EEC on the conservation of wild birds and 92/43/EEC on the conservation of natural habitats and of wild flora and fauna and the Conservation (Natural Habitats &amp;c) Regulations 1994. Internationally designated Ramsar sites are dealt with in the same way as European sites as a matter of government policy and for the purpose of these rules will be considered as a European Site.</p>
    <p>"groundwater" means all water, which is below the surface of the ground in the saturation zone and in direct contact with the ground or subsoil.</p>
    <p>"hazardous waste" has the meaning given in the Hazardous Waste (England and Wales) Regulations 2005 (as amended).</p>
    <p>"impermeable surface" means a surface or pavement constructed and maintained to a standard sufficient to prevent the transmission of liquids beyond the pavement surface, and should be read in conjunction with the term "sealed drainage system" (below).</p>
    <p>"pollution" means emissions as a result of human activity which may:</p>
    <ul>
      <li>be harmful to human health or the quality of the environment,</li>
      <li>cause offence to a human sense,</li>
      <li>result in damage to material property, or</li>
      <li>impair or interfere with amenities and other legitimate uses of the environment.</li>
    </ul>
    <p>"quarter" means a calendar year quarter commencing on 1 January, 1 April, 1 July or 1 October.</p>
    <p>"R" means a recovery operation provided for in Annex II to Directive 2008/98/EC of the European Parliament and of the Council of 19 November 2008 on Waste.</p>
    <p>"Ramsar site" means a wetland of international importance, designated under the Ramsar Convention (an international agreement signed in Ramsar, Iran, in 1971). It is government policy to treat Ramsar sites the same as European sites.</p>
    <p>"sealed drainage system" in relation to an impermeable surface, means a drainage system with impermeable components which does not leak and which will ensure that:</p>
    <ul>
      <li>no liquid will run off the surface otherwise than via the system;</li>
      <li>except where they may be lawfully discharged to foul sewer, all liquids entering the system are collected in a sealed sump.</li>
    </ul>
    <p>"separation" means separating wastes into different material types, components and grades.</p>
    <p>"sorting" means sorting that may be undertaken by hand or machinery. Sorting enables materials to be processed/recycled appropriately. It may involve separation of different waste types or the separation of different metal types including:</p>
    <ul>
      <li>different ferrous metals;</li>
      <li>non-ferrous metals;</li>
      <li>non-metallic materials (e.g. paper and plastic).<br></li>
    </ul>
    <p>"SSSI" means Site of Special Scientific Interest within the meaning of the Wildlife and Countryside Act 1981 (as amended by the Countryside and Rights of Way Act 2000).</p>
    <p>"Waste code" means the six digit code referable to a type of waste in accordance with the List of Wastes and in relation to hazardous waste, includes the asterisk. ‘List of Wastes’ means the list of wastes established by Commission Decision 2000/532/EC replacing Decision 94/3/EC establishing a list of wastes pursuant to Article 1(a) of Council Directive 75/442/EEC on waste and Council Decision 94/904/EC establishing a list of hazardous waste pursuant to Article 1(4) of Council Directive 91/689/EEC on hazardous waste, as amended from time to time.</p>
    <p>"waste motor vehicle" means a wheeled vehicle for use on land and that does not operate on rails that is waste within the meaning of Article 3(1) of the Waste Framework Directive.</p>
    <p>"year" means calendar year commencing on 1st January.</p>
    <p>End of standard rules</p>




<!--

		########  ####  ######  ##    ## 
		##     ##  ##  ##    ## ##   ##  
		##     ##  ##  ##       ##  ##   
		########   ##   ######  #####    
		##   ##    ##        ## ##  ##   
		##    ##   ##  ##    ## ##   ##  
		##     ## ####  ######  ##    ## 
-->



  <h2 id="risk-assessment">
  <span class="number">4. </span>Generic risk assessment</h2>
  
  <p>This section is to help you understand the rules and is not legally part of the rules. But you must accept this assessment if your apply for this permit.</p>

  <p>This risk assessment applies to all potential sites that are at least 50 metres from an environmentally sensitive location. It was carried out by the Environment Agency on 31 July 2015.</p>

  <p>
    The assumptions and parameters used to make this risk assessment are listed in the <a href="#key-features">key features of this permit</a>.
  </p>

  
  
<!-- TABLE: RISK ASSESSMENT ====================================== -->  
  <table>
    <caption>
      Risk assessment
    </caption>
    <tr>
      <th width="33%">Risk, source and harm</th>
      <th width="33%">Judgements</th>
      <th width="33%">Actions</th>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Releases of particulate matter (dusts) and micro-organisms (bioaerosols).</p>
        <h4>Possible harmful consequences</h4>
        <p>Harm to human health - respiratory irritation and illness.</p>
        <h4>Pathway to source</h4>
        <p>Air transport then inhalation.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Permitted waste types do not include dusts, powders or loose fibres so only a medium magnitude risk is estimated. There is potential for exposure if anyone is living or working close to the site (apart from the operator and employees)</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits standard rule (if required) - emissions management plan.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>As above</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance - dust on cars, clothing etc.</p>
        <h4>Pathway to source</h4>
        <p>Air transport then deposition</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Low</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Local residents often sensitive to dust.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits standard rule (if required) - emissions management plan.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population, livestock and wildlife.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Litter</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance, loss of amenity and harm to animal health</p>
        <h4>Pathway to source</h4>
        <p>Air transport then deposition</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Local residents often sensitive to litter.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits standard rule (if required) - emissions management plan.Appropriate measures could include clearing litter arising from the activities from affected areas outside the site.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Waste, litter and mud on local roads</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance, loss of amenity, road traffic accidents.</p>
        <h4>Pathway to source</h4>
        <p>Vehicles entering and leaving site.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Road safety, local residents often sensitive to mud on roads.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits standard rule (if required) - emissions management plan. Appropriate measures could include clearing waste, litter and mud arising from the activities from affected areas outside the site.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Odour</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance, loss of amenity</p>
        <h4>Pathway to source</h4>
        <p>Air transport then inhalation.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>Low</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Local residents often sensitive to odour, however permitted waste types have low odour potential.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions shall be free from odour…. standard rule (if required) - odour management plan.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Noise and vibration</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance, loss of amenity, loss of sleep.</p>
        <h4>Pathway to source</h4>
        <p>Noise through the air and vibration through the ground.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Local residents often sensitive to noise and vibration</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions shall be free from noise and vibration. standard rule (if required) - noise and vibration management plan.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Scavenging animals and scavenging birds</p>
        <h4>Possible harmful consequences</h4>
        <p>Harm to human health - from waste carried off site and faeces. Nuisance and loss of amenity.</p>
        <h4>Pathway to source</h4>
        <p>Air transport and over land</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Permitted wastes unlikely to attract scavenging animals and birds but may become nesting / breeding sites.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits (including those from scavenging animals, scavenging birds and other pests) shall not cause pollution.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Pests (e.g. flies)</p>
        <h4>Possible harmful consequences</h4>
        <p>Harm to human health, nuisance, loss of amenity</p>
        <h4>Pathway to source</h4>
        <p>Air transport and over land</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Permitted wastes unlikely to attract pests.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits (including those from scavenging animals, scavenging birds and other pests) shall not cause pollution.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population and local environment</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Flooding of site</p>
        <h4>Possible harmful consequences</h4>
        <p>If waste is washed off site it may contaminate buildings / gardens / natural habitats downstream.</p>
        <h4>Pathway to source</h4>
        <p>Flood waters</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Liquid hazardous wastes washed off site will add to the volume and hazard of the local post-flood clean up workload.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - management system (will include flood risk management). Release of liquid wastes restricted by standard rule - maximum hazardous waste storage 50 tonnes (10 tonnes for disposal) and standard rule - All liquids shall be provided with secondary containment.... (applies to wastes and non- wastes such as fuels).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population and / or livestock after gaining unauthorised access to the waste operation</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>All on-site hazards: wastes; machinery and vehicles.</p>
        <h4>Possible harmful consequences</h4>
        <p>Bodily injury</p>
        <h4>Pathway to source</h4>
        <p>Direct physical contact</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Site security measures at these facilities are normally good to prevent theft. Although some permitted waste types are hazardous, a medium magnitude risk is estimated.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - activities shall be managed and operated in accordance with a management system (will include site security measures to prevent unauthorised access). Access to liquid wastes restricted by standard rule - maximum hazardous waste storage 50 tonnes (10 tonnes for disposal) and standard rule - All liquids shall be provided with secondary containment (applies to wastes and non- wastes such as fuels).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population and local environment.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Arson and / or vandalism causing the release of polluting materials to air (smoke or fumes), water or land.</p>
        <h4>Possible harmful consequences</h4>
        <p>Respiratory irritation, illness and nuisance to local population. Injury to staff, firefighters or arsonists/vandals. Pollution of water or land.</p>
        <h4>Pathway to source</h4>
        <p>Air transport of smoke. Spillages and contaminated firewater by direct run-off from site and via surface water drains and ditches.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Although some permitted waste types are hazardous and some are flammable, a medium magnitude risk is estimated.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>As above. standard rule - management system (will include fire and spillages). standard rule - tyre storage no more than 25 tonnes.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population and local environment</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Accidental fire causing the release of polluting materials to air (smoke or fumes), water or land.</p>
        <h4>Possible harmful consequences</h4>
        <p>Respiratory irritation, illness and nuisance to local population. Injury to staff or firefighters. Pollution of water or land.</p>
        <h4>Pathway to source</h4>
        <p>As above.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Risk of accidental combustion of waste is moderate.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>As above (excluding comments on access to waste). Permitted activities do not include the burning of waste.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>All surface waters close to and downstream of site.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Spillage of liquids, leachate from waste, contaminated rainwater run-off from waste e.g. containing suspended solids.</p>
        <h4>Possible harmful consequences</h4>
        <p>Acute effects: oxygen depletion, fish kill and algal blooms</p>
        <h4>Pathway to source</h4>
        <p>Direct run-off from site across ground surface, via surface water drains, ditches etc.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>High</p>
        <h4>Basis for judgement</h4>
        <p>Permitted waste types include hazardous liquids so a high magnitude risk is estimated. There is potential for contaminated rainwater run-off from wastes stored outside buildings especially during heavy rain.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - maximum hazardous waste storage 50 tonnes (10 tonnes for disposal) standard rule - All liquids shall be provided with secondary containment.... (applies to wastes and non- wastes such as fuels). Run-off restricted by standard rule (emissions of substances not controlled by emission limits).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>All surface waters close to and downstream of site.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Spillage of liquids, leachate from waste, contaminated rainwater run-off from waste e.g. containing suspended solids.</p>
        <h4>Possible harmful consequences</h4>
        <p>Chronic effects: deterioration of water quality</p>
        <h4>Pathway to source</h4>
        <p>As above. Indirect run-off via the soil layer</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>High</p>
        <h4>Basis for judgement</h4>
        <p>Permitted waste types include hazardous liquids so harm may not be temporary and reversible.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - maximum hazardous waste storage 50 tonnes (10 tonnes for disposal) standard rule - All liquids shall be provided with secondary containment.... (applies to wastes and non- wastes such as fuels). Run-off restricted by standard rule (emissions of substances not controlled by emission limits).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Abstraction from watercourse downstream of facility (for agricultural or potable use).</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Spillage of liquids, leachate from waste, contaminated rainwater run-off from waste e.g. containing suspended solids.</p>
        <h4>Possible harmful consequences</h4>
        <p>Acute effects, closure of abstraction intakes.</p>
        <h4>Pathway to source</h4>
        <p>Direct run-off from site across ground surface, via surface water drains, ditches etc. then abstraction.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>High</p>
        <h4>Basis for judgement</h4>
        <p>Permitted waste types include hazardous liquids so a high magnitude risk is estimated. Watercourse must have medium / high flow for abstraction to be permitted, which will dilute contaminated run-off.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - maximum hazardous waste storage 50 tonnes (10 tonnes for disposal) standard rule - All liquids shall be provided with secondary containment.... (applies to wastes and non- wastes such as fuels). Run-off restricted by standard rule (emissions of substances not controlled by emission limits).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Groundwater</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>As above</p>
        <h4>Possible harmful consequences</h4>
        <p>Chronic effects: contamination of groundwater, requiring treatment of water or closure of borehole.</p>
        <h4>Pathway to source</h4>
        <p>Transport through soil/groundwater then extraction at borehole.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Medium</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>High</p>
        <h4>Basis for judgement</h4>
        <p>There is a potential for contaminated rainwater run-off or leakage from permitted waste types.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>As above plus not allowed in SPZ1 or within 50 metres ofany well, spring or borehole including private water supplies</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Contaminated waters used for recreational purposes</p>
        <h4>Possible harmful consequences</h4>
        <p>Harm to human health - skin damage or gastro-intestinal illness.</p>
        <h4>Pathway to source</h4>
        <p>Direct contact or ingestion</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Unlikely to occur, but might restrict recreational use.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - emissions of substances not controlled by emission limits standard rule (if required) - emissions management plan.</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Very low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Protected sites - European sites and SSSIs</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Any</p>
        <h4>Possible harmful consequences</h4>
        <p>Harm to protected site through toxic contamination, nutrient enrichment, smothering, disturbance, predation etc.</p>
        <h4>Pathway to source</h4>
        <p>Any</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>Medium</p>
        <h4>Overall magnitude of risk</h4>
        <p>Low</p>
        <h4>Basis for judgement</h4>
        <p>Waste operations may cause harm to and deterioration of nature conservation sites.</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - activities shall not be carried out within 200 metres of a European Site or SSSI. (Distance criteria as agreed with Natural England/Countryside Council for Wales).</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>Local human population and all surface waters close to and downstream of site.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Serious Fire</p>
        <h4>Possible harmful consequences</h4>
        <p>Nuisance, harm to human health, loss of amenity, deterioration of water quality</p>
        <h4>Pathway to source</h4>
        <p>Air transport then inhalation or deposition.&nbsp; Direct run off of fire water across site to surface waters.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Waste fires are not common but approximately 300 fires pa linked to waste activities.&nbsp; Impact on health and amenity can be significant for many days or weeks.&nbsp;&nbsp;</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - Limit in standard rule of annual tonnage to 5000 tonnes.&nbsp; Requirement for Fire Prevention Plan which will limit storage times of waste</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Thing at risk</h3>
        <p>All surface waters close to and downstream of site.</p>
        <h4>Agent or process with potential to cause harm</h4>
        <p>Serious Fire</p>
        <h4>Possible harmful consequences</h4>
        <p>Loss of amenity, deterioration of water quality</p>
        <h4>Pathway to source</h4>
        <p>Direct run off of fire water across site to surface waters.</p>
      </td>
      <td>
        <h4>How likely is contact?</h4>
        <p>Low</p>
        <h4>Severity of consequences</h4>
        <p>High</p>
        <h4>Overall magnitude of risk</h4>
        <p>Medium</p>
        <h4>Basis for judgement</h4>
        <p>Waste fires are not common but approximately 300 fires pa linked to waste activities.&nbsp; In event of fire, fire water can be produced for days/ weeks.&nbsp; Contaminated firewater run-off can kill fish and aquatic life.&nbsp;&nbsp;</p>
      </td>
      <td>
        <h4>Risk management</h4>
        <p>Standard rule - Requirement for Fire Prevention Plan&nbsp;</p>
        <h4>Risk after management - to be be controlled by compliance assessment</h4>
        <p>Low</p>
      </td>
    </tr>
  </table>
  

      
      </div>
		</div>
	</div>
</main>



{% endblock %}
