{% extends "layout.html" %}

{% set title = "What's the site name?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<h1 class="heading-large">{{title}}</h1>

  <div class="form-group">
    <label class="form-label" for="siteName">
      Site name
    <span class="form-hint">If it does not already have a name, enter the name you will use</span>
    </label>
    <input class="form-control" id="siteName" type="text">
  </div>

<a class="button" href="#" role="button">Continue</a>

    </div>
  </div>
</main>

{% endblock %}


