{% extends "layout.html" %}

{% set title = "Upload the ESA EU Skills scheme certificate" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  {{backlink|safe}}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<p>Check that the certificate has not expired. They are valid for 3 years.</p>


  <form method="post" action="{{formAction}}">

    <div class="form-group form-upload">
      <h2 class="heading-small">
      <label>
        Upload the ESA EU Skills scheme certificate
        <span class="text form-hint">
          PDF or JPG files, 30MB maximum file size
        </span>
      </label>
    </h2>
        <input id="upload" type="file" aria-labelelledby="upload-label">
        <input id="filename" name="technicalCertificateFile" type="hidden">
    </div>
    
    <script>
      // captures uploaded filename and passes to hidden input
      document.getElementById('upload').onchange = uploadOnChange;
      function uploadOnChange() {
          var filename = this.value;
          var lastIndex = filename.lastIndexOf("\\");
          if (lastIndex >= 0) {
              filename = filename.substring(lastIndex + 1);
          }
          document.getElementById('filename').value = filename;
      }
    </script>
    

    <div class="form-group">
      {{submitButton|safe}}{{completeLink|safe}}
    </div>

  </form>

    </div>
  </div>
</main>

{% endblock %}
