{% extends "layout.html" %}

{% set title = "Check company details" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>


<form action="{{formAction}}" method="post" class="form">

<p>
  Company number<br>
<b>
  {{permit.companyRegNum}}
</b>
</p>


<p>Company name<br>
  
{% set coNamePart = [
"GREEN LANE",
"BROWN COW",
"JULIE'S MOTORS",
"FAIR BREAKERS",
"GREEN LANE"
] | random %}

{% set coName = coNamePart+" SERVICES (UK) PLC" %}
  
<b>
{{ coName }}
</b>
</p>
<input type="hidden" name="companyName" value="{{ coName }}">

<p>Registered office address<br>
  
  {% set coAddPart = ["12A","124","256","98","45"] | random %}
  {% set coAddress = coAddPart+" Pentonville Road" %}
  {% set coAddressAll = coAddPart+" Pentonville Road, London, N23 9JY" %}
  
<b>{{ coAddress }}<br>
London<br>
N23 9JY</b></p>
<input type="hidden" name="companyAddress" value="{{ coAddressAll }}">


<p><a href="/{{folder}}/error/wrong-company-details">These are not the correct company details</a></p>


<!-- companyAddressIsMain -->


  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">Is this your main UK business address?</legend>
      <div class="multiple-choice">
      <input id="radio-1" type="radio" name="companyAddressIsMain" value="This is our main UK business address">
<label class="selection-button-radio" for="radio-1">
        This is our main UK business address
      </label>
      </div>
      <div class="multiple-choice">
      <input id="radio-2" type="radio" name="companyAddressIsMain" value="We have a different main UK business address">
<label class="selection-button-radio" for="radio-2">
        We have a different main UK business address
      </label>
      </div>
    </fieldset>
  </div>


<div class="form-group">
<input type="submit" class="button" value="Continue">
</div>


</form>


    </div>
  </div>
</main>

{% endblock %}
