{% extends "layout.html" %}

{% set title = "Check your answers" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>


<table class="check-your-answers" style="margin-bottom: 30px">
  <tbody>
    <tr>
      <td>Standard rule</td>
      <td>SR2015 No.4: 75kte</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Standard rule</span>
	      </a>
	    </td>
    </tr>
    <tr>
      <td>Pre-application reference</td>
      <td>ABC123456</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Pre-application reference</span>
	      </a>
	    </td>
	</tr>
    <tr>
      <td>Operator details</td>
      <td>Careful Contractor Ltd<br>
		First line of address<br>
		Second line of address<br>
		England<br>
		AB1 2CD</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Operator details</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Site details</td>
      <td>Name of site<br>
		First line of address<br>
		Second line of address<br>
		England<br>
		AB1 2CD</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Site details</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Grid reference for the site</td>
      <td>58132 72695</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Grid reference for the site</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Grid reference for the site</td>
      <td>58132 72695</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Grid reference for the site</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Who we will contact</td>
      <td>Sarah Sitemanager<br>
		  Tel: 01234 567 890<br>
          Email: sarah@address.com</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Grid reference for the site</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Site plan</td>
      <td>mysiteplan.pdf</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Site plan</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Fire prevention plan</td>
      <td>myfireplan.docx</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Fire prevention plan</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Industry scheme</td>
      <td>CIWM/WAMITAB</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Industry scheme</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Technical evidence certificate</td>
      <td>WAMITAB-certificate.pdf</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Technical evidence certificate</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Management system</td>
      <td>ISO 14001</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">ISO 14001</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Relevant offences</td>
      <td>No</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Relevant offences</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Bankruptcy or insolvency</td>
      <td>No</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Bankruptcy or insolvency</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Confidentiality request</td>
      <td>No</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Confidentiality request</span>
	      </a>
	    </td>
	</tr>
  </tbody>
</table>
<form>

<div class="notice" style="margin-bottom: 30px">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You can be prosecuted and fined if you <br>give false or misleading information.
  </strong>
</div>

  <div class="form-group">
    <input type="submit" class="button" value="Accept and continue">
  </div>

</form>


    </div>
  </div>
</main>

{% endblock %}
