{% set categories = 
  [
   {
     "category": "Biological treatment of waste",
     "friendlyCategory": "Composting, sewage or sludge, anaerobic digestion and biogas",
     "digitalMVP": "Yes"
   },
   {
     "category": "Flood risk activities",
     "friendlyCategory": "Flood risk activities",
     "digitalMVP": "Yes"
   },
   {
     "category": "Installations",
     "friendlyCategory": "Installations",
     "digitalMVP": "Yes"
   },
   {
     "category": "Low impact installation",
     "friendlyCategory": "Low impact installation",
     "digitalMVP": "Yes"
   },
   {
     "category": "Keeping/transfer of waste",
     "friendlyCategory": "Waste storage, clinical and oil waste",
     "digitalMVP": "Yes"
   },
   {
     "category": "Materials recovery and recycling",
     "friendlyCategory": "Recycling, household waste amenity site, wood waste",
     "digitalMVP": "Yes"
   },
   {
     "category": "Metal recovery/scrap metal",
     "friendlyCategory": "Scrap metal, vehicle dismantling and WEEE",
     "digitalMVP": "Yes"
   },
   {
     "category": "Onshore oil and gas exploration, and mining operation",
     "friendlyCategory": "Onshore oil and gas exploration, and mining",
     "digitalMVP": "Yes"
   },
   {
     "category": "Radioactive substances for non-nuclear sites",
     "friendlyCategory": "Radioactive substances for non-nuclear sites",
     "digitalMVP": "Yes"
   },
   {
     "category": "Recovery or use of waste on land",
     "friendlyCategory": "Land-spreading and mobile plant",
     "digitalMVP": "Yes"
   },
   {
     "category": "Treatment to produce aggregate or construction materials",
     "friendlyCategory": "Treating waste to produce soil or construction materials",
     "digitalMVP": "Yes"
   },
   {
     "category": "Water discharges",
     "friendlyCategory": "Water discharges",
     "digitalMVP": "Yes"
   }
  ]
 -%}
