{% extends "layout.html" %}

{% set title = "What is the company secretary's email address?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form method="post" action="{{formAction}}">

        <div class="form-group">
          <label class="form-label" for="companySecretaryEmail">
            Company secretary's email address
          </label>
          <span class="form-hint">
            If your company does not have a secretary you can give a director's email address
          </span>
          <input class="form-control" id="companySecretaryEmail" name="companySecretaryEmail" type="email" value="{{permit.companySecretaryEmail}}">

        </div>

        <p>
          We’ll email the permit and any official notices to this email address. If you don’t give an email, we’ll post them to the registered address.
        </p>

        <p>
          The person you give as a contact for this application will get a copy of everything by email.
        </p>

        <div class="form-group">
          <button type="submit" class="button" name="Continue">Continue</button>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
