{% extends "layout.html" %}

{% block page_title %}
  NACE codes
{% endblock %}

{% block content %}

<style>
  span.nace-code{font-weight:bold;}
</style>

<main id="content" role="main">
  <div class="content-inner slides">
      <div class="grid-row">
        <div class="column-two-thirds">
          
          <h1 class="heading-large">NACE codes</h1>
          
      <h2 class="heading-medium"><span class="nace-code">A</span> Agriculture, forestry and fishing</h2><ul class="list">
  <li>Growing of cereals (except rice), leguminous crops and oil seeds <span class="nace-code">01.11</span></li>
  <li>Growing of rice <span class="nace-code">01.12</span></li>
  <li>Growing of vegetables and melons, roots and tubers <span class="nace-code">01.13</span></li>
  <li>Growing of sugar cane <span class="nace-code">01.14</span></li>
  <li>Growing of tobacco <span class="nace-code">01.15</span></li>
  <li>Growing of fibre crops <span class="nace-code">01.16</span></li>
  <li>Growing of other non-perennial crops <span class="nace-code">01.19</span></li>
  <li>Growing of grapes <span class="nace-code">01.21</span></li>
  <li>Growing of tropical and subtropical fruits <span class="nace-code">01.22</span></li>
  <li>Growing of citrus fruits <span class="nace-code">01.23</span></li>
  <li>Growing of pome fruits and stone fruits <span class="nace-code">01.24</span></li>
  <li>Growing of other tree and bush fruits and nuts <span class="nace-code">01.25</span></li>
  <li>Growing of oleaginous fruits <span class="nace-code">01.26</span></li>
  <li>Growing of beverage crops <span class="nace-code">01.27</span></li>
  <li>Growing of spices, aromatic, drug and pharmaceutical crops <span class="nace-code">01.28</span></li>
  <li>Growing of other perennial crops <span class="nace-code">01.29</span></li>
  <li>Plant propagation <span class="nace-code">01.30</span></li>
  <li>Raising of dairy cattle <span class="nace-code">01.41</span></li>
  <li>Raising of other cattle and buffaloes <span class="nace-code">01.42</span></li>
  <li>Raising of horses and other equines <span class="nace-code">01.43</span></li>
  <li>Raising of camels and camelids <span class="nace-code">01.44</span></li>
  <li>Raising of sheep and goats <span class="nace-code">01.45</span></li>
  <li>Raising of swine/pigs <span class="nace-code">01.46</span></li>
  <li>Raising of poultry <span class="nace-code">01.47</span></li>
  <li>Raising of other animals <span class="nace-code">01.49</span></li>
  <li>Mixed farming <span class="nace-code">01.50</span></li>
  <li>Support activities for crop production <span class="nace-code">01.61</span></li>
  <li>Support activities for animal production <span class="nace-code">01.62</span></li>
  <li>Post-harvest crop activities <span class="nace-code">01.63</span></li>
  <li>Seed processing for propagation <span class="nace-code">01.64</span></li>
  <li>Hunting, trapping and related service activities <span class="nace-code">01.70</span></li>
  <li>Silviculture and other forestry activities <span class="nace-code">02.10</span></li>
  <li>Logging <span class="nace-code">02.20</span></li>
  <li>Gathering of wild growing non-wood products <span class="nace-code">02.30</span></li>
  <li>Support services to forestry <span class="nace-code">02.40</span></li>
  <li>Marine fishing <span class="nace-code">03.11</span></li>
  <li>Freshwater fishing <span class="nace-code">03.12</span></li>
  <li>Marine aquaculture <span class="nace-code">03.21</span></li>
  <li>Freshwater aquaculture <span class="nace-code">03.22</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">B</span> Mining and quarrying</h2><ul class="list">
  <li>Mining of hard coal <span class="nace-code">05.10</span></li>
  <li>Mining of lignite <span class="nace-code">05.20</span></li>
  <li>Extraction of crude petroleum <span class="nace-code">06.10</span></li>
  <li>Extraction of natural gas <span class="nace-code">06.20</span></li>
  <li>Mining of iron ores <span class="nace-code">07.10</span></li>
  <li>Mining of uranium and thorium ores <span class="nace-code">07.21</span></li>
  <li>Mining of other non-ferrous metal ores <span class="nace-code">07.29</span></li>
  <li>Quarrying of ornamental and building stone, limestone, gypsum, chalk and slate <span class="nace-code">08.11</span></li>
  <li>Operation of gravel and sand pits; mining of clays and kaolin <span class="nace-code">08.12</span></li>
  <li>Mining of chemical and fertiliser minerals <span class="nace-code">08.91</span></li>
  <li>Extraction of peat <span class="nace-code">08.92</span></li>
  <li>Extraction of salt <span class="nace-code">08.93</span></li>
  <li>Other mining and quarrying n.e.c. <span class="nace-code">08.99</span></li>
  <li>Support activities for petroleum and natural gas extraction <span class="nace-code">09.10</span></li>
  <li>Support activities for other mining and quarrying <span class="nace-code">09.90</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">C</span> Manufacturing</h2><ul class="list">
  <li>Processing and preserving of meat <span class="nace-code">10.11</span></li>
  <li>Processing and preserving of poultry meat <span class="nace-code">10.12</span></li>
  <li>Production of meat and poultry meat products <span class="nace-code">10.13</span></li>
  <li>Processing and preserving of fish, crustaceans and molluscs <span class="nace-code">10.20</span></li>
  <li>Processing and preserving of potatoes <span class="nace-code">10.31</span></li>
  <li>Manufacture of fruit and vegetable juice <span class="nace-code">10.32</span></li>
  <li>Other processing and preserving of fruit and vegetables <span class="nace-code">10.39</span></li>
  <li>Manufacture of oils and fats <span class="nace-code">10.41</span></li>
  <li>Manufacture of margarine and similar edible fats <span class="nace-code">10.42</span></li>
  <li>Operation of dairies and cheese making <span class="nace-code">10.51</span></li>
  <li>Manufacture of ice cream <span class="nace-code">10.52</span></li>
  <li>Manufacture of grain mill products <span class="nace-code">10.61</span></li>
  <li>Manufacture of starches and starch products <span class="nace-code">10.62</span></li>
  <li>Manufacture of bread; manufacture of fresh pastry goods and cakes <span class="nace-code">10.71</span></li>
  <li>Manufacture of rusks and biscuits; manufacture of preserved pastry goods and cakes <span class="nace-code">10.72</span></li>
  <li>Manufacture of macaroni, noodles, couscous and similar farinaceous products <span class="nace-code">10.73</span></li>
  <li>Manufacture of sugar <span class="nace-code">10.81</span></li>
  <li>Manufacture of cocoa, chocolate and sugar confectionery <span class="nace-code">10.82</span></li>
  <li>Processing of tea and coffee <span class="nace-code">10.83</span></li>
  <li>Manufacture of condiments and seasonings <span class="nace-code">10.84</span></li>
  <li>Manufacture of prepared meals and dishes <span class="nace-code">10.85</span></li>
  <li>Manufacture of homogenised food preparations and dietetic food <span class="nace-code">10.86</span></li>
  <li>Manufacture of other food products n.e.c. <span class="nace-code">10.89</span></li>
  <li>Manufacture of prepared feeds for farm animals <span class="nace-code">10.91</span></li>
  <li>Manufacture of prepared pet foods <span class="nace-code">10.92</span></li>
  <li>Distilling, rectifying and blending of spirits <span class="nace-code">11.01</span></li>
  <li>Manufacture of wine from grape <span class="nace-code">11.02</span></li>
  <li>Manufacture of cider and other fruit wines <span class="nace-code">11.03</span></li>
  <li>Manufacture of other non-distilled fermented beverages <span class="nace-code">11.04</span></li>
  <li>Manufacture of beer <span class="nace-code">11.05</span></li>
  <li>Manufacture of malt <span class="nace-code">11.06</span></li>
  <li>Manufacture of soft drinks; production of mineral waters and other bottled waters <span class="nace-code">11.07</span></li>
  <li>Manufacture of tobacco products <span class="nace-code">12.00</span></li>
  <li>Preparation and spinning of textile fibres <span class="nace-code">13.10</span></li>
  <li>Weaving of textiles <span class="nace-code">13.20</span></li>
  <li>Finishing of textiles <span class="nace-code">13.30</span></li>
  <li>Manufacture of knitted and crocheted fabrics <span class="nace-code">13.91</span></li>
  <li>Manufacture of made-up textile articles, except apparel <span class="nace-code">13.92</span></li>
  <li>Manufacture of carpets and rugs <span class="nace-code">13.93</span></li>
  <li>Manufacture of cordage, rope, twine and netting <span class="nace-code">13.94</span></li>
  <li>Manufacture of non-wovens and articles made from non-wovens, except apparel <span class="nace-code">13.95</span></li>
  <li>Manufacture of other technical and industrial textiles <span class="nace-code">13.96</span></li>
  <li>Manufacture of other textiles n.e.c. <span class="nace-code">13.99</span></li>
  <li>Manufacture of leather clothes <span class="nace-code">14.11</span></li>
  <li>Manufacture of workwear <span class="nace-code">14.12</span></li>
  <li>Manufacture of other outerwear <span class="nace-code">14.13</span></li>
  <li>Manufacture of underwear <span class="nace-code">14.14</span></li>
  <li>Manufacture of other wearing apparel and accessories <span class="nace-code">14.19</span></li>
  <li>Manufacture of articles of fur <span class="nace-code">14.20</span></li>
  <li>Manufacture of knitted and crocheted hosiery <span class="nace-code">14.31</span></li>
  <li>Manufacture of other knitted and crocheted apparel <span class="nace-code">14.39</span></li>
  <li>Tanning and dressing of leather; dressing and dyeing of fur <span class="nace-code">15.11</span></li>
  <li>Manufacture of luggage, handbags and the like, saddlery and harness <span class="nace-code">15.12</span></li>
  <li>Manufacture of footwear <span class="nace-code">15.20</span></li>
  <li>Sawmilling and planing of wood <span class="nace-code">16.10</span></li>
  <li>Manufacture of veneer sheets and wood-based panels <span class="nace-code">16.21</span></li>
  <li>Manufacture of assembled parquet floors <span class="nace-code">16.22</span></li>
  <li>Manufacture of other builders' carpentry and joinery <span class="nace-code">16.23</span></li>
  <li>Manufacture of wooden containers <span class="nace-code">16.24</span></li>
  <li>Manufacture of other products of wood; manufacture of articles of cork, straw and plaiting materials <span class="nace-code">16.29</span></li>
  <li>Manufacture of pulp <span class="nace-code">17.11</span></li>
  <li>Manufacture of paper and paperboard <span class="nace-code">17.12</span></li>
  <li>Manufacture of corrugated paper and paperboard and of containers of paper and paperboard <span class="nace-code">17.21</span></li>
  <li>Manufacture of household and sanitary goods and of toilet requisites <span class="nace-code">17.22</span></li>
  <li>Manufacture of paper stationery <span class="nace-code">17.23</span></li>
  <li>Manufacture of wallpaper <span class="nace-code">17.24</span></li>
  <li>Manufacture of other articles of paper and paperboard <span class="nace-code">17.29</span></li>
  <li>Printing of newspapers <span class="nace-code">18.11</span></li>
  <li>Other printing <span class="nace-code">18.12</span></li>
  <li>Pre-press and pre-media services <span class="nace-code">18.13</span></li>
  <li>Binding and related services <span class="nace-code">18.14</span></li>
  <li>Reproduction of recorded media <span class="nace-code">18.20</span></li>
  <li>Manufacture of coke oven products <span class="nace-code">19.10</span></li>
  <li>Manufacture of refined petroleum products <span class="nace-code">19.20</span></li>
  <li>Manufacture of industrial gases <span class="nace-code">20.11</span></li>
  <li>Manufacture of dyes and pigments <span class="nace-code">20.12</span></li>
  <li>Manufacture of other inorganic basic chemicals <span class="nace-code">20.13</span></li>
  <li>Manufacture of other organic basic chemicals <span class="nace-code">20.14</span></li>
  <li>Manufacture of fertilisers and nitrogen compounds <span class="nace-code">20.15</span></li>
  <li>Manufacture of plastics in primary forms <span class="nace-code">20.16</span></li>
  <li>Manufacture of synthetic rubber in primary forms <span class="nace-code">20.17</span></li>
  <li>Manufacture of pesticides and other agrochemical products <span class="nace-code">20.20</span></li>
  <li>Manufacture of paints, varnishes and similar coatings, printing ink and mastics <span class="nace-code">20.30</span></li>
  <li>Manufacture of soap and detergents, cleaning and polishing preparations <span class="nace-code">20.41</span></li>
  <li>Manufacture of perfumes and toilet preparations <span class="nace-code">20.42</span></li>
  <li>Manufacture of explosives <span class="nace-code">20.51</span></li>
  <li>Manufacture of glues <span class="nace-code">20.52</span></li>
  <li>Manufacture of essential oils <span class="nace-code">20.53</span></li>
  <li>Manufacture of other chemical products n.e.c. <span class="nace-code">20.59</span></li>
  <li>Manufacture of man-made fibres <span class="nace-code">20.60</span></li>
  <li>Manufacture of basic pharmaceutical products <span class="nace-code">21.10</span></li>
  <li>Manufacture of pharmaceutical preparations <span class="nace-code">21.20</span></li>
  <li>Manufacture of rubber tyres and tubes; retreading and rebuilding of rubber tyres <span class="nace-code">22.11</span></li>
  <li>Manufacture of other rubber products <span class="nace-code">22.19</span></li>
  <li>Manufacture of plastic plates, sheets, tubes and profiles <span class="nace-code">22.21</span></li>
  <li>Manufacture of plastic packing goods <span class="nace-code">22.22</span></li>
  <li>Manufacture of builders’ ware of plastic <span class="nace-code">22.23</span></li>
  <li>Manufacture of other plastic products <span class="nace-code">22.29</span></li>
  <li>Manufacture of flat glass <span class="nace-code">23.11</span></li>
  <li>Shaping and processing of flat glass <span class="nace-code">23.12</span></li>
  <li>Manufacture of hollow glass <span class="nace-code">23.13</span></li>
  <li>Manufacture of glass fibres <span class="nace-code">23.14</span></li>
  <li>Manufacture and processing of other glass, including technical glassware <span class="nace-code">23.19</span></li>
  <li>Manufacture of refractory products <span class="nace-code">23.20</span></li>
  <li>Manufacture of ceramic tiles and flags <span class="nace-code">23.31</span></li>
  <li>Manufacture of bricks, tiles and construction products, in baked clay <span class="nace-code">23.32</span></li>
  <li>Manufacture of ceramic household and ornamental articles <span class="nace-code">23.41</span></li>
  <li>Manufacture of ceramic sanitary fixtures <span class="nace-code">23.42</span></li>
  <li>Manufacture of ceramic insulators and insulating fittings <span class="nace-code">23.43</span></li>
  <li>Manufacture of other technical ceramic products <span class="nace-code">23.44</span></li>
  <li>Manufacture of other ceramic products <span class="nace-code">23.49</span></li>
  <li>Manufacture of cement <span class="nace-code">23.51</span></li>
  <li>Manufacture of lime and plaster <span class="nace-code">23.52</span></li>
  <li>Manufacture of concrete products for construction purposes <span class="nace-code">23.61</span></li>
  <li>Manufacture of plaster products for construction purposes <span class="nace-code">23.62</span></li>
  <li>Manufacture of ready-mixed concrete <span class="nace-code">23.63</span></li>
  <li>Manufacture of mortars <span class="nace-code">23.64</span></li>
  <li>Manufacture of fibre cement <span class="nace-code">23.65</span></li>
  <li>Manufacture of other articles of concrete, plaster and cement <span class="nace-code">23.69</span></li>
  <li>Cutting, shaping and finishing of stone <span class="nace-code">23.70</span></li>
  <li>Production of abrasive products <span class="nace-code">23.91</span></li>
  <li>Manufacture of other non-metallic mineral products n.e.c. <span class="nace-code">23.99</span></li>
  <li>Manufacture of basic iron and steel and of ferro-alloys  <span class="nace-code">24.10</span></li>
  <li>Manufacture of tubes, pipes, hollow profiles and related fittings, of steel <span class="nace-code">24.20</span></li>
  <li>Cold drawing of bars <span class="nace-code">24.31</span></li>
  <li>Cold rolling of narrow strip <span class="nace-code">24.32</span></li>
  <li>Cold forming or folding <span class="nace-code">24.33</span></li>
  <li>Cold drawing of wire <span class="nace-code">24.34</span></li>
  <li>Precious metals production <span class="nace-code">24.41</span></li>
  <li>Aluminium production <span class="nace-code">24.42</span></li>
  <li>Lead, zinc and tin production <span class="nace-code">24.43</span></li>
  <li>Copper production <span class="nace-code">24.44</span></li>
  <li>Other non-ferrous metal production <span class="nace-code">24.45</span></li>
  <li>Processing of nuclear fuel  <span class="nace-code">24.46</span></li>
  <li>Casting of iron <span class="nace-code">24.51</span></li>
  <li>Casting of steel <span class="nace-code">24.52</span></li>
  <li>Casting of light metals <span class="nace-code">24.53</span></li>
  <li>Casting of other non-ferrous metals <span class="nace-code">24.54</span></li>
  <li>Manufacture of metal structures and parts of structures <span class="nace-code">25.11</span></li>
  <li>Manufacture of doors and windows of metal <span class="nace-code">25.12</span></li>
  <li>Manufacture of central heating radiators and boilers <span class="nace-code">25.21</span></li>
  <li>Manufacture of other tanks, reservoirs and containers of metal <span class="nace-code">25.29</span></li>
  <li>Manufacture of steam generators, except central heating hot water boilers <span class="nace-code">25.30</span></li>
  <li>Manufacture of weapons and ammunition <span class="nace-code">25.40</span></li>
  <li>Forging, pressing, stamping and roll-forming of metal; powder metallurgy <span class="nace-code">25.50</span></li>
  <li>Treatment and coating of metals <span class="nace-code">25.61</span></li>
  <li>Machining <span class="nace-code">25.62</span></li>
  <li>Manufacture of cutlery <span class="nace-code">25.71</span></li>
  <li>Manufacture of locks and hinges <span class="nace-code">25.72</span></li>
  <li>Manufacture of tools <span class="nace-code">25.73</span></li>
  <li>Manufacture of steel drums and similar containers <span class="nace-code">25.91</span></li>
  <li>Manufacture of light metal packaging  <span class="nace-code">25.92</span></li>
  <li>Manufacture of wire products, chain and springs <span class="nace-code">25.93</span></li>
  <li>Manufacture of fasteners and screw machine products <span class="nace-code">25.94</span></li>
  <li>Manufacture of other fabricated metal products n.e.c. <span class="nace-code">25.99</span></li>
  <li>Manufacture of electronic components <span class="nace-code">26.11</span></li>
  <li>Manufacture of loaded electronic boards <span class="nace-code">26.12</span></li>
  <li>Manufacture of computers and peripheral equipment <span class="nace-code">26.20</span></li>
  <li>Manufacture of communication equipment <span class="nace-code">26.30</span></li>
  <li>Manufacture of consumer electronics <span class="nace-code">26.40</span></li>
  <li>Manufacture of instruments and appliances for measuring, testing and navigation <span class="nace-code">26.51</span></li>
  <li>Manufacture of watches and clocks <span class="nace-code">26.52</span></li>
  <li>Manufacture of irradiation, electromedical and electrotherapeutic equipment <span class="nace-code">26.60</span></li>
  <li>Manufacture of optical instruments and photographic equipment <span class="nace-code">26.70</span></li>
  <li>Manufacture of magnetic and optical media <span class="nace-code">26.80</span></li>
  <li>Manufacture of electric motors, generators and transformers <span class="nace-code">27.11</span></li>
  <li>Manufacture of electricity distribution and control apparatus <span class="nace-code">27.12</span></li>
  <li>Manufacture of batteries and accumulators <span class="nace-code">27.20</span></li>
  <li>Manufacture of fibre optic cables <span class="nace-code">27.31</span></li>
  <li>Manufacture of other electronic and electric wires and cables <span class="nace-code">27.32</span></li>
  <li>Manufacture of wiring devices <span class="nace-code">27.33</span></li>
  <li>Manufacture of electric lighting equipment <span class="nace-code">27.40</span></li>
  <li>Manufacture of electric domestic appliances <span class="nace-code">27.51</span></li>
  <li>Manufacture of non-electric domestic appliances <span class="nace-code">27.52</span></li>
  <li>Manufacture of other electrical equipment <span class="nace-code">27.90</span></li>
  <li>Manufacture of engines and turbines, except aircraft, vehicle and cycle engines <span class="nace-code">28.11</span></li>
  <li>Manufacture of fluid power equipment <span class="nace-code">28.12</span></li>
  <li>Manufacture of other pumps and compressors <span class="nace-code">28.13</span></li>
  <li>Manufacture of other taps and valves <span class="nace-code">28.14</span></li>
  <li>Manufacture of bearings, gears, gearing and driving elements <span class="nace-code">28.15</span></li>
  <li>Manufacture of ovens, furnaces and furnace burners <span class="nace-code">28.21</span></li>
  <li>Manufacture of lifting and handling equipment <span class="nace-code">28.22</span></li>
  <li>Manufacture of office machinery and equipment (except computers and peripheral equipment) <span class="nace-code">28.23</span></li>
  <li>Manufacture of power-driven hand tools <span class="nace-code">28.24</span></li>
  <li>Manufacture of non-domestic cooling and ventilation equipment <span class="nace-code">28.25</span></li>
  <li>Manufacture of other general-purpose machinery n.e.c. <span class="nace-code">28.29</span></li>
  <li>Manufacture of agricultural and forestry machinery <span class="nace-code">28.30</span></li>
  <li>Manufacture of metal forming machinery <span class="nace-code">28.41</span></li>
  <li>Manufacture of other machine tools <span class="nace-code">28.49</span></li>
  <li>Manufacture of machinery for metallurgy <span class="nace-code">28.91</span></li>
  <li>Manufacture of machinery for mining, quarrying and construction <span class="nace-code">28.92</span></li>
  <li>Manufacture of machinery for food, beverage and tobacco processing <span class="nace-code">28.93</span></li>
  <li>Manufacture of machinery for textile, apparel and leather production <span class="nace-code">28.94</span></li>
  <li>Manufacture of machinery for paper and paperboard production <span class="nace-code">28.95</span></li>
  <li>Manufacture of plastics and rubber machinery <span class="nace-code">28.96</span></li>
  <li>Manufacture of other special-purpose machinery n.e.c. <span class="nace-code">28.99</span></li>
  <li>Manufacture of motor vehicles <span class="nace-code">29.10</span></li>
  <li>Manufacture of bodies (coachwork) for motor vehicles; manufacture of trailers and semi-trailers <span class="nace-code">29.20</span></li>
  <li>Manufacture of electrical and electronic equipment for motor vehicles <span class="nace-code">29.31</span></li>
  <li>Manufacture of other parts and accessories for motor vehicles <span class="nace-code">29.32</span></li>
  <li>Building of ships and floating structures <span class="nace-code">30.11</span></li>
  <li>Building of pleasure and sporting boats <span class="nace-code">30.12</span></li>
  <li>Manufacture of railway locomotives and rolling stock <span class="nace-code">30.20</span></li>
  <li>Manufacture of air and spacecraft and related machinery <span class="nace-code">30.30</span></li>
  <li>Manufacture of military fighting vehicles <span class="nace-code">30.40</span></li>
  <li>Manufacture of motorcycles <span class="nace-code">30.91</span></li>
  <li>Manufacture of bicycles and invalid carriages <span class="nace-code">30.92</span></li>
  <li>Manufacture of other transport equipment n.e.c. <span class="nace-code">30.99</span></li>
  <li>Manufacture of office and shop furniture <span class="nace-code">31.01</span></li>
  <li>Manufacture of kitchen furniture <span class="nace-code">31.02</span></li>
  <li>Manufacture of mattresses <span class="nace-code">31.03</span></li>
  <li>Manufacture of other furniture <span class="nace-code">31.09</span></li>
  <li>Striking of coins <span class="nace-code">32.11</span></li>
  <li>Manufacture of jewellery and related articles <span class="nace-code">32.12</span></li>
  <li>Manufacture of imitation jewellery and related articles <span class="nace-code">32.13</span></li>
  <li>Manufacture of musical instruments <span class="nace-code">32.20</span></li>
  <li>Manufacture of sports goods <span class="nace-code">32.30</span></li>
  <li>Manufacture of games and toys <span class="nace-code">32.40</span></li>
  <li>Manufacture of medical and dental instruments and supplies <span class="nace-code">32.50</span></li>
  <li>Manufacture of brooms and brushes <span class="nace-code">32.91</span></li>
  <li>Other manufacturing n.e.c.  <span class="nace-code">32.99</span></li>
  <li>Repair of fabricated metal products <span class="nace-code">33.11</span></li>
  <li>Repair of machinery <span class="nace-code">33.12</span></li>
  <li>Repair of electronic and optical equipment <span class="nace-code">33.13</span></li>
  <li>Repair of electrical equipment <span class="nace-code">33.14</span></li>
  <li>Repair and maintenance of ships and boats <span class="nace-code">33.15</span></li>
  <li>Repair and maintenance of aircraft and spacecraft <span class="nace-code">33.16</span></li>
  <li>Repair and maintenance of other transport equipment <span class="nace-code">33.17</span></li>
  <li>Repair of other equipment <span class="nace-code">33.19</span></li>
  <li>Installation of industrial machinery and equipment <span class="nace-code">33.20</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">D</span> Electricity, gas, steam and air conditioning supply</h2><ul class="list">
  <li>Production of electricity <span class="nace-code">35.11</span></li>
  <li>Transmission of electricity <span class="nace-code">35.12</span></li>
  <li>Distribution of electricity <span class="nace-code">35.13</span></li>
  <li>Trade of electricity <span class="nace-code">35.14</span></li>
  <li>Manufacture of gas <span class="nace-code">35.21</span></li>
  <li>Distribution of gaseous fuels through mains <span class="nace-code">35.22</span></li>
  <li>Trade of gas through mains <span class="nace-code">35.23</span></li>
  <li>Steam and air conditioning supply <span class="nace-code">35.30</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">E</span> Water supply; sewerage, waste management and remediation activities</h2><ul class="list">
  <li>Water collection, treatment and supply <span class="nace-code">36.00</span></li>
  <li>Sewerage <span class="nace-code">37.00</span></li>
  <li>Collection of non-hazardous waste <span class="nace-code">38.11</span></li>
  <li>Collection of hazardous waste <span class="nace-code">38.12</span></li>
  <li>Treatment and disposal of non-hazardous waste <span class="nace-code">38.21</span></li>
  <li>Treatment and disposal of hazardous waste <span class="nace-code">38.22</span></li>
  <li>Dismantling of wrecks <span class="nace-code">38.31</span></li>
  <li>Recovery of sorted materials <span class="nace-code">38.32</span></li>
  <li>Remediation activities and other waste management services <span class="nace-code">39.00</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">F</span> Construction</h2><ul class="list">
  <li>Development of building projects <span class="nace-code">41.10</span></li>
  <li>Construction of residential and non-residential buildings <span class="nace-code">41.20</span></li>
  <li>Construction of roads and motorways <span class="nace-code">42.11</span></li>
  <li>Construction of railways and underground railways <span class="nace-code">42.12</span></li>
  <li>Construction of bridges and tunnels <span class="nace-code">42.13</span></li>
  <li>Construction of utility projects for fluids <span class="nace-code">42.21</span></li>
  <li>Construction of utility projects for electricity and telecommunications <span class="nace-code">42.22</span></li>
  <li>Construction of water projects <span class="nace-code">42.91</span></li>
  <li>Construction of other civil engineering projects n.e.c. <span class="nace-code">42.99</span></li>
  <li>Demolition <span class="nace-code">43.11</span></li>
  <li>Site preparation <span class="nace-code">43.12</span></li>
  <li>Test drilling and boring <span class="nace-code">43.13</span></li>
  <li>Electrical installation <span class="nace-code">43.21</span></li>
  <li>Plumbing, heat and air-conditioning installation <span class="nace-code">43.22</span></li>
  <li>Other construction installation <span class="nace-code">43.29</span></li>
  <li>Plastering <span class="nace-code">43.31</span></li>
  <li>Joinery installation <span class="nace-code">43.32</span></li>
  <li>Floor and wall covering <span class="nace-code">43.33</span></li>
  <li>Painting and glazing <span class="nace-code">43.34</span></li>
  <li>Other building completion and finishing <span class="nace-code">43.39</span></li>
  <li>Roofing activities <span class="nace-code">43.91</span></li>
  <li>Other specialised construction activities n.e.c. <span class="nace-code">43.99</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">G</span> Wholesale and retail trade; repair of motor vehicles and motorcycles</h2><ul class="list">
  <li>Sale of cars and light motor vehicles <span class="nace-code">45.11</span></li>
  <li>Sale of other motor vehicles <span class="nace-code">45.19</span></li>
  <li>Maintenance and repair of motor vehicles <span class="nace-code">45.20</span></li>
  <li>Wholesale trade of motor vehicle parts and accessories <span class="nace-code">45.31</span></li>
  <li>Retail trade of motor vehicle parts and accessories <span class="nace-code">45.32</span></li>
  <li>Sale, maintenance and repair of motorcycles and related parts and accessories <span class="nace-code">45.40</span></li>
  <li>Agents involved in the sale of agricultural raw materials, live animals, textile raw materials and semi-finished goods <span class="nace-code">46.11</span></li>
  <li>Agents involved in the sale of fuels, ores, metals and industrial chemicals <span class="nace-code">46.12</span></li>
  <li>Agents involved in the sale of timber and building materials <span class="nace-code">46.13</span></li>
  <li>Agents involved in the sale of machinery, industrial equipment, ships and aircraft <span class="nace-code">46.14</span></li>
  <li>Agents involved in the sale of furniture, household goods, hardware and ironmongery <span class="nace-code">46.15</span></li>
  <li>Agents involved in the sale of textiles, clothing, fur, footwear and leather goods <span class="nace-code">46.16</span></li>
  <li>Agents involved in the sale of food, beverages and tobacco <span class="nace-code">46.17</span></li>
  <li>Agents specialised in the sale of other particular products <span class="nace-code">46.18</span></li>
  <li>Agents involved in the sale of a variety of goods <span class="nace-code">46.19</span></li>
  <li>Wholesale of grain, unmanufactured tobacco, seeds and animal feeds <span class="nace-code">46.21</span></li>
  <li>Wholesale of flowers and plants <span class="nace-code">46.22</span></li>
  <li>Wholesale of live animals <span class="nace-code">46.23</span></li>
  <li>Wholesale of hides, skins and leather <span class="nace-code">46.24</span></li>
  <li>Wholesale of fruit and vegetables <span class="nace-code">46.31</span></li>
  <li>Wholesale of meat and meat products <span class="nace-code">46.32</span></li>
  <li>Wholesale of dairy products, eggs and edible oils and fats <span class="nace-code">46.33</span></li>
  <li>Wholesale of beverages <span class="nace-code">46.34</span></li>
  <li>Wholesale of tobacco products <span class="nace-code">46.35</span></li>
  <li>Wholesale of sugar and chocolate and sugar confectionery <span class="nace-code">46.36</span></li>
  <li>Wholesale of coffee, tea, cocoa and spices <span class="nace-code">46.37</span></li>
  <li>Wholesale of other food, including fish, crustaceans and molluscs <span class="nace-code">46.38</span></li>
  <li>Non-specialised wholesale of food, beverages and tobacco <span class="nace-code">46.39</span></li>
  <li>Wholesale of textiles <span class="nace-code">46.41</span></li>
  <li>Wholesale of clothing and footwear <span class="nace-code">46.42</span></li>
  <li>Wholesale of electrical household appliances <span class="nace-code">46.43</span></li>
  <li>Wholesale of china and glassware and cleaning materials <span class="nace-code">46.44</span></li>
  <li>Wholesale of perfume and cosmetics <span class="nace-code">46.45</span></li>
  <li>Wholesale of pharmaceutical goods <span class="nace-code">46.46</span></li>
  <li>Wholesale of furniture, carpets and lighting equipment <span class="nace-code">46.47</span></li>
  <li>Wholesale of watches and jewellery <span class="nace-code">46.48</span></li>
  <li>Wholesale of other household goods <span class="nace-code">46.49</span></li>
  <li>Wholesale of computers, computer peripheral equipment and software <span class="nace-code">46.51</span></li>
  <li>Wholesale of electronic and telecommunications equipment and parts <span class="nace-code">46.52</span></li>
  <li>Wholesale of agricultural machinery, equipment and supplies <span class="nace-code">46.61</span></li>
  <li>Wholesale of machine tools <span class="nace-code">46.62</span></li>
  <li>Wholesale of mining, construction and civil engineering machinery <span class="nace-code">46.63</span></li>
  <li>Wholesale of machinery for the textile industry and of sewing and knitting machines <span class="nace-code">46.64</span></li>
  <li>Wholesale of office furniture <span class="nace-code">46.65</span></li>
  <li>Wholesale of other office machinery and equipment <span class="nace-code">46.66</span></li>
  <li>Wholesale of other machinery and equipment <span class="nace-code">46.69</span></li>
  <li>Wholesale of solid, liquid and gaseous fuels and related products <span class="nace-code">46.71</span></li>
  <li>Wholesale of metals and metal ores <span class="nace-code">46.72</span></li>
  <li>Wholesale of wood, construction materials and sanitary equipment <span class="nace-code">46.73</span></li>
  <li>Wholesale of hardware, plumbing and heating equipment and supplies <span class="nace-code">46.74</span></li>
  <li>Wholesale of chemical products <span class="nace-code">46.75</span></li>
  <li>Wholesale of other intermediate products <span class="nace-code">46.76</span></li>
  <li>Wholesale of waste and scrap <span class="nace-code">46.77</span></li>
  <li>Non-specialised wholesale trade <span class="nace-code">46.90</span></li>
  <li>Retail sale in non-specialised stores with food, beverages or tobacco predominating <span class="nace-code">47.11</span></li>
  <li>Other retail sale in non-specialised stores <span class="nace-code">47.19</span></li>
  <li>Retail sale of fruit and vegetables in specialised stores <span class="nace-code">47.21</span></li>
  <li>Retail sale of meat and meat products in specialised stores <span class="nace-code">47.22</span></li>
  <li>Retail sale of fish, crustaceans and molluscs in specialised stores <span class="nace-code">47.23</span></li>
  <li>Retail sale of bread, cakes, flour confectionery and sugar confectionery in specialised stores <span class="nace-code">47.24</span></li>
  <li>Retail sale of beverages in specialised stores <span class="nace-code">47.25</span></li>
  <li>Retail sale of tobacco products in specialised stores <span class="nace-code">47.26</span></li>
  <li>Other retail sale of food in specialised stores <span class="nace-code">47.29</span></li>
  <li>Retail sale of automotive fuel in specialised stores <span class="nace-code">47.30</span></li>
  <li>Retail sale of computers, peripheral units and software in specialised stores <span class="nace-code">47.41</span></li>
  <li>Retail sale of telecommunications equipment in specialised stores <span class="nace-code">47.42</span></li>
  <li>Retail sale of audio and video equipment in specialised stores <span class="nace-code">47.43</span></li>
  <li>Retail sale of textiles in specialised stores <span class="nace-code">47.51</span></li>
  <li>Retail sale of hardware, paints and glass in specialised stores <span class="nace-code">47.52</span></li>
  <li>Retail sale of carpets, rugs, wall and floor coverings in specialised stores <span class="nace-code">47.53</span></li>
  <li>Retail sale of electrical household appliances in specialised stores <span class="nace-code">47.54</span></li>
  <li>Retail sale of furniture, lighting equipment and other household articles in specialised stores <span class="nace-code">47.59</span></li>
  <li>Retail sale of books in specialised stores <span class="nace-code">47.61</span></li>
  <li>Retail sale of newspapers and stationery in specialised stores <span class="nace-code">47.62</span></li>
  <li>Retail sale of music and video recordings in specialised stores <span class="nace-code">47.63</span></li>
  <li>Retail sale of sporting equipment in specialised stores <span class="nace-code">47.64</span></li>
  <li>Retail sale of games and toys in specialised stores <span class="nace-code">47.65</span></li>
  <li>Retail sale of clothing in specialised stores <span class="nace-code">47.71</span></li>
  <li>Retail sale of footwear and leather goods in specialised stores <span class="nace-code">47.72</span></li>
  <li>Dispensing chemist in specialised stores <span class="nace-code">47.73</span></li>
  <li>Retail sale of medical and orthopaedic goods in specialised stores <span class="nace-code">47.74</span></li>
  <li>Retail sale of cosmetic and toilet articles in specialised stores <span class="nace-code">47.75</span></li>
  <li>Retail sale of flowers, plants, seeds, fertilisers, pet animals and pet food in specialised stores <span class="nace-code">47.76</span></li>
  <li>Retail sale of watches and jewellery in specialised stores <span class="nace-code">47.77</span></li>
  <li>Other retail sale of new goods in specialised stores <span class="nace-code">47.78</span></li>
  <li>Retail sale of second-hand goods in stores <span class="nace-code">47.79</span></li>
  <li>Retail sale via stalls and markets of food, beverages and tobacco products <span class="nace-code">47.81</span></li>
  <li>Retail sale via stalls and markets of textiles, clothing and footwear <span class="nace-code">47.82</span></li>
  <li>Retail sale via stalls and markets of other goods <span class="nace-code">47.89</span></li>
  <li>Retail sale via mail order houses or via Internet <span class="nace-code">47.91</span></li>
  <li>Other retail sale not in stores, stalls or markets <span class="nace-code">47.99</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">H</span> Transportation and storage</h2><ul class="list">
  <li>Passenger rail transport, interurban <span class="nace-code">49.10</span></li>
  <li>Freight rail transport <span class="nace-code">49.20</span></li>
  <li>Urban and suburban passenger land transport <span class="nace-code">49.31</span></li>
  <li>Taxi operation <span class="nace-code">49.32</span></li>
  <li>Other passenger land transport n.e.c. <span class="nace-code">49.39</span></li>
  <li>Freight transport by road <span class="nace-code">49.41</span></li>
  <li>Removal services <span class="nace-code">49.42</span></li>
  <li>Transport via pipeline <span class="nace-code">49.50</span></li>
  <li>Sea and coastal passenger water transport <span class="nace-code">50.10</span></li>
  <li>Sea and coastal freight water transport <span class="nace-code">50.20</span></li>
  <li>Inland passenger water transport <span class="nace-code">50.30</span></li>
  <li>Inland freight water transport <span class="nace-code">50.40</span></li>
  <li>Passenger air transport <span class="nace-code">51.10</span></li>
  <li>Freight air transport <span class="nace-code">51.21</span></li>
  <li>Space transport <span class="nace-code">51.22</span></li>
  <li>Warehousing and storage <span class="nace-code">52.10</span></li>
  <li>Service activities incidental to land transportation <span class="nace-code">52.21</span></li>
  <li>Service activities incidental to water transportation <span class="nace-code">52.22</span></li>
  <li>Service activities incidental to air transportation <span class="nace-code">52.23</span></li>
  <li>Cargo handling <span class="nace-code">52.24</span></li>
  <li>Other transportation support activities  <span class="nace-code">52.29</span></li>
  <li>Postal activities under universal service obligation <span class="nace-code">53.10</span></li>
  <li>Other postal and courier activities <span class="nace-code">53.20</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">I</span> Accommodation and food service activities</h2><ul class="list">
  <li>Hotels and similar accommodation <span class="nace-code">55.10</span></li>
  <li>Holiday and other short-stay accommodation <span class="nace-code">55.20</span></li>
  <li>Camping grounds, recreational vehicle parks and trailer parks <span class="nace-code">55.30</span></li>
  <li>Other accommodation <span class="nace-code">55.90</span></li>
  <li>Restaurants and mobile food service activities <span class="nace-code">56.10</span></li>
  <li>Event catering activities <span class="nace-code">56.21</span></li>
  <li>Other food service activities <span class="nace-code">56.29</span></li>
  <li>Beverage serving activities <span class="nace-code">56.30</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">J</span> Information and communication</h2><ul class="list">
  <li>Book publishing <span class="nace-code">58.11</span></li>
  <li>Publishing of directories and mailing lists <span class="nace-code">58.12</span></li>
  <li>Publishing of newspapers <span class="nace-code">58.13</span></li>
  <li>Publishing of journals and periodicals <span class="nace-code">58.14</span></li>
  <li>Other publishing activities <span class="nace-code">58.19</span></li>
  <li>Publishing of computer games <span class="nace-code">58.21</span></li>
  <li>Other software publishing <span class="nace-code">58.29</span></li>
  <li>Motion picture, video and television programme production activities <span class="nace-code">59.11</span></li>
  <li>Motion picture, video and television programme post-production activities <span class="nace-code">59.12</span></li>
  <li>Motion picture, video and television programme distribution activities <span class="nace-code">59.13</span></li>
  <li>Motion picture projection activities <span class="nace-code">59.14</span></li>
  <li>Sound recording and music publishing activities <span class="nace-code">59.20</span></li>
  <li>Radio broadcasting <span class="nace-code">60.10</span></li>
  <li>Television programming and broadcasting activities <span class="nace-code">60.20</span></li>
  <li>Wired telecommunications activities <span class="nace-code">61.10</span></li>
  <li>Wireless telecommunications activities <span class="nace-code">61.20</span></li>
  <li>Satellite telecommunications activities <span class="nace-code">61.30</span></li>
  <li>Other telecommunications activities <span class="nace-code">61.90</span></li>
  <li>Computer programming activities <span class="nace-code">62.01</span></li>
  <li>Computer consultancy activities <span class="nace-code">62.02</span></li>
  <li>Computer facilities management activities <span class="nace-code">62.03</span></li>
  <li>Other information technology and computer service activities <span class="nace-code">62.09</span></li>
  <li>Data processing, hosting and related activities <span class="nace-code">63.11</span></li>
  <li>Web portals <span class="nace-code">63.12</span></li>
  <li>News agency activities <span class="nace-code">63.91</span></li>
  <li>Other information service activities n.e.c. <span class="nace-code">63.99</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">K</span> Financial and insurance activities</h2><ul class="list">
  <li>Central banking <span class="nace-code">64.11</span></li>
  <li>Other monetary intermediation <span class="nace-code">64.19</span></li>
  <li>Activities of holding companies <span class="nace-code">64.20</span></li>
  <li>Trusts, funds and similar financial entities <span class="nace-code">64.30</span></li>
  <li>Financial leasing <span class="nace-code">64.91</span></li>
  <li>Other credit granting <span class="nace-code">64.92</span></li>
  <li>Other financial service activities, except insurance and pension funding n.e.c. <span class="nace-code">64.99</span></li>
  <li>Life insurance <span class="nace-code">65.11</span></li>
  <li>Non-life insurance <span class="nace-code">65.12</span></li>
  <li>Reinsurance <span class="nace-code">65.20</span></li>
  <li>Pension funding <span class="nace-code">65.30</span></li>
  <li>Administration of financial markets <span class="nace-code">66.11</span></li>
  <li>Security and commodity contracts brokerage <span class="nace-code">66.12</span></li>
  <li>Other activities auxiliary to financial services, except insurance and pension funding <span class="nace-code">66.19</span></li>
  <li>Risk and damage evaluation <span class="nace-code">66.21</span></li>
  <li>Activities of insurance agents and brokers <span class="nace-code">66.22</span></li>
  <li>Other activities auxiliary to insurance and pension funding <span class="nace-code">66.29</span></li>
  <li>Fund management activities <span class="nace-code">66.30</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">L</span> Real estate activities</h2><ul class="list">
  <li>Buying and selling of own real estate <span class="nace-code">68.10</span></li>
  <li>Rental and operating of own or leased real estate <span class="nace-code">68.20</span></li>
  <li>Real estate agencies <span class="nace-code">68.31</span></li>
  <li>Management of real estate on a fee or contract basis <span class="nace-code">68.32</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">M</span> Professional, scientific and technical activities</h2><ul class="list">
  <li>Legal activities <span class="nace-code">69.10</span></li>
  <li>Accounting, bookkeeping and auditing activities; tax consultancy <span class="nace-code">69.20</span></li>
  <li>Activities of head offices <span class="nace-code">70.10</span></li>
  <li>Public relations and communication activities <span class="nace-code">70.21</span></li>
  <li>Business and other management consultancy activities <span class="nace-code">70.22</span></li>
  <li>Architectural activities  <span class="nace-code">71.11</span></li>
  <li>Engineering activities and related technical consultancy <span class="nace-code">71.12</span></li>
  <li>Technical testing and analysis <span class="nace-code">71.20</span></li>
  <li>Research and experimental development on biotechnology <span class="nace-code">72.11</span></li>
  <li>Other research and experimental development on natural sciences and engineering <span class="nace-code">72.19</span></li>
  <li>Research and experimental development on social sciences and humanities <span class="nace-code">72.20</span></li>
  <li>Advertising agencies <span class="nace-code">73.11</span></li>
  <li>Media representation <span class="nace-code">73.12</span></li>
  <li>Market research and public opinion polling <span class="nace-code">73.20</span></li>
  <li>Specialised design activities <span class="nace-code">74.10</span></li>
  <li>Photographic activities <span class="nace-code">74.20</span></li>
  <li>Translation and interpretation activities <span class="nace-code">74.30</span></li>
  <li>Other professional, scientific and technical activities n.e.c. <span class="nace-code">74.90</span></li>
  <li>Veterinary activities <span class="nace-code">75.00</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">N</span> Administrative and support service activities</h2><ul class="list">
  <li>Rental and leasing of cars and light motor vehicles <span class="nace-code">77.11</span></li>
  <li>Rental and leasing of trucks <span class="nace-code">77.12</span></li>
  <li>Rental and leasing of recreational and sports goods <span class="nace-code">77.21</span></li>
  <li>Rental of video tapes and disks <span class="nace-code">77.22</span></li>
  <li>Rental and leasing of other personal and household goods <span class="nace-code">77.29</span></li>
  <li>Rental and leasing of agricultural machinery and equipment <span class="nace-code">77.31</span></li>
  <li>Rental and leasing of construction and civil engineering machinery and equipment <span class="nace-code">77.32</span></li>
  <li>Rental and leasing of office machinery and equipment (including computers) <span class="nace-code">77.33</span></li>
  <li>Rental and leasing of water transport equipment <span class="nace-code">77.34</span></li>
  <li>Rental and leasing of air transport equipment <span class="nace-code">77.35</span></li>
  <li>Rental and leasing of other machinery, equipment and tangible goods n.e.c. <span class="nace-code">77.39</span></li>
  <li>Leasing of intellectual property and similar products, except copyrighted works <span class="nace-code">77.40</span></li>
  <li>Activities of employment placement agencies <span class="nace-code">78.10</span></li>
  <li>Temporary employment agency activities <span class="nace-code">78.20</span></li>
  <li>Other human resources provision <span class="nace-code">78.30</span></li>
  <li>Travel agency activities <span class="nace-code">79.11</span></li>
  <li>Tour operator activities <span class="nace-code">79.12</span></li>
  <li>Other reservation service and related activities <span class="nace-code">79.90</span></li>
  <li>Private security activities <span class="nace-code">80.10</span></li>
  <li>Security systems service activities <span class="nace-code">80.20</span></li>
  <li>Investigation activities <span class="nace-code">80.30</span></li>
  <li>Combined facilities support activities <span class="nace-code">81.10</span></li>
  <li>General cleaning of buildings <span class="nace-code">81.21</span></li>
  <li>Other building and industrial cleaning activities <span class="nace-code">81.22</span></li>
  <li>Other cleaning activities <span class="nace-code">81.29</span></li>
  <li>Landscape service activities <span class="nace-code">81.30</span></li>
  <li>Combined office administrative service activities <span class="nace-code">82.11</span></li>
  <li>Photocopying, document preparation and other specialised office support activities <span class="nace-code">82.19</span></li>
  <li>Activities of call centres <span class="nace-code">82.20</span></li>
  <li>Organisation of conventions and trade shows <span class="nace-code">82.30</span></li>
  <li>Activities of collection agencies and credit bureaus <span class="nace-code">82.91</span></li>
  <li>Packaging activities <span class="nace-code">82.92</span></li>
  <li>Other business support service activities n.e.c. <span class="nace-code">82.99</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">O</span> Public administration and defence; compulsory social security</h2><ul class="list">
  <li>General public administration activities <span class="nace-code">84.11</span></li>
  <li>Regulation of the activities of providing health care, education, cultural services and other social services, excluding social security <span class="nace-code">84.12</span></li>
  <li>Regulation of and contribution to more efficient operation of businesses <span class="nace-code">84.13</span></li>
  <li>Foreign affairs <span class="nace-code">84.21</span></li>
  <li>Defence activities <span class="nace-code">84.22</span></li>
  <li>Justice and judicial activities <span class="nace-code">84.23</span></li>
  <li>Public order and safety activities <span class="nace-code">84.24</span></li>
  <li>Fire service activities <span class="nace-code">84.25</span></li>
  <li>Compulsory social security activities <span class="nace-code">84.30</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">P</span> Education</h2><ul class="list">
  <li>Pre-primary education  <span class="nace-code">85.10</span></li>
  <li>Primary education  <span class="nace-code">85.20</span></li>
  <li>General secondary education  <span class="nace-code">85.31</span></li>
  <li>Technical and vocational secondary education  <span class="nace-code">85.32</span></li>
  <li>Post-secondary non-tertiary education <span class="nace-code">85.41</span></li>
  <li>Tertiary education <span class="nace-code">85.42</span></li>
  <li>Sports and recreation education <span class="nace-code">85.51</span></li>
  <li>Cultural education <span class="nace-code">85.52</span></li>
  <li>Driving school activities <span class="nace-code">85.53</span></li>
  <li>Other education n.e.c. <span class="nace-code">85.59</span></li>
  <li>Educational support activities <span class="nace-code">85.60</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">Q</span> Human health and social work activities</h2><ul class="list">
  <li>Hospital activities <span class="nace-code">86.10</span></li>
  <li>General medical practice activities <span class="nace-code">86.21</span></li>
  <li>Specialist medical practice activities <span class="nace-code">86.22</span></li>
  <li>Dental practice activities <span class="nace-code">86.23</span></li>
  <li>Other human health activities <span class="nace-code">86.90</span></li>
  <li>Residential nursing care activities <span class="nace-code">87.10</span></li>
  <li>Residential care activities for mental retardation, mental health and substance abuse <span class="nace-code">87.20</span></li>
  <li>Residential care activities for the elderly and disabled <span class="nace-code">87.30</span></li>
  <li>Other residential care activities <span class="nace-code">87.90</span></li>
  <li>Social work activities without accommodation for the elderly and disabled <span class="nace-code">88.10</span></li>
  <li>Child day-care activities <span class="nace-code">88.91</span></li>
  <li>Other social work activities without accommodation n.e.c. <span class="nace-code">88.99</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">R</span> Arts, entertainment and recreation</h2><ul class="list">
  <li>Performing arts <span class="nace-code">90.01</span></li>
  <li>Support activities to performing arts <span class="nace-code">90.02</span></li>
  <li>Artistic creation <span class="nace-code">90.03</span></li>
  <li>Operation of arts facilities <span class="nace-code">90.04</span></li>
  <li>Library and archives activities <span class="nace-code">91.01</span></li>
  <li>Museums activities <span class="nace-code">91.02</span></li>
  <li>Operation of historical sites and buildings and similar visitor attractions <span class="nace-code">91.03</span></li>
  <li>Botanical and zoological gardens and nature reserves activities <span class="nace-code">91.04</span></li>
  <li>Gambling and betting activities <span class="nace-code">92.00</span></li>
  <li>Operation of sports facilities <span class="nace-code">93.11</span></li>
  <li>Activities of sports clubs <span class="nace-code">93.12</span></li>
  <li>Fitness facilities <span class="nace-code">93.13</span></li>
  <li>Other sports activities <span class="nace-code">93.19</span></li>
  <li>Activities of amusement parks and theme parks <span class="nace-code">93.21</span></li>
  <li>Other amusement and recreation activities <span class="nace-code">93.29</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">S</span> Other service activities</h2><ul class="list">
  <li>Activities of business and employers membership organisations <span class="nace-code">94.11</span></li>
  <li>Activities of professional membership organisations <span class="nace-code">94.12</span></li>
  <li>Activities of trade unions <span class="nace-code">94.20</span></li>
  <li>Activities of religious organisations <span class="nace-code">94.91</span></li>
  <li>Activities of political organisations <span class="nace-code">94.92</span></li>
  <li>Activities of other membership organisations n.e.c. <span class="nace-code">94.99</span></li>
  <li>Repair of computers and peripheral equipment <span class="nace-code">95.11</span></li>
  <li>Repair of communication equipment <span class="nace-code">95.12</span></li>
  <li>Repair of consumer electronics <span class="nace-code">95.21</span></li>
  <li>Repair of household appliances and home and garden equipment <span class="nace-code">95.22</span></li>
  <li>Repair of footwear and leather goods <span class="nace-code">95.23</span></li>
  <li>Repair of furniture and home furnishings <span class="nace-code">95.24</span></li>
  <li>Repair of watches, clocks and jewellery <span class="nace-code">95.25</span></li>
  <li>Repair of other personal and household goods <span class="nace-code">95.29</span></li>
  <li>Washing and (dry-)cleaning of textile and fur products <span class="nace-code">96.01</span></li>
  <li>Hairdressing and other beauty treatment <span class="nace-code">96.02</span></li>
  <li>Funeral and related activities <span class="nace-code">96.03</span></li>
  <li>Physical well-being activities <span class="nace-code">96.04</span></li>
  <li>Other personal service activities n.e.c. <span class="nace-code">96.09</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">T</span> Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use</h2><ul class="list">
  <li>Activities of households as employers of domestic personnel <span class="nace-code">97</span></li>
  <li>Undifferentiated goods-producing activities of private households for own use <span class="nace-code">98.10</span></li>
  <li>Undifferentiated service-producing activities of private households for own use <span class="nace-code">98.20</span></li>
  </ul><h2 class="heading-medium"><span class="nace-code">U</span> Activities of extraterritorial organisations and bodies</h2><ul class="list">
  <li>Activities of extraterritorial organisations and bodies <span class="nace-code">99.00</span></li>
          
</ul>
          

          
        </div>
        
      </div>
  </div>

</main>

{% endblock %}
