{% extends "layout.html" %}

{% set title = "Have you ordered a nature and heritage conservation check?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>

<div class="panel panel-border-wide">
  <p>This will check if your site is too close to heritage and nature conservation sites, protected species or habitats.</p>
</div>

<form action="{{formAction}}" method="post" class="form">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">{{title}}</legend>

      <div class="multiple-choice" data-target="screeningYes">
      <input id="yes" type="radio" name="screening" value="yes">
<label class="selection-button-radio" for="yes">
        Yes and I have an application reference number
      </label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="screeningYes">
        <label class="form-label" for="yes">Application reference number
         <span class="form-hint">For example, EPR/EB1234AB/A001</span>
         </label>
         <input class="form-control" name="screeningRef" type="text" id="screeningRef">
      </div>

      <div class="multiple-choice">
      <input id="pending" type="radio" name="screening" value="pending">
<label class="selection-button-radio" for="pending">
        Yes, I don't have a reference number or am waiting for a reply
      </label>
      </div>

      <div class="multiple-choice" data-target="screeningNo">
      <input id="no" type="radio" name="screening" value="no">
<label class="selection-button-radio" for="no">
        No
      </label>
      </div>
        <div class="panel panel-border-narrow js-hidden" id="screeningNo">
          <p><a href="http://www.smartsurvey.co.uk/s/HeritageForm/" target="_blank">Get a nature and heritage conservation check on the SmartSurvey site</a></p>
      </div>

    </fieldset>
  </div>
  
  
  <input type="hidden" name="backToOverview" value="{{backToOverview}}">

    <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


</form>


    </div>
  </div>
</main>

{% endblock %}
