{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 1. Working out charges -->

<h1 class="heading-large">Working out charges</h1>

<p>You have to submit an application fee with your application. You can find out the charge by searching for ‘Environment Agency charging scheme and guidance: environmental permits, licence and registration costs and fees’ at www.gov.uk/environment-agency.</p>
<p>Please remember that the charges are revised on 1 April each year and that there is an annual subsistence charge to cover the costs we incur in the ongoing regulation of the permit.</p>

<p>Note: for Opra charged Tier 3 Facilities you also need to complete an Opra profile (see section 2).</p>

<p class="bold">Working out charges table/calculator</p>

<a class="button" href="/v0/opra-charges-declarations/opra" role="button">Continue</a>

    </div>
  </div>
</main>

{% endblock %}


