{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

<!-- 3. Payment -->

<h1 class="heading-large">How will you pay?</h1>

<!-- from guidance notes -->
<p>Please note that we cannot ‘duly make’ your application until evidence of payment has been sent in.</p>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">How will you pay?</legend>

      <div class="multiple-choice">
      <input id="payment-" type="radio" name="radio-payment-group" value="cheque">
<label class="selection-button-radio" for="payment-">
       Cheque
      </label>
      </div>

        <div class="multiple-choice">
      <input id="payment-postal-order" type="radio" name="radio-payment-group" value="postal-order">
<label class="selection-button-radio" for="payment-postal-order">
       Postal order
      </label>
      </div>
  
      <div class="multiple-choice">
      <input id="payment-cash" type="radio" name="radio-payment-group" value="cash">
<label class="selection-button-radio" for="payment-cash">
       Cash
      </label>
      </div>

        <div class="multiple-choice">
      <input id="payment-credit-debit" type="radio" name="radio-payment-group" value="credit or debit card">
<label class="selection-button-radio" for="payment-credit-debit">
       Credit or debit card
      </label>
      </div>
  
      <div class="multiple-choice">
      <input id="payment-etransfer" type="radio" name="radio-payment-group" value="electronic transer">
<label class="selection-button-radio" for="payment-etransfer">
       Electronic transfer (eg. BACS)
      </label>
      </div>
  

    </fieldset>
  </div>
</form>

<!-- there's a lot of detail around how to pay on the form and guidance notes. Up for discussion how we proceed, or it in fact we use GOV.UK Pay or another system -->

<a class="button" href="/v0/opra-charges-declarations/declaration" role="button">Continue</a>

    </div>
  </div>
</main>

{% endblock %}


