{% extends "layout.html" %}

{% set directorCount=0 %}
{% for o in officers %}
  {% if o.resigned_on==null %}
    {% if o.officer_role=="director" %}
        {% set directorCount=directorCount+1 %}
    {% endif %}
  {% endif %}
{% else %}
{% endfor %}
{% set version = folder %}

{% if directorCount>1 %}
    {% set title = "What are the directors' dates of birth?" %}
{% else %}
    {% set title = "What is the director’s date of birth?" %}
{% endif %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-large">{{title}}</h1>

    <form action="/{{version}}/contact/company-secretary" method="post" id="dob-form">

    <p>
      We use the date of birth to identify the person when we do security checks. We will not include it in the public permit register.
    </p>

  <fieldset>
    <legend class="visuallyhidden">Date of birth for director - we only need the date in the month</legend>

{% set months =
  {
    "1" : "January",
    "2" : "February",
    "3" : "March",
    "4" : "April",
    "5" : "May",
    "6" : "June",
    "7" : "July",
    "8" : "August",
    "9" : "September",
    "10" : "October",
    "11" : "November",
    "12" : "December"
  }
-%}

  <dl class="dates-of-birth">

{% set loopnum=1 %}

{% for o in officers %}
  {% if o.resigned_on==null %}
    {% if o.officer_role=="director" %}
      {% set dirName = o.name | reverseName %}

      <div>
        <dt class="director-name">
          {{ dirName }}
          <input name="director[]" type="hidden" value="{{ dirName }}">
        </dt>
        <dd class="director-dob">
          <div class="form-group-day">
            <label class="form-label visually-hidden" for="dob-day-{{loopnum}}">Birth day date for {{ dirName }}</label>
            <input class="form-control sr-company-dob" id="dob-day-{{loopnum}}" name="directorDobDay[{{ dirName }}]" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="sr-dob-month-year">
           <span class="sr-dob-month-year">
             {{ months[o.date_of_birth.month] }}
             {{ o.date_of_birth.year }}
           </span>
            <input name="directorDobRest[{{ dirName }}]" type="hidden" value="/{{ o.date_of_birth.month }}/{{ o.date_of_birth.year }}">
          </div>
        </dd>
      </div>

      {% set loopnum=loopnum+1 %}
    {% endif %}
  {% endif %}

{% else %}
  <p>No data</p>
{% endfor %}

  </dl>
</fieldset>

<div class="form-group">
  <input type="submit" class="button" value="Continue">
</div>


</form>

    </div>
  </div>
</main>

{% endblock %}
