{% extends "layout.html" %}

{% set title = "Check company details" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">


{% if numberResults==0 %}

<h1 class="heading-large">We couldn't find that company</h1>

    <p>We couldn't find a company with the number <b>{{searchTerm}}</b> at Companies House</p>
    
    <p><a href="/{{folder}}/operator/company/company-name">Enter a different number</a>
    </p>

{% else %}


<h1 class="heading-large">{{title}}</h1>


<!-- <p>{{numberResults}} result{{'s' if numberResults>1}} for <b>{{searchTerm}}</b></p> -->


<form action="{{formAction}}" method="post">

    <h2 class="heading-small">Company number<h2>
    <p>{{company.company_number}}</b>
    </p>
    <input type="hidden" name="companyNumber" value="{{company.company_number}}">

    <h2 class="heading-small">Company name</h2>
    <p><b>{{company.title | title}}</b>
    </p>
    <input type="hidden" name="companyName" value="{{company.title | title}}">

    <h2 class="heading-small">Registered office address</h2>
    <p><b>{{company.address_snippet}}</b></p>

    <input type="hidden" name="companyAddress" value="{{company.address_snippet}}">


    <p><a href="/{{folder}}/operator/company/company-name">These are not the correct company details</a></p>



<!-- OLD FIXED SAMPLE PAGE
<p>
  Company number<br>
<b>
  {{permit.companyRegNum}}
</b>
</p>


<p>Company name<br>
  
{% set coNamePart = [
"GREEN LANE",
"BROWN COW",
"JULIE'S MOTORS",
"FAIR BREAKERS",
"GREEN LANE"
] | random %}

{% set coName = coNamePart+" SERVICES (UK) PLC" %}
  
<b>
{{ coName }}
</b>
</p>
<input type="hidden" name="companyName" value="{{ coName }}">

<p>Registered office address<br>
  
  {% set coAddPart = ["12A","124","256","98","45"] | random %}
  {% set coAddress = coAddPart+" Pentonville Road" %}
  {% set coAddressAll = coAddPart+" Pentonville Road, London, N23 9JY" %}
  
<b>{{ coAddress }}<br>
London<br>
N23 9JY</b></p>
<input type="hidden" name="companyAddress" value="{{ coAddressAll }}">


<p><a href="/{{folder}}/error/wrong-company-details">These are not the correct company details</a></p>

 -->


<!-- companyAddressIsMain -->

  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">Is this your main UK business address?</legend>
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="companyAddressIsMain" value="This is our main UK business address">
<label for="radio-1">
        This is our main UK business address
      </label>
    </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="companyAddressIsMain" value="We have a different main UK business address">
<label for="radio-2">
        We have a different main UK business address
      </label>
    </div>
    </fieldset>
  </div>


<div class="form-group">
<input type="submit" class="button" value="Continue">
</div>


</form>

{% endif %}


    </div>
  </div>
</main>

{% endblock %}
