{% extends "layout.html" %}

{% set title = "Read the rules" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

     <h1 class="heading-large">{{title}}</h1>

    <form method="post" action="{{formAction}}">

        <div class="panel panel-border-wide">
        <p>
          Read the <a href="{{permit.guidanceURL}}" target="_blank">rules and risk assessment for permit {{permit.permitCode}} on GOV.UK (opens new tab)</a>
        </p>
      </div>
        
        <p>
          Check that your operation can keep to the rules.</a>
        </p>
        

          <p>
          If you can't keep to these rules you may need a different standard rules permit or a bespoke permit instead.
          </p>


         <!-- set readRules to yes -->       
        <input type="hidden" name="readRules" value="yes">
        

        <div class="form-group">
          <input type="submit" class="button" value="I can keep to these rules">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
