{% extends "layout.html" %}

{% set title = "Confirm the type of permit you want" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    <form action="{{formAction}}" method="post">

      <h1 class="heading-large">{{title}}</h1>

      <fieldset>
        <legend class="visuallyhidden">{{title}}</legend>


        <div class="form-group">
          <div class="multiple-choice">
            <input id="start-application" type="radio" name="started-application" value="no">
            <label for="start-application">
            Standard rules
            </label>
          </div>
          <div class="multiple-choice">
            <input id="open-application" type="radio" name="started-application" value="yes">
            <label for="open-application">
            Bespoke
            </label>
          </div>
        </div>

      </fieldset>

      <input type="hidden" name="seenSaveReturn" value="yes">

      {% set letters = ["B","C","D","F","G","H","J","K","M","P","Q","R","T","V","W","X","Y"] %}

      {% set let1 = letters | random %}
      {% set let2 = letters | random %}
      {% set let3 = letters | random %}
      {% set let4 = letters | random %}
      {% set num1 = [1,2,3,4,5,6,7,8,9] | random %}
      {% set num2 = [1,2,3,4,5,6,7,8,9,0] | random %}
      {% set num3 = [1,2,3,4,5,6,7,8,9,0] | random %}
      {% set num4 = [1,2,3,4,5,6,7,8,9,0] | random %}
      {% set refnum = "EPR/"+let1+let2+num1+num2+num3+num4+let3+let4 %}

      <input type="hidden" name="permitRefNumber" value="{{ refnum }}">

      <div class="form-group">
        <button type="submit" class="button" name="Continue">Continue</button>
      </div>

    </form>

    </div>
  </div>

</main>

{% endblock %}
