{% extends "layout.html" %}

{% set title = "Money you will need for the permit" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
      
      <form method="post" action="{{formAction}}">
      
      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/custom_inc/permit-list-json.html" import permits %}


        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}
          

<input type="hidden" name="baselineReportRequired" value="{{ pData.baselineReportRequired }}"></input>
<input type="hidden" name="chosenPermitID" value="{{chosenPermitID}}"></input>
<input type="hidden" name="permitCode" value="{{ pData.code }}"></input>
<input type="hidden" name="firePlanNeeded" value="{{ pData.firePlanNeeded }}"></input>
<input type="hidden" name="friendlyWeight" value="{{ pData.friendlyWeight }}"></input>
<input type="hidden" name="guidanceURL" value="{{ pData.guidanceURL }}"></input>
<input type="hidden" name="locationRules" value="{{ pData.locationRules }}"></input>
<input type="hidden" name="permitBaselineReportRequired" value="{{ pData.BaselineReportRequired }}"></input>
<input type="hidden" name="permitCost" value="{{ pData.charge }}"></input>
<input type="hidden" name="permitFirePlanNeeded" value="{{ pData.firePlanNeeded }}"></input>
<input type="hidden" name="permitID" value="{{ pNumber }}"></input>
<input type="hidden" name="permitName" value="{{ pData.nameGOVUK }}"></input>
<input type="hidden" name="permitNatureHeritageSurvey" value="{{ pData.natureHeritageSurvey }}"></input>
<input type="hidden" name="permitPreAppRequired" value="{{ pData.preAppRequired }}"></input>
<input type="hidden" name="permitSpecialCase" value="{{ pData.specialCase }}"></input>
<input type="hidden" name="permitTechnicalAbilityEvidence" value="{{ pData.technicalAbilityEvidence }}"></input>
<input type="hidden" name="permitWasteRecoveryPlan" value="{{ pData.wasteRecoveryPlan }}"></input>
<input type="hidden" name="permitWeight" value="{{ pData.friendlyWeight }}"></input>
<input type="hidden" name="sitePlanNeeded" value="{{ pData.sitePlanNeeded }}"></input>
<input type="hidden" name="specialCase" value="{{ pData.specialCase }}"></input>
<input type="hidden" name="specialCaseText" value="{{ pData.specialCaseText }}"></input>
<input type="hidden" name="technicalAbilityEvidence" value="{{ pData.technicalAbilityEvidence }}"></input>
<input type="hidden" name="WAMITAB" value="{{ pData.WAMITAB }}"></input>
<input type="hidden" name="wasteRecoveryPlan" value="{{ pData.wasteRecoveryPlan }}"></input>


              {% set num1 = [1,2,3,4,5,6,7,8,9] | random %}
              {% set num2 = [1,2,3,4,5,6,7,8,9,0] | random %}
              {% set num3 = [1,2,3,4,5,6,7,8,9,0] | random %}
              {% set num4 = [1,2,3,4,5,6,7,8,9,0] | random %}
              {% set num5 = [1,2,3,4,5,6,7,8,9,0] | random %}
              {% set refnum = "SRP"+num1+num2+num3+num4+num5 %}
              
              
              <input type="hidden" name="permitRefNumber" value="{{ refnum }}"> 
              
              <h2 class="heading-large">
                {{ pData.nameGOVUK }}
                <span class="font-medium" style="white-space: nowrap;">{{ pData.code }}</span>
              </h2>
              
              <p class="change-permit">
                <a href="/{{folder}}/selectpermit/choose-expanding-sections">Select a different permit</a>
              </p>

              <p class="lede text">Application charge: </p>

              <p>
                <span class="bold-xlarge">{{pData.charge}}</span>
              </p>
                


              {% if pData.subsistenceFee=="N/A" %}
                <p class="lede text" style="margin-top: 20px;">
                You will also have to pay a fee every year in advance (the 'subsistence charge'). You pay this when you apply for a deployment.
                </p>
              {% else %}
                <p class="lede text" style="margin-top: 20px;">
                You'll also have to pay <span class="bold-medium">{{pData.subsistenceFee}}</span> every year in advance (the 'subsistence charge').  We’ll invoice you for this if your application is successful. 
                </p>
              {% endif %}

              
              {% endif %}
            {% endfor %}
        

        <div class="form-group">
            <input type="submit" class="button" value="Apply for this permit">

        </div>

      </form>
      
    </div>
  </div>

</main>

{% endblock %}
