{% set facilities = 
  [
    {
    "text": "Installation",
    "hint": "",
    "value": "installation"
    },
    {
    "text": "Waste operation",
    "hint": " - for example, transfer stations, waste treatment and recycling",
    "value": "Waste treatment"
    },
    {
    "text": "Mining waste operation",
    "hint": "",
    "value": "mining"
    },	
    {
    "text": "Water discharge activity",
    "hint": " - for example, sewage, industrial or trade discharge, clearing water channels",
    "value": "water"
    },
    {
    "text": "Groundwater activity",
    "hint": "",
    "value": "groundwater"
    }
  ]
 -%}
