{% extends "layout.html" %}

{% set title = "Which of these materials will you receive, keep, process or produce?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large" id="radio_label">{{title}}</h1>
      
      <p>
      Select all that apply
      </p>

      {% import folder+"/custom_inc/macros.html" as macros %}
      {% from folder+"/bespoke/v2-activities/json/bespoke_activity_types.html" import types %}

      {# bespoke_activity_types_dsub.html has the more granular categories #}
      {# bespoke_activity_types.html has the SRoC+D broader options categories #}

      <form method="post" action="{{formAction}}">
        
      <!-- STORE operatorType to pass on -->
      <input type="hidden" name="operatorType" value="{{permit.operatorType}}">
      
        <div class="form-group">
          <fieldset aria-labelledby="radio_label">
            <legend class="Permit type visuallyhidden">{{title}}</legend>

            {% for t in types %}

            <div class="multiple-choice">
              <input id="{{t.category}}" type="checkbox" name="chosenCategory" value="{{t.category}}">
              <label for="{{t.category}}">
                {{t.category}} {{t.hint}}

              </label>
            </div>

            {% else %}
            <p>No types</p>
            {% endfor %}
          </div>
        </div>


          

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button" name="Continue">Continue</button>
        </div>


      </form>


    </div>
  </div>

</main>

{% endblock %}
