{% extends "layout.html" %}

{% set title = "What is the waste treatment capacity of the site?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form action="/{{folder}}/evidence/declare-offences" method="post">

        <div class="form-group">
          <label class="form-label" for="companySecretaryEmail">
            Total hazardous waste treatment capacity (if this applies)
            <span class="form-hint">Include the unit for total landfill capacity (cubic metres), deposit for recovery capacity (tonnes per day), waste treatment capacity or waste storage capacity (tonnes)</span>
          </label>
          <input class="form-control form-control-char-20" id="" name="" value="">
<p>
</br>
</p>
          <label class="form-label" for="companySecretaryEmail">
            Total non-hazardous waste treatment capacity (if this applies)
            <span class="form-hint">Units as above</span>

          </label>
        
          <input class="form-control form-control-char-20"></input>

        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
