{% extends "layout.html" %}

{% set title = "Drainage system for the vehicle storage area" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<form method="post" action="{{formAction}}">

<!-- Only shown for SR-2015-17 and SR-2015-18 ##################################### -->
  
<fieldset>

<legend>
  <p>
    You must keep vehicles that have not been depolluted on an impermeable surface.
  </p>
  <p>
    Where does the drainage from this surface go?
  </p>
</legend>

  <div class="multiple-choice">
    <input id="radio-1" type="radio" name="drainage" value="Sewer">
    <label for="radio-1">
      To a sewer under a consent from the local water company
    </label>
  </div>
  
  <div class="multiple-choice">
    <input id="radio-2" type="radio" name="drainage" value="Blind sump">
    <label for="radio-2">
      Collected in a blind sump for disposal
    </label>
  </div>
  
  <div class="multiple-choice" data-target="waterBody">
    <input id="radio-3" type="radio" name="drainage" value="Water body">
    <label for="radio-3">
      Surface water drains, a watercourse, the ground or a  water body
    </label>
  </div>

</fieldset>


<div class="js-hidden" id="waterBody" style="margin-top:20px;">
  <fieldset>
  
  <legend>
    <p>
      Does the drainage system ensure that the discharge does not adversely impact water quality? For example, using an oil separator.
    </p>
  </legend>

    <div class="multiple-choice">
      <input id="radio-4" type="radio" name="waterBodyDrainage" value="Water body with correct design">
      <label for="radio-4">
        Yes
      </label>
    </div>
    
    <div class="multiple-choice" data-target="warningMessage">
      <input id="radio-5" type="radio" name="waterBodyDrainage" value="Water body with incorrect design">
      <label for="radio-5">
        No
      </label>
    </div>
    
  </fieldset>

</div>

<div class="panel panel-border-wide js-hidden" id="warningMessage" style="margin-top:20px;">
  <p>
    If you discharge to a water body but don’t have the correct system to prevent pollution then you do not meet the standard rules and cannot get this permit. Please contact us to discuss your options.
  </p>
</div>

<input type="hidden" name="specialCasePageVisited" value="Yes">


<div class="form-group" style="margin-top:20px;">
    <input type="submit" class="button" value="Continue">
</div>
</form>


    </div>
  </div>
</main>

{% endblock %}
