{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard rules waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


<h1 class="heading-large">What's the company name or registration number?</h1>

<div class="form-group">
            <label class="form-label-bold" for="company-name-number">
              Company name or registration number
            </label>
            <input class="form-control" id="company-name-number" type="text">
          </div>

<a class="button" href="#" role="button">Continue</a>


    </div>
  </div>
</main>

{% endblock %}


