{% extends "layout.html" %}

{% set title = "What’s the email address for the permit and official notices?" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>

      <form method="post" action="{{formAction}}">

        <div class="form-group">
          <label class="form-label" for="companySecretaryEmail">
            Official Company Secretary or a director’s email address (optional)
          </label>
          <span class="form-hint text">
            Company Secretary is an official legal position, not a secretary or personal assistant.<br>
            If the company doesn’t have a Company Secretary, give a director's email address.
          </span>
          <input class="form-control" id="companySecretaryEmail" name="companySecretaryEmail" value="{{permit.companySecretaryEmail}}">

        </div>

        <p class="text">
          If you can’t give an email, we’ll post official notices to the registered address.
        </p>

        <div class="panel panel-border-wide">
          <p>
            We’ll email copies of all correspondence to the contact for this application.
          </p>
        </div>

        <div class="form-group">
          {{submitButton|safe}}{{completeLink|safe}}
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
