={% extends "layout.html" %}

{% set title = " Discussions about this application" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-large">
    {{title}}
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Discussions before your application
        </td>
        <td>
        <!-- preapp data -->
          {{permit.preAppDiscussion}} 
        </td>
        <td class="change-answer">
          <a href="/{{folder}}/preapp/preapp-discussion">
            Change <span class="visuallyhidden">Discussions before your application</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

      <form method="post" action="{{formAction}}">

      <div class="form-group">
        <input type="submit" class="button" value="Return to task list">
      </div>

    </form>
    
</main>

{% endblock %}
