{% extends "layout.html" %}

{% set title = "You can’t apply online yet" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
      {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="{{formAction}}">


{% set hs = "You can't apply for " %}
{% set he = " online yet" %}
        
  
  {% if permit.permitName %}
  <!-- Came from operator choice screen -->
      <h1 class="heading-large">{{hs}}{{permit.permitName}} - {{permit.permitCode}}{{he}}</h1>
      <p>
        <a class="font-small" href="javascript:history.back()">
          Select a different permit
        </a>
      </p>
  {% endif %}

  {% if permit.chosenCategory %}
  <!-- Came from operator choice screen -->
      <h1 class="heading-large">{{hs}}{{permit.chosenCategory|lower}}{{he}}</h1>
      <p>
        <a class="font-small" href="javascript:history.back()">
          Select a different type
        </a>
      </p>
  {% endif %}

  {% if (permit.operatorType and permit.chosenCategory==null) %}
  <!-- Came from permit selection screen -->
      <h1 class="heading-large">{{hs}}{{permit.operatorType|lower}}{{he}}</h1>
      <p>
        <a class="font-small" href="javascript:history.back()">
          Select a different permit holder type
        </a>
      </p>
  {% endif %}




        <h2 class="heading-medium">How to apply</h2>

        <p>To apply, download and fill in these forms:</p>

        <ul class="list list-bullet">
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-a-about-you">part A: about you</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-b1-standard-facilities-permit">part B1: standard facilities permit</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/publications/application-for-an-environmental-permit-part-f1-opra-charges-declarations">part F1: <abbr title="Operational risk appraisal">Opra</abbr>, charges and declarations</a></li>
        </ul>


      </div>

    </form>

  </div>
</div>

</main>

{% endblock %}
