{% extends "layout.html" %}

{% set title = "Apply for a bespoke permit for an installation, landfill, mine or water discharge" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  
    {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{title}}</h1>
      
      <p>You cannot apply online yet for that type of facility. We hope to add them soon.</p>
      
      <p>
        Download and fill in the <a href="https://www.gov.uk/guidance/a1-installations-environmental-permits#apply-for-a-bespoke-permit">
          forms to apply for a bespoke permit for an installation</a>.
      </p>

      <p>
        Download and fill in the <a href="https://www.gov.uk/guidance/waste-environmental-permits#how-to-apply-for-a-bespoke-permit">
          forms to apply for a bespoke waste environmental permit</a>.
      </p>
      
      

    </div>
  </div>

</main>

{% endblock %}
