{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard rules waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


<h1 class="heading-large">Select permit</h1>

<p>Showing permits for materials recovery and recycling <a href="#">change</a>
</p>


<form action="{{formAction}}" method="post">
  <div class="form-group">
    <fieldset>

      <legend class="visuallyhidden">Select permit</legend>

      <input id="radio-1" type="radio" name="permitType" value="Household, commercial and industrial waste transfer station SR2015 No.4">
<label for="radio-1">
        Household, commercial and industrial waste transfer station SR2015 No.4
        <details>

  <summary><span class="summary">Details for SR2015 No4</span></summary>

      <div class="panel panel-border-narrow">
        <p>
        This covers standard rules to operate a household, commercial and industrial waste transfer station, including (no building); with treatment; and asbestos storage
        </p>
      </div>
      </details>
    </label>

 <input id="radio-2" type="radio" name="permitType" value="Household, commercial and industrial waste transfer station (no building) SR2015 No.5:">
<label for="radio-2">
        Household, commercial and industrial waste transfer station (no building) SR2015 No.5:
        <details>

  <summary><span class="summary">Details for SR2015 No5</span></summary>

      <div class="panel panel-border-narrow">
        <p>
        This covers standard rules to operate a household, commercial and industrial waste transfer station, including (no building); with treatment; and asbestos storage
        </p>
      </div>
      </details>
    </label>

 <input id="radio-3" type="radio" name="permitType" value="Household, commercial and industrial waste transfer station SR2015 No.6">
<label for="radio-3">
        Household, commercial and industrial waste transfer station SR2015 No.6
        <details>

  <summary><span class="summary">Details for SR2015 No6</span></summary>

      <div class="panel panel-border-narrow">
        <p>
        This covers standard rules to operate a household, commercial and industrial waste transfer station, including (no building); with treatment; and asbestos storage
        </p>
      </div>
      </details>
    </label>

 <input id="radio-4" type="radio" name="permitType" value="Household, commercial and industrial waste transfer station SR2015 No.7">
<label for="radio-4">
        Household, commercial and industrial waste transfer station SR2015 No.7
        <details>

  <summary><span class="summary">Details for SR2015 No7</span></summary>

      <div class="panel panel-border-narrow">
        <p>
        This covers standard rules to operate a household, commercial and industrial waste transfer station, including (no building); with treatment; and asbestos storage
        </p>
      </div>
      </details>
    </label>




    </fieldset>
  </div>

  <div class="form-group">
    {{submitButton|safe}}{{completeLink|safe}}
  </div>

</form>



    </div>
  </div>
</main>

{% endblock %}


