{% extends "layout.html" %}

{% set title = "Which qualification does the site manager have?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>

<div class="panel panel-border-wide">
  <p> 
    Your site must be managed by a 'competent person'. To prove this, they must have a certificate of technical competence or an operator competence scheme certificate, for example from WAMITAB.
  </p>
  <p> 
    Check that your certificate has not expired.
  </p>
</div>

<details style="margin-bottom:20px;">
  <summary><span class="summary">Relevant WAMITAB qualifications</span></summary>
  <div class="panel panel-border-narrow">
    {{permit.WAMITAB}}
  </div>
</details>




<form method="post" action="{{formAction}}" class="form">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">{{title}}</legend>

      <div class="multiple-choice" data-target="uploadCertificate">
      <input id="radio-1" type="radio" name="industryScheme" value="CIWM-WAMITAB">
<label class="selection-button-radio" for="radio-1">
        CIWM (Chartered Institute of Wastes Management) and WAMITAB (Waste Management Industry Training and Advisory Board) scheme
      </label>
      </div>
      <div class="multiple-choice" data-target="uploadCertificate">
      <input id="radio-2" type="radio" name="industryScheme" value="ESA-EU">
<label class="selection-button-radio" for="radio-2">
        Environmental Services Association (ESA) and Energy and Utility Skills (EU Skills) scheme
      </label>
      </div>

      <div class="multiple-choice" data-target="provideDetails">
      <input id="radio-3" type="radio" name="industryScheme" value="getting-qualification">
<label class="selection-button-radio" for="radio-3">
        The operator is getting the qualification
      </label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="provideDetails">
        <label class="form-label" for="industrySchemeDetails">What qualification will they have and what date will they get it?
          <span class="form-hint">They must have the qualification before you start operating</span>
        </label>
      
        <textarea class="form-control" id="industrySchemeDetails"  name="industrySchemeDetails" cols="30" rows="2"></textarea>
      </div>
    </fieldset>
  </div>
  


  <!-- UPLOAD FORM ========================================== -->
    <div class="form-group form-upload js-hidden" id="uploadCertificate">
        <h2 class="heading-medium">Upload a certificate for the qualification</h2>
        
        <p class="text form-hint">
          PDF or JPG files, 10MB maximum file size.<br>
          You can upload more than one file at a time.
        </p>

        <input id="upload" type="file" aria-labelelledby="upload-label">
        <input id="filename" name="technicalCertificateFile" type="hidden">

    </div>
    
    <script>
      // captures uploaded filename and passes to hidden input
      document.getElementById('upload').onchange = uploadOnChange;
      function uploadOnChange() {
          var filename = this.value;
          var lastIndex = filename.lastIndexOf("\\");
          if (lastIndex >= 0) {
              filename = filename.substring(lastIndex + 1);
          }
          document.getElementById('filename').value = filename;
      }
    </script>
    

  <div class="form-group">
      <input type="submit" class="button" value="Continue">
  </div>
</form>

    </div>
  </div>
</main>

{% endblock %}
