{% extends "layout.html" %}

{% set title = "How far is the site from a ‘sensitive receptor’ such as a residential property, school, hospital or nursing home, or similar?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    <form action="{{formAction}}" method="post">

      <h1 class="heading-large">{{title}}</h1>

      <fieldset>
        <legend class="visuallyhidden">{{title}}</legend>


        <div class="form-group">
          
          <div class="multiple-choice">
            <input id="sr100" type="radio" name="sensitive-receptor" value="100">
            <label for="sr100">
              Within 100 metres
            </label>
          </div>
          
          <div class="multiple-choice">
            <input id="sr100250" type="radio" name="sensitive-receptor" value="100250">
            <label for="sr100250">
              Between 100 metres and 250 metres
            </label>
          </div>
          
          <div class="multiple-choice">
            <input id="sr250" type="radio" name="sensitive-receptor" value="250">
            <label for="sr250">
              Further than 250 metres
            </label>
          </div>
          
          <div class="multiple-choice">
            <input id="notsure" type="radio" name="sensitive-receptor" value="notsure">
            <label for="notsure">
              I’m not sure
            </label>
          </div>
          
        </div>

      </fieldset>

      <div class="form-group">
        <button type="submit" class="button" name="Continue">Continue</button>
      </div>

    </form>

    </div>
  </div>

</main>

{% endblock %}
