{% extends "layout.html" %}

{% set directorCount=0 %}
{% for o in officers %}
  {% if o.resigned_on==null %}
    {% if o.officer_role=="director" %}
        {% set directorCount=directorCount+1 %}
    {% endif %}
  {% endif %}
{% else %}
{% endfor %}

{% set title = "Email address for one of the designated members" %}


{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}
{% set version = "v16" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-large">{{title}}</h1>

    <form action="/{{version}}/operator/ll-partnership/officer-email" method="post" id="dob-form">

      <p>A limited liability partnership must have at least 2 designated members. We will send a copy of any official notices to one of these designated members.</p>
      <p>The main contact for the application will get a copy of all communications.</p>
      <div class="form-group">
    <fieldset>
      <legend class="visuallyhidden">We use the email address as a contact email for the permit. We will not include it in the public permit register.</legend>




        <div class="form-group">

        <label class="form-label" for="designatedMemberEmail">
          Email address for a designated member
        </label>
        <input class="form-control" id="designatedMemberEmail" name="designatedMemberEmail" value="{{permit.designatedMemberEmail}}">

        </div>


  </fieldset>

</br>
  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


  </form>

      </div>

    </div>
  </div>
  </main>

  {% endblock %}
