{% extends "layout.html" %}

{% set title = "Read rules" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

     <h1 class="heading-large">{{title}}</h1>

    <form method="post" action="{{formAction}}">


             <h2 class="heading-medium">
                You need to check that your operation:
              </h2>
              <!-- list-bullet instead? -->
               <ul class="list list-border">
              <!-- comply with rules -->
               <li>complies with the <a href="{{permit.guidanceURL}}" target="_blank">rules for {{permit.permitCode}}</a></li>
              <!-- comply with risk assessment -->
               <li>complies with the <a href="{{permit.guidanceURL}}" target="_blank">risk assessment</a></li>

              <!-- conditional on permit  -->
                {% if permit.friendlyWeight!="" %}
                  <li>handles {{ permit.friendlyWeight | lower }}</li>
                {% endif %}
                
                {% if permit.locationRules!="No" %}
                  <li>meets the location rules:
                    
                    <details>
                      <summary><span class="summary">Site location rules</span></summary>
                      <div class="panel panel-border-narrow">
                        <ul class="list list-bullet location-list">
                          {{ permit.locationRules | replace("*", "<li>") | safe }}
                        </ul>
                      </div>
                    </details>

                  </li>
                {% endif %}
      
                </ul>

         <!-- set readRules to yes -->       
        <input type="hidden" name="readRules" value="yes">
        

        <div class="form-group">
          <input type="submit" class="button" value="I accept these rules">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
