{% extends "layout.html" %}

{% set title = "Application overview" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="grid-row overview">
      <div class="column-two-thirds">


<h1 class="heading-large">{{title}}</h1>

<div class="panel panel-border-wide">
<h2 class="font-medium">
Anaerobic digestion facility including use of biogas
<span class="bold-small">SR2010 No 15</span>
</h2>
</div>
<hr>

<style>
.overviewHead {
  display: flex; 
  justify-content: space-between;
}

.heading-medium { margin-top: 0; margin-bottom: 0;}

.txa { text-align: right; }

hr { margin-top: 0; }

</style>

<div class="overviewHead">
<h2 class="heading-medium">Pre application and screening</h2>
<p class="txa"><a href="">Add</a></p>
</div>
<p>{{permit.preAppDiscussionRefName}}</p>


<hr>


<div class="overviewHead">
<h2 class="heading-medium">Contact details</h2>
<p><a href="">Edit</a></p>
</div>
<p>{{permit.contactName}}<br>
   Telephone number: {{permit.contactTelephone}}<br>
   Email address: {{permit.contactEmail}}</p>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Site</h2>
<p class="txa"><a href="/{{folder}}/site/site-name">Add</a></p>

</div>

<p>Site name: 
{{permit.siteName}}</p>

<p>Site address
{{permit.siteAddress}}</p>

<p>Grid reference:  
{{permit.siteGridRef}}</p>

<p>Site plan: 
{{permit.sitePlanFilename}}</p>

<hr>

<div class="overviewHead">
<h2 class="heading-medium">Fire prevention plan<h2>
<p><a href="">Add</a></p>
</div>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Evidence of technical ability</h2>
<p><a href="">Add</a></p>
</div>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Management system<h2>
<p><a href="">Add</a></p>
</div>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Operator details</h2>
<p><a href="">Add</a></p>
</div>
<hr>


<div class="overviewHead">
<h2 class="heading-medium">Relevant offences</h2>
<p><a href="">Add</a></p>
</div>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Bankruptcy or insolvency</h2>
<p><a href="">Add</a></p>
</div>
<hr>

<div class="overviewHead">
<h2 class="heading-medium">Confidentiality request</h2>
<p><a href="">Add</a></p>
</div>
<hr>


<!--
<table class="check-your-answers" style="margin-bottom: 30px">
  <tbody>
    <tr>
      <td>Standard rule</td>
      <td>{{permit.chosenPermitID}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Standard rule</span>
	      </a>
	    </td>
    </tr>
    <tr>
      <td>Pre-application reference</td>
      <td>{{permit.preAppDiscussionRefName}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Pre-application reference</span>
	      </a>
	    </td>
	</tr>
    <tr>
      <td>Operator name</td>
      <td>{{permit.companyName}}
		</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Operator name</span>
	      </a>
	    </td>
	</tr>
    <tr>
      <td>Operator address</td>
      <td>{{permit.companyAddress}}
		</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Operator address</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Site name</td>
      <td>{{permit.siteName}}
		</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Site name</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Site details</td>
      <td>{{permit.siteAddress}}
		</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Site address</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Grid reference for the site</td>
      <td>{{permit.siteGridRef}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Grid reference for the site</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Who we will contact</td>
      <td>{{permit.contactName}}<br>
		  {{permit.contactTelephone}}<br>
          {{permit.contactEmail}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Grid reference for the site</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Site plan</td>
      <td>{{permit.sitePlanFilename}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Site plan</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Fire prevention plan</td>
      <td>{{permit.firePlanFilename}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Fire prevention plan</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Industry scheme</td>
      <td>{{permit.industryScheme}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Industry scheme</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Technical evidence certificate</td>
      <td>{{permit.technicalCertificateFile}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Technical evidence certificate</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Management system</td>
      <td>
          {{ permit.manSys }}
      </td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">ISO 14001</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Relevant offences</td>
      <td>{{permit.offences}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Relevant offences</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Bankruptcy or insolvency</td>
      <td>{{permit.bankruptcyInsolvency}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Bankruptcy or insolvency</span>
	      </a>
	    </td>
	</tr>
	<tr>
      <td>Confidentiality request</td>
      <td>{{permit.confidential}}</td>
	    <td class="change-answer">
	      <a href="#">
	        Change <span class="visuallyhidden">Confidentiality request</span>
	      </a>
	    </td>
	</tr>
  </tbody>
</table>

-->

    <form method="post" action="{{formAction}}" class="form">

      <div class="form-group">
        <input type="submit" class="button" value="Submit application">
      </div>

    </form>

</div>

<div class="column-third">

<style>
.doc-summary {
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 50px;
}
</style>

<div class="doc-summary">

<h3 class="heading-small">Documents you'll need</h3>

<ul class="list list-border">
<li>site plan</li>
<li>fire prevention plan</li>
<li>evidence of technical ability</li>
<li>a written <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits" target="_blank">management system</a></li>
</ul>

</div>

<!-- selectpermit/what-need-to-apply 

              <ul class="list list-border">
                
                {% if pData.sitePlanNeeded=="Yes" %}
              
                  <li>a site plan prepared to site plan standards
                    
                    <details>
                      <summary><span class="summary">Site plan standards</span></summary>
                      <div class="panel panel-border-narrow">
                        {% include folder+"/guidance/siteplan.html" %}
                      </div>
                    </details>

                  </li>
                
                {% endif %}
              
                {% if pData.firePlanNeeded=="Yes" %}
                  <li>a <a href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits" target="_blank">fire plan</a></li>
                {% endif %}
                
                {% if pData.baselineReportRequired=="Yes" %}
                  <li>a <a href="#" target="_blank">baseline report</a></li>
                {% endif %}
                
                {% if pData.technicalAbilityEvidence=="Yes" %}
                  <li>evidence of technical ability, for example, qualifications from <abbr title="Waste Management Industry Training and Advisory Board">WAMITAB</abbr>
                
                  <details>
                    <summary><span class="summary">Relevant WAMITAB qualifications</span></summary>
                    <div class="panel panel-border-narrow">
                      {{pData.WAMITAB}}
                    </div>
                  </details>
                </li>
                {% endif %}
                
                {% if pData.wasteRecoveryPlan=="Yes" %}
                  <li>a waste recovery plan</li>
                {% endif %}

                <li>a written <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits" target="_blank">management system</a></li>
              
            </ul>
-->



</div>
</div>

</main>

{% endblock %}
