{% extends "layout.html" %}

{% set title = "Application for "+permit.permitCode %}

{% set addTxt = "Start this section" %}
{% set editTxt = "Edit" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

<h1 class="heading-large">{{title}}<br>
  <span class="font-medium">{{permit.permitName}}</span>
  </h1>

      <ol class="task-list">
        <li>
        <!-- PRE APP ############################################################### -->
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Pre application and screening
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/{{folder}}/preapp/preapp-discussion?ov=1" aria-describedby="preapp-completed">
                Pre application discussion
              </a>
              {% if permit.preAppDiscussion!=null %} <strong class="task-completed" id="preapp-completed">Completed</strong> {% endif %}
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="screening-completed">
                Screening
              </a>
              {% if permit.screening!=null %} <strong class="task-completed" id="screening-completed">Completed</strong> {% endif %}
            </li>
          </ul>
        </li>
        <!-- CONTACT ############################################################### -->
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Contact details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/{{folder}}/contact/contact-details?ov=1" aria-describedby="contact-details-completed">
                Your contact details 
              </a>
              <!--  UPDATE SO THAT if permit.contactName + permit.contactTelephone + permit.contactEmail -->
              {% if permit.contactName!=null %} <strong class="task-completed" id="contact-details-completed">Completed</strong> {% endif %}
            </li>
          </ul>
        </li>
        <!-- Site   ############################################################### -->
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Site
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/{{folder}}/site/site-name" aria-describedby="site-name-completed">
                Site name
              </a>
              {% if permit.siteName!=null %} <strong class="task-completed" id="site-name-completed">Completed</strong> {% endif %}
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
