{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit v0
{% endblock %}

{% set version = "v1" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
		Apply for a standard waste permit prototype: Alpha
	  </h1>
      
      <p>
        Protoype of the standard waste permit application journey
      </p>



      <h3 class="heading-medium">Version 0: baseline protoype</h3>
      <ul class="list list-bullet">
      <li><a href="/v0/about-you">Part A: About you</a></li>
      <li><a href="/v0/standard-permit-application">Part B1: Standard permit application</a></li>
      <li><a href="/v0/opra-charges-declarations">Part F1: OPRA charges and declarations</a></li>
      </ul>
      

    </div>
  </div>
</main>

{% endblock %}
