{% extends "layout.html" %}

{% block page_title %}
Apply for a standard waste permit v8
{% endblock %}

{% set version = "v8" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a standard waste permit prototype: Beta version 8
      </h1>
      
      <!-- user lab -->
      <h2 class="heading-medium">User lab</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/start/index" target="_blank">Apply via a guidance page on GOV.UK</a></li>
        <li><a href="/{{version}}/save-and-return/email-save-link" target="_blank">Return to application email</a></li>
        <li><a href="/{{version}}/error/timeout-page" target="_blank">Timeout page</a></li>
        <li><a href="/{{version}}/cls">Clear permit data</a></li>
      </ul>

      <h2 class="heading-medium">Selecting a permit</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/start/index">Apply via a guidance page on GOV.UK</a></li>
        <li><a href="/{{version}}/selectpermit/choose-from-guidance-data">Select a standard ruleset from the collection page on GOV.UK</a></li>
        <!-- <li><a href="/{{version}}/start/rules-page">Draft rules page</a></li> -->
        <li><a href="/{{version}}/start/start-or-resume">Start or resume your application</a></li>
        <li><a href="/{{version}}/save-and-return/email-save-link">Return to application email</a></li>
        <li><a href="/{{version}}/selectpermit/permit-category2">Select a permit</a></li>
        <li><a href="/{{version}}/search-permit/sr-permits">Search for a permit (experimental)</a></li>
      </ul>

      <h2 class="heading-medium">Screening</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/screening/location-check">Do you to want us to check the site location before you apply?</a></li>
        <li><a href="/{{version}}/screening/screening-site-plan">Do you have a site plan that shows the site boundary?</a></li>
        <li><a href="/{{version}}/screening/distance-to-boundary">What's the distance from the grid reference point to the site boundary?</a></li>
        <li><a href="/{{version}}/screening/received">Location check received</a></li>
        <li><a href="/{{version}}/screening/confirmation-email">Email: We’ve received your location check request</a></li>
        <li><a href="/{{version}}/screening/email-eligible">Email: Location check passed</a></li>
        <li><a href="/{{version}}/screening/email-ineligible">Email: Location check failed</a></li>
      </ul>

      <h2 class="heading-medium">Tasks to be done</h2>

      <ul class="list list-bullet">

        <li><a href="/{{version}}/check/task-list">Task list (a permit must be selected)</a></li>

        <li><a href="/{{version}}/check/task-list?testmode=y">Task list - pre-fill all tasks with SR2015 No 18</a></li>


        <li><a href="/{{version}}/selectpermit/cost-and-time">Cost and time for this permit</a></li>
        <li><a href="/{{version}}/read-rules/index">Confirm that your operation meets the rules</a></li>
        <li><a href="/{{version}}/preapp/preapp-discussion">Have you discussed your application with us?</a></li>
      </ul>

      <ul class="list list-bullet">
        <li><a href="/{{version}}/contact/contact-details">Who should we contact about this application?</a></li>
        <li><a href="/{{version}}/operator/site-operator">Who will be the permit holder?</a></li>
        <li><a href="/{{version}}/operator/checkoperator">What's the company name or registration number?</a></li>
        <li><a href="/{{version}}/operator/company/check-company-details">Check company details</a></li>
        <!-- <li><a href="/{{version}}/operator/company/check-officers">Check company directors (experimental for research only)</a><br>&nbsp;</li> -->
        <li><a href="/{{version}}/operator/company/check-officers">Company directors' dates of birth</a></li> 

        <li><a href="/{{version}}/evidence/declare-offences">Does anyone connected with your business have a conviction for a relevant offence?</a></li>
        <li><a href="/{{version}}/evidence/bankruptcy-insolvency">Are there any bankruptcy or insolvency proceedings involving a company or anyone connected to the application?</a></li>   
      </ul>

      <ul class="list list-bullet">
        <li><a href="/{{version}}/site/site-name">What's the site name?</a></li>
        <li><a href="/{{version}}/site/grid-reference">What's the grid reference for the centre of the site?</a></li>
      <!-- <li><a href="/{{version}}/site/grid-reference-map">Check grid reference with a map</a></li>
      <li><a href="/{{version}}/site/grid-reference-eng">Check grid reference with country check</a> (needs <a href="/{{version}}/which-country.zip">custom module</a>)</a><br>&nbsp;</li>
    -->
    <li><a href="/{{version}}/address/postcode">What's the postcode for the site?</a></li>
    <li><a href="/{{version}}/address/address">What's the site address?</a></li>
    <li><a href="/{{version}}/address/address-manual">Enter the site address (manually)</a></li>
  </ul>

  <ul class="list list-bullet">
    <li><a href="/{{version}}/evidence/upload-site-plan">Upload a site plan</a></li>
    <li><a href="/{{version}}/evidence/industry-scheme">Which qualification does the person providing technical management have?</a></li>
    <!-- <li><a href="/{{version}}/evidence/industry-scheme-draft">Which qualification does the operator have? Draft 2</a></li> -->
    <li><a href="/{{version}}/evidence/upload-scheme-certificate">Upload a certificate for the qualification</a></li>
    <li><a href="/{{version}}/evidence/management-system">Which management system will you use?</a></li>
    <li><a href="/{{version}}/evidence/upload-fire-plan">Upload a fire prevention plan</a></li>
    <li><a href="/{{version}}/check/claim-confidentiality">Is part of your application commercially confidential?</a></li>
  </ul>


  <ul class="list list-bullet">
    <li><a href="/{{version}}/check/check-answers">Check your answers before sending your application</a></li>
        <!-- <li><a href="/{{version}}/pay/payment-method">Choose how you want to pay</a></li>
        <li><a href="/{{version}}/pay/pay-by-cheque">Pay by cheque</a></li>
        <li><a href="/{{version}}/pay/pay-by-bank-transfer">Pay by bank transfer</a></li> -->
        <li><a href="/{{version}}/pay/enter-card-details">Pay - enter card details</a></li>
        <li><a href="/{{version}}/pay/confirm-payment">Pay - confirm payment</a></li>
        <li><a href="/{{version}}/done/index">Confirmation (done) page</a></li>
        <li><a href="/{{version}}/done/email-confirm">Confirmation email</a></li>
      </ul>

      <h2 class="heading-medium">Error pages</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/error/timeout-page">Timeout page (for user lab)</a></li>
        <li><a href="/{{version}}/error/404-page">404 page not found</a></li>
      </ul>
      
      <h2 class="heading-medium">Special cases</h2>
      
      <ul class="list list-bullet">

        <li><a href="/{{version}}/specialcases/sr-2009-4">SR 2009-4</a> | 
          <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2009-4">apply for permit</a></li>

          <li><a href="/{{version}}/specialcases/sr-2009-8">SR 2009-8</a> | 
            <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2009-8">apply for permit</a></li>

            <li><a href="/{{version}}/specialcases/sr-2010-2_3">SR 2010-2 and SR 2010-3</a> | 
              <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2010-2">apply for permit SR 2010-2</a></li>

              <li><a href="/{{version}}/specialcases/sr-2014-2">SR 2014-2</a> | 
                <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2014-2">apply for permit</a></li>

                <li><a href="/{{version}}/specialcases/sr-2015-17_18">SR 2015-17 and SR 2015-18</a> | 
                  <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2015-17">apply for permit 2015-17</a></li>

                  <li><a href="/{{version}}/specialcases/sr-2015-39">SR 2015-39</a> | 
                    <a href="/{{version}}/selectpermit/check-permit?chosenPermitID=SR-2015-39">apply for permit</a></li>


                  </ul>

                  <h2 class="heading-medium">For testing</h2>


                  <ul class="list list-bullet">
                    <li><a href="/{{version}}/guidance/permit/sr2015-17">Guidance: combined permit info with checklist and risk assessment</a></li>

                    <li>
                      <a href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits">Guidance: fire prevention plan (GOV.UK)</a>
                    </li>
                    <li><a href="/{{version}}/search-permit/index">Find waste licences for your business (search all)</a></li>

                    <li><a href="/{{version}}/selectpermit/choose-from-guidance-data">Select permit: directly from guidance via link</a></li>


                    <li><a href="/{{version}}/selectpermit/ex_permit_popular">Select permit: popular</a></li>

                  </ul>





                  <h2 class="heading-medium">Routing experiments</h2>
                  <ul class="list list-bullet">
                    <li><a href="/{{version}}/search-permit/index">Find waste licences for your business</a></li>
                    <li><a href="/{{version}}/checkpermit/index">Simple routing experiment</a><br>
                      handling waste all routes works; installations > cement and lime - routes works
                    </li>
                  </ul>


                  <h2 class="heading-medium">Select a permit</h2>
                  <ul class="list list-bullet">


                    <li><a href="/{{version}}/search-permit/sr-permits">Select permit: search</a></li>
                    <li><a href="/{{version}}/selectpermit/choose-expanding-sections">Select permit: expanding sections</a></li>
                    <li><a href="/{{version}}/selectpermit/choose-from-guidance-data">Select permit: directly from guidance via link - list from data</a></li>
                    <li><a href="/{{version}}/selectpermit/ex_permit_dropdown">Select permit: dropdown</a></li>
                    <li><a href="/{{version}}/selectpermit/ex_permit_radios_all">Select permit: radio buttons, full list</a></li>
                    <li><a href="/{{version}}/selectpermit/ex_permit_autocomplete">Select permit: basic autocomplete</a></li>
                    <li><a href="/{{version}}/selectpermit/ex_permit_popular">Select permit: popular</a></li>
                    <li><a href="/{{version}}/selectpermit/permit-category2">Select permit: category first</a></li>
                  </ul>

                  <h2 class="heading-medium">Grid reference and maps</h2>
                  <ul class="list list-bullet">
                    <li><a href="/{{version}}/site/grid-reference-map">Check grid reference with a map</a></li>
                  </ul>

                  <h2 class="heading-medium">Guidance</h2>
                  <ul class="list list-bullet">
                    <li><a href="/{{version}}/guidance/permit/sr2015-17">Combined permit info with checklist and risk assessment</a></li>
                    <li><a href="/{{version}}/guidance/overview">Overview slides</a></li>
                  </ul>



                </div>
              </div>
            </main>

            {% endblock %}
