{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
		Apply for a standard waste permit prototype: Alpha EDIT
	  </h1>
    
    <h3 class="heading-medium">Pages</h3>
    <ul class="list list-bullet">
      
    <li><a href="/v1/start/index">Guide page on GDS (start)</a></li>
    
    <li><a href="/v1/selectpermit/permit-category">What do you want the permit for?</a></li>
    <li><a href="/v1/selectpermit/choose-permit">Select permit</a></li>
    <li><a href="/v1/selectpermit/check-permit">Check permit</a></li>
    <li><a href="/v1/selectpermit/what-you-need">What you need</a></li>
    
    
    <li><a href="/v1/site/grid-reference">Grid reference</a></li>
    
    
    <li><a href="/v1/address/postcode">Site address: postcode</a></li>
    <li><a href="/v1/address/address">Site address: address</a></li>
    <li><a href="/v1/address/adddress-manual">Site address: enter address manually</a></li>
    
    
    
    <li><a href="/v1/pay/enter-card-details">Pay - enter card details</a></li>
    <li><a href="/v1/pay/enter-card-details">Pay - confirm payment</a></li>
    
    
    <li><a href="/v1/done/index">Confirmation (done) page</a></li>
    <li><a href="/v1/done/email-confirm">Confirmation email</a></li>
    
    
    
    </ul>



    </div>
  </div>
</main>

{% endblock %}
