{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard rules environmental permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a standard rules environmental permit prototype: Beta
     </h1>

      <h2 class="heading-medium">Research - Dec 2018</h2>
      <ul class="list list-bullet">
        <li><a href="/v23/cls">Clear permit data</a></li>
        <li><a href="/v23/start/bespoke-guide">Bespoke application</a></li>
      </ul>

      <p></p>

      <h2 class="heading-medium">Prototype of the environmental permit application journey</h2>

      <p><a href="/change-log">Prototype change log</a></p>

      <ul class="list list-bullet">
        <li><a href="/index-v23">Version 23</a></li>
        <li><a href="/index-v22">Version 22</a></li>
        <li><a href="/index-v21">Version 21</a></li>
        <li><a href="/index-v20">Version 20</a></li>
        <li><a href="/index-v19">Version 19</a></li>
        <li><a href="/index-v18">Version 18</a></li>
        <li><a href="/index-v17">Version 17 (bespoke up to v3.1 - in progress)</a></li>
        <li><a href="/index-v16">Version 16 (bespoke absolute minimum)</a></li>
        <li><a href="/index-v15">Version 15 (bespoke v2.1 - in progress)</a></li>
        <li><a href="/index-v14">Version 14 pages</a></li>
        <li><a href="/index-v13">Version 13 pages</a></li>
        <li><a href="/index-v12">Version 12 pages</a></li>
        <li><a href="/index-v11">Version 11 pages</a></li>
        <li><a href="/index-v10">Version 10 pages</a></li>
        <li><a href="/index-v9">Version 9 pages</a></li>
        <li><a href="/index-v8">Version 8 pages</a></li>
        <li><a href="/index-v7">Version 7 pages</a></li>
        <li><a href="/index-v6">Version 6 pages</a></li>
        <li><a href="/index-v5">Version 5 pages</a></li>
        <li><a href="/index-v4">Version 4 pages</a></li>
        <li><a href="/index-v3">Version 3 pages</a></li>
        <li><a href="/index-v2a">Version 2a pages</a></li>
        <li><a href="/index-v2">Version 2 pages</a></li>
        <li><a href="/index-v1">Version 1 pages</a></li>
        <li><a href="/index-v0">Version 0 pages</a></li>
        <li><a href="/index-ex">Experimental pages</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
