{% extends "layout.html" %}

{% block page_title %}
  Apply for a standard waste permit: experimental
{% endblock %}

{% set version = "v8" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
		Apply for a standard waste permit prototype: experimental pages
	  </h1>
    
  <h2 class="heading-medium">For testing</h2>
  
  
  <ul class="list list-bullet">
    <li><a href="/{{version}}/guidance/permit/sr2015-17">Guidance: combined permit info with checklist and risk assessment</a></li>
    
    <li>
      <a href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits">Guidance: fire prevention plan (GOV.UK)</a>
    </li>
    <li><a href="/{{version}}/search-permit/index">Find waste licences for your business (search all)</a></li>
    
    <li><a href="/{{version}}/selectpermit/choose-from-guidance-data">Select permit: directly from guidance via link</a></li>
    
    
    <li><a href="/{{version}}/selectpermit/ex_permit_popular">Select permit: popular</a></li>
    
  </ul>
        
        
        
        
    
    <h2 class="heading-medium">Routing experiments</h2>
    <ul class="list list-bullet">
      <li><a href="/{{version}}/search-permit/index">Find waste licences for your business</a></li>
        <li><a href="/{{version}}/checkpermit/index">Simple routing experiment</a><br>
          handling waste all routes works; installations > cement and lime - routes works
</li>
    </ul>
      
  
      <h2 class="heading-medium">Select a permit</h2>
      <ul class="list list-bullet">
        
        
        <li><a href="/{{version}}/search-permit/sr-permits">Select permit: search</a></li>
        <li><a href="/{{version}}/selectpermit/choose-expanding-sections">Select permit: expanding sections</a></li>
        <li><a href="/{{version}}/selectpermit/choose-from-guidance-data">Select permit: directly from guidance via link - list from data</a></li>
        <li><a href="/{{version}}/selectpermit/ex_permit_dropdown">Select permit: dropdown</a></li>
        <li><a href="/{{version}}/selectpermit/ex_permit_radios_all">Select permit: radio buttons, full list</a></li>
        <li><a href="/{{version}}/selectpermit/ex_permit_autocomplete">Select permit: basic autocomplete</a></li>
        <li><a href="/{{version}}/selectpermit/ex_permit_popular">Select permit: popular</a></li>
        <li><a href="/{{version}}/selectpermit/permit-category2">Select permit: category first</a></li>
      </ul>
      
      <h2 class="heading-medium">Grid reference and maps</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/site/grid-reference-map">Check grid reference with a map</a></li>
      </ul>
      
      <h2 class="heading-medium">Guidance</h2>
      <ul class="list list-bullet">
        <li><a href="/{{version}}/guidance/permit/sr2015-17">Combined permit info with checklist and risk assessment</a></li>
        <li><a href="/{{version}}/guidance/overview">Overview slides</a></li>
      </ul>

      

    </div>
  </div>
</main>

{% endblock %}
