{% extends "layout.html" %}

{% block page_title %}
  Test 1
{% endblock %}


{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
		      Test 1
	    </h1>
      
    {% if numAccounts == "" %} 
      {% set numAccounts = 1 %}
    {% endif %} 

    <p>On page load the number of accounts is {{numAccounts}} stored in GDS data object</p>

    <p>We can then add one to it</p>
    {% set numAccounts = numAccounts+1 %}

    <p>There are now {{numAccounts}} accounts</p>


    <input type="hidden" name="numAccounts" value="{{numAccounts}}">



    </div>
  </div>
</main>

{% endblock %}
