{% extends "layout.html" %}

{% set title = "Download the application forms [UNFINISHED]" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{backlink|safe}}

  <div class="grid-row">
      <div class="column-two-thirds">

<h1 class="heading-large">{{title}}</h1>
  <form method="post" action="{{formAction}}">
<p>
  <span class="bold-small">
Steps  </span><br>

<p>
  <span class="bold-small">
    Forms and guidance (open in new tabs)
  </span>

  <ul>
    <li><a href="#" download="#">Form B2 bespoke applications (pdf)</a></li>
    <li><a href="#" download="#">Form B4 bespoke applications (pdf)</a></li>
    <li><a href="#" download="#">Form B2 guidance (pdf)</a></li>
    <li><a href="#" download="#">Form B4 guidance (pdf)</a></li>
  </p>

    <input class="button" type="submit" value="Continue">





</div>
</form>


    </div>
  </div>
</main>

{% endblock %}
