{% extends "layout.html" %}

{% set title = "How much will your permit cost?[UNFINISHED]" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    {{backlink|safe}}

    <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-large" id="radio_label">{{title}}</h1>

      <form method="post" action="{{formAction}}">


      <h3 class="heading-small">Cost to apply</h3>
      <p>Find your reference application number and then call us to get a cost for your permit.</p>
      <p>We are open Monday to Friday, 8am to 6pm.</p>

      <div class="email-url-number">
        <p class="tel">
          <span class="type">Telephone</span>
          03708 506 506
        </p>
        <p class="tel">
          <span class="type">Telephone from outside the UK</span>
          +44 (0) 114 282 5312
        </p>
        <p class="tel">
          <span class="type">Minicom (for the hard of hearing)</span>
          03702 422 549
        </p>
      </div>

              <br>

         <!-- set costTime to yes -->
        <input type="hidden" name="costTime" value="yes">


        <div class="form-group">
            {{submitButton|safe}}{{completeLink|safe}}

        </div>

      </form>

    </div>
  </div>
  <details>

  <summary><span class="summary">Thoughts for this task list item</span></summary>

  <div class="panel panel-border-narrow">
  <p>As a user I want to:</p>
  <ul>
  <li> - enter costs I know from reading the guidance</li>
  <li> - add details of how I got to my costings<li>
  <li> - call to find out costs<li>
  <li> - edit the cost I was given over the phone, by adding the cost of a single activity I know the cost of<li>
  <li> - add details of how I got to my new costings<li>
  <li> - as a user I want to come back to this page when the phone lines are open</li>
</ul>
  </div>
  </details>
</main>

{% endblock %}
