{% set facilities = 
  [
    {
    "text": "Installation",
    "hint": "Facilities which carry out industrial processes like refineries, food and drink factories and intensive farming activities",
    "value": "installation"
    },
    {
    "text": "Waste operation",
    "hint": "For example, transfer stations, waste treatment, recycling and composting",
    "value": "Waste treatment"
    },
    {
      "text": "Landfill and deposit for recovery",
      "hint": "",
      "value": "landfill"
    },
    {
    "text": "Mining waste operation",
    "hint": "",
    "value": "mining"
    },	
    {
    "text": "Water discharge activity",
    "hint": "For example, sewage, industrial or trade discharge, clearing water channels",
    "value": "water"
    },
    {
    "text": "Groundwater activity",
    "hint": "",
    "value": "groundwater"
    }
  ]
 -%}
