{% extends "layout_unbranded.html" %}

{% block page_title %}
	Application for an environmental permit: part B12 new bespoke permit
{% endblock %}

{% block content %}

{% include folder+"/selectpermit/styles/guide-styles.txt" %}
<header class="page-header">
</header>
<header role="banner" id="global-header" class=" with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content"> <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK </a>
            </div>
						<a href="#search" class="search-toggle js-header-toggle">Search</a>
            <form id="search" class="site-search" action="/search" method="post" role="search">
                <div class="content"> <label for="site-search-text">Search</label> <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"> <input class="submit" type="submit" value="Search"> </div>
            </form>
        </div>
        <div class="header-proposition">
            <div class="content"> <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                <nav id="proposition-menu" class="no-proposition-name">
                    <ul id="proposition-links">
                        <li> <a class="" href="/government/organisations">Departments</a> </li>
                        <li> <a class="" href="/government/world">Worldwide</a> </li>
                        <li> <a class="" href="/government/how-government-works">How government works</a> </li>
                        <li> <a class="" href="/government/get-involved">Get involved</a> </li>
                        <li class="clear-child"> <a class="" href="/government/policies">Policies</a> </li>
                        <li> <a class="" href="/government/publications">Publications</a> </li>
                        <li> <a class="" href="/government/publications?publication_filter_option=consultations">Consultations</a> </li>
                        <li> <a class="" href="/government/statistics">Statistics</a> </li>
                        <li> <a class="" href="/government/announcements">Announcements</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<main id="content" role="main" class="data-exchange-protocol">
	
	<div class="grid-row">
		<div class="column-two-thirds">
	<div class="heading">
		<p class="type font-medium">Form</p>
		<h1 class="bold-large">Application for an environmental permit: part B12 new bespoke permit</h1>
	</div>
	
		<p class="lede">Complete if you are applying online for a new besoke permit.</p>
		
	</div>
</div>
		
			<hr style="margin:0 0 1em 0">
			
			<div class="grid-row">
				<div class="column-two-thirds">
	<div id="meta">

		<p>
			Published 6 April 2018
		</p>
		<p>
			Last updated 6 April 2018
		</p>
		<p>
			From: Environment Agency and Department for Environment, Food &amp; Rural Affairs</span>
		</p>

	</div>


	
	</div>
</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			
			<div class="blue-box">
		      <span>Applies to:</span> England
		  </div>


<h2 class="file-heading" id="documents">Documents</h2>

{% set formb12URL = "/public/images/forms/Part-B12-EPR-bespoke-permit-application-min-combined.pdf" %}
{% set guidanceURL = "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/694771/Form-guidance-EPB-Application-for-an-environmental-permit-Part-B2.pdf" %}
		
<section class="attachment">

		<div class="attachment-thumb">
				<a class="thumbnail" href="{{formb12URL}}">
				<img src="/public/images/forms/thumbnail_form.png">
				</a>
  	</div>
		
		<div class="attachment-details">
			<a href="{{formb12URL}}">
			<h3 class="font-medium files-description">Part B12: apply online for a bespoke environmental permit</h3>
			</a>
			<p class="font-xxsmall">Ref: LIT 6773<br>
				PDF, 715KB, 8 pages</p>
			<p class="font-xxsmall">This file may not be suitable for users of assistive technology. <a href="#">Request an accessible format</a>.</p>
		</div>
		
</section>

<section class="attachment">

		<div class="attachment-thumb">
				<a class="thumbnail" href="{{guidanceURL}}">
				<img src="/public/images/forms/thumbnail_form.png">
				</a>
  	</div>
		
		<div class="attachment-details">
			<a href="{{guidanceURL}}">
			<h3 class="font-medium files-description">Guidance for part B12</h3>
			</a>
			<p class="font-xxsmall">Ref: LIT 6773<br>
				PDF, 715KB, 8 pages</p>
			<p class="font-xxsmall">This file may not be suitable for users of assistive technology. <a href="#">Request an accessible format</a>.</p>
			<p>&nbsp;</p>
		</div>
		
</section>



<section class="text">
	<h2 class="file-heading" id="details">Details</h2>
		<p>Use this form B12 as part of your online application for a new environmental permit.</p>
		<p>This is one part of the Environmental Permitting Regulations (EPR) permit application form pack.</p>
</section>
	
		</div>
		
		<div class="column-third">
			<nav class="contextual-info" id="page-navigation">
				<hr style="margin-top:0">
				<h2 class="heading-medium" style="margin-top:0">Related content</h2>
				<p>Explore the topic</p>
				<p><a href="#">Environmental permits</a></p>
				<p><a href="#">Policy</a></p>
				<p><a href="#">Business and the environment</a></p>
				<hr>

			</nav>
			

		</div>
		
		
	</div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}
